@model CPS_Solution.Areas.Admin.Models.ProductParserCreator
@{
    ViewBag.Title = "Parser Laptop";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section headScript
{
    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/reset.css")" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/fluid.css")" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.theme.css")" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.css")" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/demo.css")" media="screen" />

    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js"></script>
    <!-- Plugin Files -->
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.placeholder.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.icons.js"></script>
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>
    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js"></script>

    <!--  Demo JavaScript Files popup Ui Popup 
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.ui.js"></script>-->
    <!-- jGrowl Plugin   -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.css" media="screen" />

    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/AreaAdmin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/demo/demo.form.js")"></script>
    <!-- Chosen Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.jquery.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.css")" media="screen" />

    <!----------------------------- Lên datatable Plugin------------------------------------------>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.debouncedresize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.metadata.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Rating", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">3</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul>
                    <li>
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                    <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                    <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li style="background-color: #a6d037;">

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">2</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/file_cabinet.png")" alt="File Handling" />
                    </span>
                    <strong>Quản lí từ điển</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/alias.png")" alt="" />
                            <strong>Tạo mới trường</strong>
                        </a>

                    </li>
                    <li>

                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/dic2.png")" alt="" />
                            <strong>Danh sách các trường</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Index", "FillWeightHardWare")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

}
@section mainHeader
{
    <ul>
        <li style="margin-right: 5px"><a style="cursor: default; font-size: 23px;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Sản phẩm đề xuất</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("CreateProductParser", "Recommend")" style="font-size:20px;font-style:italic;text-decoration:underline">Xử lý đề xuất<a>
        </li>
    </ul>
}


@section footScript
{
    <!-- Wizard Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/core/plugins/dandelion.wizard.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Scripts/getXPathProduct.js")"></script>
    <script type="text/javascript">
        var existed = @TempData["existed"] ;
        var recommendId = @TempData["idRecommendProduct"];
        if (existed) {
            if (confirm("Parser đã tồn tại, bạn có muốn sử dụng lại không ?") == true) {
                     @{
                         CPS_Solution.EntityFramework.ParseInfo info = (CPS_Solution.EntityFramework.ParseInfo)TempData["parseInfo"];
                         if (info == null)
                         {
                             return;
                         }
                         }
                var $productName = $('#xpathProductName');
                var $price = $('#xpathPrice');
                var $cpu = $('#xpathCPU');
                var $hdd = $('#xpathHDD');
                var $vga = $('#xpathVGA');
                var $ram = $('#xpathRAM');
                var $image = $('#xpathImage');
                var $display = $('#xpathDisplay');
                $productName.val("@Html.Raw(info.Name)");
                $image.val("@Html.Raw(info.ImageXpath)");
                $price.val("@Html.Raw(info.PriceXPath)");
                $cpu.val("@Html.Raw(info.CPUXPath)");
                $vga.val("@Html.Raw(info.VGAXPath)");
                $hdd.val("@Html.Raw(info.HDDXPath)");
                $ram.val("@Html.Raw(info.RAMXPath)");
                $display.val("@Html.Raw(info.DisplayXPath)");      
                $('#Parseform').submit();
            } 
                  
        }
    </script>
}
<!-- Content Area -->

<div class="grid_4">
    <div class="da-panel">
        <div class="da-panel-header">
            <span class="da-panel-title">
                <img src="@Url.Content("~/Areas/Admin/Dandelion/Areas/Admin/Dandelion/images/icons/black/16/pencil.png")" alt="">
                Địa chỉ website cần parse
            </span>
        </div>
        <div class="da-panel-content">
            @using (Html.BeginForm("LoadWebProduct", "Recommend", FormMethod.Post, new { @class = "da-form" }))
            {
                var model = @Model;
                <div id="da-ex-val1-error" class="da-message error" style="display: none;"></div>
                <div class="da-form-inline">
                    <div class="da-form-row">
                        <label>Link cần lấy<span class="required">*</span></label>
                        <div class="da-form-item large">
                            @Html.TextBoxFor(x => x.ParseProductLink, new { placeholder = "Nhập link cần parse", Value = TempData["link"], required = "required", id = "linkPreview", disabled = "disabled" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@if (TempData["link"] != null)
{ 
    <div class="grid_4">
        <div class="da-panel">
            <div class="da-panel-header">
                <span class="da-panel-title">
                    <img src="@Url.Content("~/Areas/Admin/Dandelion/Areas/Admin/Dandelion/images/icons/color/wand.png")" alt="" />
                    Các bước tạo parser
                </span>

            </div>
            <div class="da-panel-content">
                @using (Html.BeginForm("CreateProductParser", "Recommend", FormMethod.Post, new { id = "Parseform", @class = "da-form" }))
                {
                    <input type="hidden" name="ParseProductLink" value="@TempData["link"]"/> 
                    <input type="hidden" name="RecommendProductId" value="@TempData["idRecommendProduct"]"/>     
                    <fieldset class="da-form-inline" data-name="type" data-step-id="0">
                        <legend>Loại Parser</legend>
                        <div class="da-form-row">
                            <label>Kiểu <span class="required">*</span></label>
                            <div class="da-form-item large">
                                <ul class="da-form-list normal">
                                    <li>
                                        <input type="radio" value="table" name="viewType" id="rad_tabularView" checked="checked" />
                                        <label>Dạng bảng</label></li>
                                    <li>
                                        <input type="radio" value="grid" name="viewType" id="rad_gridView" />
                                        <label>Dạng lưới</label></li>
                                </ul>
                                <label for="package" class="error" generated="true" style="display: none"></label>
                            </div>

                        </div>
                    </fieldset>									
                    <fieldset class="da-form-inline" data-name="divInfo" data-step-id="1">
                        <legend>Khung Thông Tin</legend>
                        <div class="da-form-row">
                            <label>Xpath tới khung thông tin</label>
                            <div class="da-form-item large">
                                <input type="text" id="xpathTile" />
                            </div>
                        </div>
                    </fieldset>    									
                    <fieldset class="da-form-inline" data-name="productName" data-step-id="2">
                        <legend>Tên</legend>
                        <div class="da-form-row">
                            <label>Xpath tới tên sản phẩm <span class="required">*</span></label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.ProductNameXpath, new { id = "xpathProductName" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="da-form-inline" data-name="price" data-step-id="3">
                        <legend>Giá</legend>
                        <div class="da-form-row">
                            <label>Xpath tới giá sản phẩm <span class="required">*</span></label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.PriceXpath, new { id = "xpathPrice" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="da-form-inline" data-name="image" data-step-id="4">
                        <legend>Hình ảnh</legend>
                        <div class="da-form-row">
                            <label>Xpath tới ảnh sản phẩm <span class="required">*</span></label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.ImageXpath, new { id = "xpathImage" })
                            </div>
                        </div>
                    </fieldset>				
                    <fieldset class="da-form-inline" data-name="cpu" data-step-id="5">
                        <legend>CPU</legend>
                        <div class="da-form-row">
                            <label>Xpath tới CPU</label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.CPUXpath, new { id = "xpathCPU" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="da-form-inline" data-name="vga" data-step-id="6">
                        <legend>VGA</legend>
                        <div class="da-form-row">
                            <label>Xpath tới VGA</label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.VGAXpath, new { id = "xpathVGA" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="da-form-inline" data-name="hdd" data-step-id="7">
                        <legend>HDD</legend>
                        <div class="da-form-row">
                            <label>Xpath tới Dung lượng đĩa cứng</label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.HDDXpath, new { id = "xpathHDD" })
                            </div>
                        </div>
                    </fieldset>
                                            
                    <fieldset class="da-form-inline" data-name="ram" data-step-id="8">
                        <legend>RAM</legend>
                        <div class="da-form-row">
                            <label>Xpath tới Bộ nhớ</label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.RAMXpath, new { id = "xpathRAM" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="da-form-inline" data-name="display" data-step-id="9">
                        <legend>Display</legend>
                        <div class="da-form-row">
                            <label>Xpath tới Màn hình</label>
                            <div class="da-form-item large">
                                @Html.TextBoxFor(x => x.DisplayXpath, new { id = "xpathDisplay" })
                            </div>
                        </div>
                    </fieldset>         
										
                    <fieldset class="da-form-inline" data-name="finish" data-step-id="10">
                        <legend>Xác nhận</legend>
                        <div class="da-form-row">
                            <h1>Bạn chắc chắc với những gì đã chọn? </h1>
                            <input type="button" id="previewbtn" value="Xem Trước" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div id="previewParser">
    </div>
    <div class="grid_4">
        <iframe id="webDiv" src="@Url.Content("~/Areas/Admin/SavedPages/ProductTmp.html")" width="1043" height="600"></iframe>
    </div>       
            
}
<script>
    //Xem trước sản phẩm
    var $productName = $('#xpathProductName');
    var $price = $('#xpathPrice');
    var $cpu = $('#xpathCPU');
    var $hdd = $('#xpathHDD');
    var $vga = $('#xpathVGA');
    var $ram = $('#xpathRAM');
    var $image = $('#xpathImage');
    var $display = $('#xpathDisplay');
    var $parseLink = $('#linkPreview');
    $(document).on('click', '#previewbtn', function(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadPreview", "Recommend")',
            data: {
                parseLink:$parseLink.val(),
                name : $productName.val(),
                price : $price.val(),
                hdd: $hdd.val(),
                vga: $vga.val(),
                ram: $ram.val(),
                cpu: $cpu.val(),
                display: $display.val(),
                image: $image.val(),
            },
            success: function (result) {
                $('#previewParser').css("z-index", "1000");
                $('#previewParser').html(result);
                $("#previewParser").dialog({
                    autoOpen: false, 
                    title: "Xem trước các thành phần", 
                    width: "800", 
                    modal: true             
                    //buttons: [{
                    //    text: "Đóng", 
                    //    click: function() {
                    //        $( this ).dialog( "close" );
                    //    }}]
                });
                $("#previewParser").dialog("option", {modal: true}).dialog("open");
                event.preventDefault();
            }
        })
    })
</script>
