@model CPS_Solution.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section navigator
{

}

<div class="page-element gray-element standard-element-container-2" style="margin-top: 100px; background: none">
    <div class="container">
        <div class="top-left" style="padding: 60px; color: white">
            <div>
                Bạn chưa có tài khoản? <a style="color:#fff" class="highlight" href="@Url.Action("Register", "Account")" Title="Đến trang đăng ký">Đăng ký ngay!</a>
            </div>
        </div>

        <div class="container fadeDown" style="padding-top: 10px; padding-bottom: 110px">
            <div class="span5">
                @using (Html.BeginForm("LogOn","Account",new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null ,new { @class="bg-white-input" })

                    <fieldset>
                        <legend class="titlespec">
                            <text style="margin-left: 10px">ĐĂNG NHẬP</text>
                        </legend>
                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Tên Tài Khoản
                                <span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.TextBoxFor(model => model.UserName, new { @class = "text-box", @placeholder = "Nhập tên tài khoản", @maxlength = 36, style = "width:60%" })</span>
                            <br />
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.UserName)</span>
                        </div>
                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Mật khẩu
                                <span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.PasswordFor(model => model.Password, new { @class = "text-box", @placeholder = "Nhập mật khẩu", @maxlength = 36, style = "width:60%" })
                            </span>
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.Password)</span>
                        </div>

                        <div class="input-control checkbox" style="margin-left: 80%">
                            <label style="color: #fff">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <span class="check"></span>
                                Ghi nhớ
                            </label>
                        </div>
                        <div class="metro">
                            <button type="submit" class="warning pull-right">
                                <i class="icon-checkmark"></i>
                                Đăng nhập
                            </button>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="span8"></div>
        </div>
    </div>
</div>
