@model CPS_Solution.Areas.Admin.Models.ProductCreateAttribute
@{
    ViewBag.Title = "Tạo Parser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headScript
{
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/core/dandelion.core.js")"></script>
    <!-- Chosen Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.jquery.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.css")" media="screen" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/elastic/jquery.elastic.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/demo/demo.form.js")"></script>

    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js")"></script>
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.fileinput.js")"></script>
}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="/admin/ViewRating">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">7</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                           </li>
                           <li>
                         <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul>
                    <li style="background-color: #a6d037;">
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                     <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                      <li>
                        <a href="@Url.Action("Index", "ViewSearchNotFound")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử tìm kiếm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "ManagerStore")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/color/asterisk_orange.png")" alt="" />
                            <strong>Quản lý cửa hàng</strong>
                        </a>
                    </li>

                </ul>
            </li>
            
            <li>
                <a href="#">
                    <!-- Icon Container -->
                      <span class="da-nav-count">1</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Index", "FillWeightHardWare")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">4</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li >
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
@section mainHeader
{
    <ul>
        <li style="margin-right: 5px"><a style="cursor: default;font-size:27px;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Quản lý Laptop</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("CreateProductTest", "Product")" style="font-size:20px;font-style:italic;text-decoration:underline">Tạo mới Laptop</a>
        </li>
    </ul>
}

@section footScript
{
    <!-- Chosen Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.jquery.js")"></script>
}

<div class="grid_4">
    <div class="da-panel">
        <div class="da-panel-header">
            <span class="da-panel-title">
                <img src="~/Areas/Admin/Dandelion/images/icons/white/16/list.png" />
                Thành Phần Cấu Hình Sản Phẩm
            </span>
        </div>
        <div class="da-panel-content">
            @using (Html.BeginForm("CreateProductTest", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "da-form" }))
            {       
                <div class="da-form-row " style="width: 50%; float: left">
                    <label>Tên Sản Phẩm</label>
                    <div class="da-form-item large">
                        @Html.TextBoxFor(x => x.Name)
                    </div>
                </div>
                                     
                <div class="da-form-row " style="width: 50%; float: right">
                    <label>Vi xử lý</label>
                    <div class="da-form-item large">
                        <span class="formNote">Danh sách các CPU</span>
                        @Html.DropDownListFor(x => x.CpuId, ViewBag.cpuList as List<SelectListItem>, new { @class = "chzn-select" })
                    </div>
                </div> 
                <div class="clear"></div>
                                    
                <div class="da-form-row " style="width: 50%; float: left">
                    <label>Link liên quan</label>
                    <div class="da-form-item large">
                        @Html.TextBoxFor(x => x.Parselink)
                    </div>
                </div>   
                <div class="da-form-row " style="width: 50%; float: right">
                    <label>Bộ Nhớ</label>
                    <div class="da-form-item large">
                        <span class="formNote">Danh sách các Ram</span>
                        @Html.DropDownListFor(x => x.RamId, ViewBag.ramList as List<SelectListItem>, new { @class = "chzn-select" })
                    </div>
                </div> 
                <div class="clear"></div>
                <div class="da-form-row " style="width: 50%; float: left">
                    <label>Giá sản phẩm</label>
                    <div class="da-form-item large">
                        @Html.TextBoxFor(x => x.Price)
                    </div>
                </div>  
                <div class="da-form-row " style="width: 50%; float: right">
                    <label>Ổ Đĩa Cứng</label>
                    <div class="da-form-item large">
                        <span class="formNote">Danh sách các HDD</span>
                        @Html.DropDownListFor(x => x.HddId, ViewBag.hddList as List<SelectListItem>, new { @class = "chzn-select" })
                    </div>
                </div>
                <div class="clear"></div>
                                    
                <div class="da-form-row " style="width: 50%; float: left">
                    <label>Hình sản phẩm</label>
                    <div class="da-form-item large">
                        <span class="formNote">Hệ thống sẽ <strong>tự động </strong>tải ảnh mặc định khi trường rỗng.</span>
                        <input type="file" name="file" class="da-custom-file" accept="image/*" />
                    </div>

                </div> 
                <div class="da-form-row " style="width: 50%; float: right">
                    <label>Card đồ họa</label>
                    <div class="da-form-item large">
                        <span class="formNote">Danh sách các VGA</span>
                        @Html.DropDownListFor(x => x.VgaId, ViewBag.vgaList as List<SelectListItem>, new { @class = "chzn-select" })
                    </div>
                </div>
                <div class="clear"></div>
                                    
                                                                      
                <div class="da-form-row " style="width: 50%; float: left">
                    <label>Tên gọi khác</label>
                    <div class="da-form-item large">
                    </div>
                </div>
                <div class="da-form-row " style="width: 50%; float: right">
                    <label>Màn hình</label>
                    <div class="da-form-item large">
                        <span class="formNote">Danh sách các loại màn hình</span>
                        @Html.DropDownListFor(x => x.DisplayId, ViewBag.displayList as List<SelectListItem>, new { @class = "chzn-select" })
                    </div>
                </div>
                <div class="clear"></div>
                <div class="da-form-row">
                    <label>Mô tả chi tiết</label>
                    <div class="da-form-item">
                        <span class="formNote">Chi tiết sản phẩm</span>
                        @Html.TextAreaFor(x => x.Description, new { rows = "auto", cols = "auto" })
                    </div>
                </div>
                <div class="da-button-row">
                    <input type="reset" value="Reset" class="da-button gray left" />
                    <input type="submit" value="Submit" class="da-button blue" />
                </div>
            }

        </div>
    </div>
</div>

