@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;s
@{
    ViewBag.Title = "deleteproduct";
    Layout = null;
    List<LapData> list = ViewBag.listproduct;
    List<LapData> listError = ViewBag.listerror;
    List<List<LapData>> listDup = ViewBag.listduplicate;
    // danh sách lỗi khi lỗi quá nhiều
    List<LapData> danhsachlaploi = ViewBag.danhsachlaploi;
    int countlistdup = 0;
    int countlist = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
    if (list != null)
    {
        countlist = list.Count;
    }
    List<List<LapData>> listDupnew = ViewBag.listduplicatenew;
    int countlistdup1 = 0;
    if (listDupnew != null)
    {
        countlistdup1 = listDupnew.Count;
    }
    // dòng bị lỗi
    List<String> errorLineLap = ViewBag.errorLineLap;
    int sodongloi = 0;
    String[] loiName = null; int checkName = 0;
    String[] loiImageLink = null;
    String[] loiDisplay = null;
    String[] loiCPU = null;
    String[] loiHDD = null;
    String[] loiVGA = null;
    String[] loiRam = null;
    if (errorLineLap != null)
    {
        // số dòng bị lỗi
        sodongloi = Convert.ToInt32(errorLineLap[0]);
        // lỗi Name
        loiName = errorLineLap[1].ToString().Split(',');
        // lỗi link image
        loiImageLink = errorLineLap[2].ToString().Split(',');
        // lỗi Name
        loiDisplay = errorLineLap[3].ToString().Split(',');
        // lỗi Name
        loiCPU = errorLineLap[4].ToString().Split(',');
        // lỗi Name
        loiHDD = errorLineLap[5].ToString().Split(',');
        // lỗi Name
        loiVGA = errorLineLap[6].ToString().Split(',');
        // lỗi Name
        loiRam = errorLineLap[7].ToString().Split(',');
    }
}
<!-- Demo JavaScript Files -->
<script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
  <!-------------------------------------------------------------------------------------------> 
                <div class="da-panel collapsible">
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách để lưu vào cơ sở dữ liệu
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <div id="da-ex-datatable-numberpaging_wrapper" class="dataTables_wrapper" role="grid">


                            <table id="da-ex-datatable-numberpaging" class="da-table dataTable" aria-describedby="da-ex-datatable-numberpaging_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 40px;">STT</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên máy</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Địa chỉ ảnh</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">CPU</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">VGA</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">HDD (G)</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Display</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Ram (G)</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 50px;">Thực hiện</th>
                                    </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all">

                                     @if (list != null)
                                     {
                                         foreach (LapData p in list)
                                         {
                                        <tr class="odd">
                                            @*     <form id="form10" action="/Home/deleteproduct" method="post" enctype="multipart/form-data">*@
                                            <td class=" sorting_1">@p.stt </td>
                                            <td class=" ">@p.Name</td>
                                            <td class=" ">@p.Imagelink</td>                                      
                                            <td class=" ">@p.CPU</td>
                                            <td class=" ">@p.VGA</td>
                                            <td class=" ">@p.HDD</td>
                                            <td class=" ">@p.Display</td>
                                            <td class=" ">@p.RAM</td>
                                            <td class=" ">
                                                <input name="sttproduct" type="hidden"  value="@p.stt" />
                                                <a onclick="xoasanphamdung(@p.stt)">
                                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/cross.png">
                                                    Xóa</a></td>

                                            @*</form>*@
                                        </tr>
                                         }
                                     }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             
                <!--ket thuc tab1------------------------------------------------------------------------------------------->  
                        