@model CPS_Solution.Models.ChangePasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_UserPage.cshtml";

    string passwordState = (string)TempData["State"];
    string passwordMes = (string)TempData["Message"];
}

<div class="container" style="margin-top: -10px;">
    <div class="main-content" style="padding: 40px 20px 20px;">
        @if (passwordState == "Success")
        {
            <div class="message-box ok-message-box clearfix">
                <div class="message-icon-box">
                    <i class="icon-ok"></i>
                </div>

                <div class="message-container">
                    <h3 class="ProductNameDetail">@passwordMes</h3>
                </div>
            </div>
        }
        else if (passwordState == "Fail")
        {
            <div class="message-box warning-message-box clearfix">
                <div class="message-icon-box">
                    <i class="icon-exclamation"></i>
                </div>

                <div class="message-container">
                    <h3>@passwordMes</h3>
                </div>
            </div>
        }
        <div class="span5">
            <p>Thay đổi mật khâu</p>
                @using (Html.BeginForm("ChangePassword", "Account"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)

                    <div class="bg-white-input" style="margin: 0px">
                        <span class="lbl-input" style="width: 32%; color: black; font-size: 11px">Tên Tài Khoản</span>
                        <span style="width: 65%;">
                            @Html.TextBoxFor(m => m.Username, new { disabled = "disabled", style = "width: 65%" })
                        </span>

                    </div>
                    <div class="bg-white-input" style="margin: 0px">
                        <span class="lbl-input" style="width: 32%; color: black; font-size: 11px">Mật khẩu cũ</span>
                        <span>
                            @Html.PasswordFor(model => model.Password, new { @class = "text-box", @placeholder = "Mật khẩu cũ", @maxlength = 36, style = "width:65%" })
                        </span>
                        <span class="text-warning">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                    <div class="bg-white-input" style="margin: 0px">
                        <span class="lbl-input" style="width: 32%; color: black; font-size: 11px">Mật khẩu mới</span>
                        <span>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "text-box", @placeholder = "Mật khẩu mới", @maxlength = 36, style = "width:65%" })
                        </span>
                        <span class="text-warning">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                    </div>

                    <div class="metro" style="margin-left: 55%">
                        <button type="submit" class="primary">
                            <i class="icon-checkmark"></i>
                            Đổi mật khẩu
                        </button>
                    </div>
                }
            </div>
    </div>
</div>
