@model CPS_Solution.Models.ChangePasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_UserPage.cshtml";

    //string passwordState = (string)TempData["State"];
    //string passwordMes = (string)TempData["Message"];
}

<div class="main-content">
    <div class="span8">
        <div class="message-box info-message-box">
            <center><strong>THAY ĐỔI MẬT KHẨU</strong></center>
        </div>
        <div class="fadeLeft">
            @using (Html.BeginForm("ChangePassword", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)

                <div class="bg-white-input" style="margin-left: 100px">
                    <span class="lbl-input" style="width: 20%; color: black; font-size: 14px">Tên Tài Khoản</span>
                    <span style="width: 65%;">
                        @Html.TextBoxFor(m => m.Username, new { disabled = "disabled", style = "width: 45%" })
                    </span>

                </div>
                <div class="bg-white-input" style="margin-left: 100px">
                    <span class="lbl-input" style="width: 20%; color: black; font-size: 14px">Email</span>
                    <span style="width: 65%;">
                        @Html.TextBoxFor(m => m.Email, new { disabled = "disabled", style = "width: 45%" })
                    </span>

                </div>
                <div class="bg-white-input" style="margin-left: 100px">
                    <span class="lbl-input" style="width: 20%; color: black; font-size: 14px">Mật khẩu cũ</span>
                    <span>
                        @Html.PasswordFor(model => model.Password, new { @class = "text-box", @placeholder = "Mật khẩu cũ", @maxlength = 36, style = "width:45%" })
                    </span>
                    <span class="text-warning">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="bg-white-input" style="margin-left: 100px">
                    <span class="lbl-input" style="width: 20%; color: black; font-size: 14px">Mật khẩu mới</span>
                    <span>
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "text-box", @placeholder = "Mật khẩu mới", @maxlength = 36, style = "width:45%" })
                    </span>
                    <span class="text-warning">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                </div>
                if ((string)TempData["Status"] == null) { 
                    <div></div>
                }
                else if ((string)TempData["Status"] == "Fail")
                {
                    <div class="message-box warning-message-box">
                        <center>@TempData["Message"]</center>
                    </div>
                } else 
                {
                    <div class="message-box info-message-box">
                        <center>@TempData["Message"]</center>
                    </div>
                }
                <div class="metro">
                    <center>
                        <button type="submit" class="success">
                            <i class="icon-checkmark"></i>
                            Đổi mật khẩu
                        </button>
                    </center>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).on("ready", function () {
        
    })
</script>