@model CPS_Solution.Models.RegisterModel

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#order-summary").hide();
    });
</script>

<div class="page-element gray-element standard-element-container-2" style="margin-top: 100px; background: none">
    <div class="container">
        <div class="top-left" style="padding: 60px; color: white">
            <div>
                Bạn đã có tài khoản? <a style="color:#fff" class="highlight" href="@Url.Action("Login", "Account")" Title="Đến trang đăng nhập">Đăng Nhập!</a>
            </div>
        </div>

        <div class="container fadeDown" style="padding-top: 10px; padding-bottom: 110px">
            <div class="span5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @style="color:#fff" })

                    <fieldset>
                        <legend class="titlespec">
                            <text style="margin-left: 10px">ĐĂNG KÝ TÀI KHOẢN</text>
                        </legend>
                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Tên Tài Khoản
                                <span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.TextBoxFor(model => model.UserName, new { @class = "text-box", @placeholder = "Nhập tên tài khoản", @maxlength = 36, style = "width:60%" })</span>
                            <br />
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.UserName)</span>
                        </div>
                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Mật khẩu
                                <span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.PasswordFor(model => model.Password, new { @class = "text-box", @placeholder = "Nhập mật khẩu", @maxlength = 36, style = "width:60%" })
                            </span>
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.Password)</span>
                        </div>

                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Xác nhận mật khẩu <span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "text-box", @placeholder = "Nhập lại mật khẩu", style = "width:60%" })</span>
                            <br />
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                        </div>
                        <div class="bg-white-input">
                            <span class="lbl-input" style="width: 40%">Email<span class="lbl-require" style="display: normal">[*]</span>
                            </span>
                            <span>@Html.TextBoxFor(model => model.Email, new { @class = "text-box", @placeholder = "Email", style = "width:60%" })</span>
                            <br />
                            <span class="text-warning">@Html.ValidationMessageFor(m => m.Email)</span>
                        </div>
                        <div class="metro">
                            <button type="submit" class="primary pull-right">
                                <i class="icon-checkmark"></i>
                                Đăng ký
                            </button>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="span8"></div>
        </div>
    </div>
</div>

