@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<HardwareConfirm> listOfHardware = ViewBag.listOfHardware;
}

@section headScript
{

    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <!-- Plugin Files -->
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>

    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.css")" media="screen" />
    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/demo/demo.tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/demo/demo.form.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/chosen/chosen.jquery.js")"></script>
    <!-- Chosen Plugin -->
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Rating", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">3</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul>
                    <li>
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                    <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                    <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                    </li>
                    <li style="background-color: #a6d037;">
                        <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">2</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/file_cabinet.png")" alt="File Handling" />
                    </span>
                    <strong>Quản lí từ điển</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/alias.png")" alt="" />
                            <strong>Tạo mới trường</strong>
                        </a>

                    </li>
                    <li>

                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/dic2.png")" alt="" />
                            <strong>Danh sách các trường</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Index", "FillWeightHardWare")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

}
@section mainHeader
{
    <ul>
        <li style="margin-right: 5px"><a style="cursor: default; font-size: 27px;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Xác nhận</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("Index", "ConfirmNewHardware")" style="font-size:20px;font-style:italic;text-decoration:underline">Linh kiện mới</a>
        </li>
    </ul>
}
@section footScript
{

}


<!----------------------------------------------- Content Area --------------------------------------------->
<div class="grid_4">
    <div class="clear"></div>
    <div id="idTable">
        <div class="da-panel collapsible">
            <div class="da-panel-header">
                <span class="da-panel-title">
                    <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                    Kích hoạt hoặc ánh xạ thành phần mới.
                </span>

                <span class="da-panel-toggler"></span>
            </div>
            <div class="da-panel-content">
                <div id="da-ex-datatable-numberpaging_wrapper" class="dataTables_wrapper" role="grid">


                    <table id="da-ex-datatable-numberpaging" class="da-table dataTable" aria-describedby="da-ex-datatable-numberpaging_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 40px;">ID</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên Thành phần</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Loại</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">Trọng số</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">Lap chứa thành phần</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">Kích Hoạt</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 50px;">Thực hiện</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">



                            @if (listOfHardware != null)
                            {
                                foreach (HardwareConfirm h in listOfHardware)
                                {
                                <tr id="IdTr@(h.IdHardware)" class="odd">

                                    <td class=" sorting_1">@h.IdHardware</td>
                                    <td class=" ">
                                        <label style="width: 100px;">@h.NameHardware</label></td>
                                    <td class=" ">
                                        <label style="width: 100px;" id="hiddenCodetype">@h.CodetypeHardware</label>

                                    </td>

                                    <td class=" ">
                                        <label style="width: 100px;">@h.WeightHardware</label></td>
                                    <td class=" ">
                                        <label style="width: 100px;">@h.NameProduct</label></td>
                                    <td class=" ">
                                        <input style="width:52px" onclick="ActiveHardware(@h.IdHardware)" value="Kích Hoạt" class="da-button green">
                                    </td>
                                    <td class=" ">
                                        <input name="idproduct" type="hidden"  value="@h.IdProduct" />
                                        <a onclick="showPopupEdit(@h.IdHardware);">
                                            <img src="~/Areas/Admin/Dandelion/images/icons/color/pencil.png">
                                            Mapping</a>
                                        <!----------------Popup sửa sản phẩm đúng----------->
                                        <div id="Edit-@h.IdHardware-Popup-div" style="display: none;">
                                            <div class="da-panel">
                                                <div class="da-panel-content">
                                                    <form class="da-form">
                                                        <div class="da-form-inline">
                                                            <div hidden class="da-form-row">
                                                                <label>Laptop</label>
                                                                <div class="da-form-item">
                                                                    <span class="formNote">Laptop chứa thành phần</span>
                                                                    <input disabled id="idNameProduct@(h.IdHardware)" value="@h.NameProduct" type="text">
                                                                    <input hidden id="idproduct@(h.IdHardware)" value="@h.IdProduct" type="text">
                                                                </div>
                                                            </div>
                                                            <div hidden class="da-form-row">
                                                                <label>Tên</label>
                                                                <div class="da-form-item">
                                                                    <span class="formNote">Tên thành phần</span>
                                                                    <input disabled id="idCodetypeHard@(h.IdHardware)"  value="@h.NameHardware" type="text">
                                                                </div>
                                                            </div>
                                                            @if (h.CodetypeHardware == "CPU")
                                                            {
                                                                <div class="da-form-row">
                                                                    <label>Bộ Nhớ</label>
                                                                    <div class="da-form-item">
                                                                        <span class="formNote">Danh sách các CPU</span>
                                                                        @Html.DropDownList("CPUList", ViewBag.cpuList as List<SelectListItem>, new { @class = "chzn-select", id = @h.IdHardware, @style = "width: 250px;" })
                                                                    </div>
                                                                </div> 
                                                            }
                                                            else if (h.CodetypeHardware == "VGA")
                                                            {
                                                                <div class="da-form-row">
                                                                    <label>Card đồ họa</label>
                                                                    <div class="da-form-item">
                                                                        <span class="formNote">Danh sách các VGA</span>
                                                                        @Html.DropDownList("VGAList", ViewBag.vgaList as List<SelectListItem>, new { @class = "chzn-select", id = @h.IdHardware, @style = "width: 250px;" })
                                                                    </div>
                                                                </div> 
                                                            }
                                                            else if (h.CodetypeHardware == "HDD")
                                                            {
                                                                <div class="da-form-row">
                                                                    <label>Ổ Đĩa Cứng</label>
                                                                    <div class="da-form-item">
                                                                        <span class="formNote">Danh sách các HDD</span>
                                                                        @Html.DropDownList("HDDList", ViewBag.hddList as List<SelectListItem>, new { @class = "chzn-select", id = @h.IdHardware, @style = "width: 250px;" })
                                                                    </div>
                                                                </div> 
                                                            }
                                                            else if (h.CodetypeHardware == "RAM")
                                                            {
                                                                <div class="da-form-row">
                                                                    <label>Bộ Nhớ</label>
                                                                    <div class="da-form-item">
                                                                        <span class="formNote">Danh sách các RAM</span>
                                                                        @Html.DropDownList("RAMList", ViewBag.ramList as List<SelectListItem>, new { @class = "chzn-select", id = @h.IdHardware, @style = "width: 250px;" })
                                                                    </div>
                                                                </div> 
                                                            }
                                                            else if (h.CodetypeHardware == "DISPLAY")
                                                            {
                                                                <div class="da-form-row">
                                                                    <span class="formNote">Danh sách các loại màn hình</span>
                                                                    <div class="da-form-item">
                                                                        <span class="formNote">Danh sách các Display</span>
                                                                        @Html.DropDownList("DISPLAYList", ViewBag.displayList as List<SelectListItem>, new { @class = "chzn-select", id = @h.IdHardware, @style = "width: 250px;" })
                                                                    </div>
                                                                </div> 
                                                            }
                                                            <div hidden class="da-form-row">
                                                                <label>Trọng số</label>
                                                                <div class="da-form-item">
                                                                    <span class="formNote">Trọng số phải là số nguyên</span>
                                                                    <input disabled id="idWeightHard@(h.IdHardware)" value="@h.WeightHardware" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="da-button-row">
                                                                <input onclick="EditHardware(@h.IdHardware)" type="button" value="Mapping" class="da-button green">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!----------------Popup------------------>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui-autocomplete').css("z-index", "1000");
    });

</script>


<script>
    //Hiện popup để sửa 1 sản phẩm đúng.
    function showPopupEdit(i){
        $("#Edit-"+i+"-Popup-div").dialog({
            autoOpen: false, 
            title: "Mapping tên thành phần", 
            width: "600", 
            modal: true             
            //buttons: [{
            //    text: "Đóng", 
            //    click: function() {
            //        $( this ).dialog( "close" );
            //    }}]
        });

        $("#Edit-"+i+"-Popup-div").dialog("option", {modal: true}).dialog("open");
        event.preventDefault();
    }

    //Load lại ajax
    function LoadTableAjax()
    {
        var string =  "ok";

        var postData = {stringid: string };
        $.ajax({
            type: "POST",
            url: "/Admin/ConfirmNewHardware/LoadTableAjax",
            data: postData,
            success: function(data){
                $('#idTable').html(data);
            },

        });
    }

    //Kich hoạt 1 phần cứng
    function ActiveHardware(id)
    {
        if (confirm("Bạn có chắc chắn muôn kích hoạt thành phần này?")) {
            var postData = {stringid: id };
            $.ajax({
                type: "POST",
                url: "/Admin/ConfirmNewHardware/ActiveHardware",
                data: postData,
                success: function(data){
                    // LoadTableAjax();
                    document.getElementById("IdTr"+id).style.display='none';
                },

            });
        }else {
                                               
        }
    }

    //
    function EditHardware(stt){   
        var div = document.getElementById(stt+"_chzn");
        var spans = div.getElementsByTagName("span");
        var nameHardware =  spans[0].innerHTML;
        var IdHardware =   $( "#"+stt ).val();
        var ProductID = document.getElementById("idproduct"+stt).value;
        var string = stt+'@@'+IdHardware+'@@'+ProductID;
        
        var postData = {HardInfo: string };
        $.ajax({
            type: "POST",
            url: "/Admin/ConfirmNewHardware/EditHardware",
            data: postData,
            success: function(data){
                LoadTableAjax();
                $("#Edit-"+stt+"-Popup-div").dialog( "close");
            },

        });

    }
    //// Sửa sản phẩm đúng
    //function EditHardware(stt){                               
    //    var Name =  document.getElementById("idNameHard"+stt).value;
    //    var Weight = document.getElementById("idWeightHard"+stt).value;
    //    var IsActive = document.getElementById("IsActive"+stt).value;
    //    var ProductID = document.getElementById("idproduct"+stt).value;
    //    var string = stt +'@@'+Name+'@@'+Weight+'@@'+ IsActive+'@@'+ProductID;
    //    var count =0;                            
    //    // kiểm tra tên
    //    if(Name.length<1||Name.length>100)
    //    {
    //        document.getElementById("idNameHard"+stt).style.borderColor='red';
    //        count++;
    //    }else {
    //        document.getElementById("idNameHard"+stt).style.borderColor="";
    //    }                        
    //    // kiểm tra trọng số
    //    // kiểm tra giá
    //    myFunction(Weight);
    //    function myFunction(Weight) {
    //        val = parseFloat(Weight);
    //        if(isNaN(val)){
    //            document.getElementById("idWeightHard"+stt).style.borderColor='red';
    //            count++;
    //        }else{
    //            document.getElementById("idWeightHard"+stt).style.borderColor="";
    //        }
    //    }                
    //    if(count==0)
    //    {
    //        var postData = {HardInfo: string };
    //        $.ajax({
    //            type: "POST",
    //            url: "/Admin/ConfirmNewHardware/EditHardware",
    //            data: postData,
    //            success: function(data){
    //                // $('#white-icon').html(data);
    //                $("#Edit-"+stt+"-Popup-div").dialog( "close");
    //            },

    //        });
    //    }       
    //    // nếu không phát hiện lỗi thì gửi về controller để xử lý                       
    //}   
</script>
