@model CPS_Solution.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
}

<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Paper Stack</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/login.css")" />
</head>
<body>
    <div class="container">
        <section id="content">
            @using (Html.BeginForm("Login", "Authentication", new { ViewBag.ReturnUrl }, FormMethod.Post))
            {
                
                <h1>Đăng nhập</h1>
                <div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                </div>
                <div>
                    @Html.TextBoxFor(x => x.UserName, new { id = "username", placeholder = "Tài khoản ", required = "" })
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Password, new { id = "password", placeholder = "Mật khẩu", required = "" })
                </div>
                <div>
                    <input type="submit" value="Đăng nhập" />
                    <a href="#">Lost your password?</a>
                    <a href="#">Register</a>
                </div>
            }
            <div class="button">
                <a href="#">Download source file</a>
            </div>
            <!-- button -->
        </section>
        <!-- content -->
    </div>
    <!-- container -->
</body>
</html>
