<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Computer Product Suggestion</title>
	<meta charset="UTF-8" />
	
    @*
    <link rel="stylesheet" type="text/css" href="@Url.Content("")" />
    <script src="@Url.Content("")"></script>
    *@
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/minified.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/owl.theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/responsive.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/jquery.nouislider.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/isotope.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/GFashion/css/innerpage.css")" />

    <script src="@Url.Content("http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/product-list.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/notify.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/jquery-ui-1.8.20.min.js")"></script>
    

</head>
<body class="products-view">
    <div id="page-wrapper">
        <header id="site-header" role="banner">
		<!-- HEADER TOP -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-7"></div>
					<div class="col-xs-12 col-sm-6 col-md-5"> 
						<ul class="actions unstyled clearfix">								
							<li data-toggle="sub-header" data-target="#info">
								<!-- SHOPPING CART -->
								<img id="cart" src="~/Template/GFashion/img/versus.png" style="width:20%; height:20%" />
                                <span id="quantity"><strong>0</strong></span>
								<div id="info" class="sub-header" style="width:300px; margin-right:110px;"></div>
								<!-- // SHOPPING CART -->
							</li>
						</ul>
                    </div>
				</div>
			</div>

			<!-- BEGIN ADD TO CART MESSAGE -->
			<div class="cart-notification">
				<ul class="unstyled"></ul>
			</div>
			<!-- END ADD TO CART MESSAGE -->
		</div>
		<!-- // HEADER TOP -->
		<!-- MAIN HEADER -->
		<div class="main-header-wrapper">
			<div class="container">
				<div class="main-header">
					<!-- USER MENU -->
					<div class="actions">
						<div class="clearfix"></div>
						<!-- USER RELATED MENU -->
						<nav id="tiny-menu" class="clearfix">
							<ul class="user-menu">
								<li><a href="#">My Account</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
						</nav>
						<!-- // USER RELATED MENU -->
					</div>
				
					<!-- SITE LOGO -->
					<div class="logo-wrapper">
						<a href="#" class="logo" title="Computer Product Suggestion">
							<img src="~/Template/GFashion/img/logo.png" alt="Computer Product Suggestion" />
						</a>
					</div>
					<!-- // SITE LOGO -->
                    <!-- SITE NAVIGATION MENU -->
                    <nav id="site-menu" role="navigation">
                        <ul class="main-menu hidden-sm hidden-xs">
                            <li class="active">
                                <a href="#">Menu 1</a>
                            </li>
                            <li>
                                <a href="#">Menu 2</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- // SITE NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- // MAIN HEADER -->
	</header>

        <!-- BODY -->
        @RenderBody()
        <!-- //BODY -->
    </div>

    <footer class="page-footer">
        <div class="widgets">
            <div class="section">
				<div class="container">
					<div class="row">
                        <!-- Contact Info -->
						<div class="col-xs-12 col-sm-12 col-md-9">
							<section class="widget widget-menu">
								<h5 class="widget-title">Contact info</h5>
								<div class="widget-content">
									<ul class="menu iconed-list unstyled">
										<li>
											<span class="list-icon"><i class="round-icon iconfont-map-marker"></i></span>
											<div class="list-content">Lorem ipsum maecenas dapibus luctus euismod 133/2 New York City</div>
										</li>
										<li>
											<span class="list-icon"><i class="round-icon iconfont-phone"></i></span>
											<div class="list-content">(+00)1344356-675</div>
										</li>
										<li>
											<span class="list-icon"><i class="round-icon iconfont-envelope-alt"></i></span>
											<div class="list-content">support@themina.net</div>
										</li>
									</ul>
								</div>
							</section>
						</div>
                        <!-- //Contact Info -->

                        <!-- Newletter -->
						<div class="col-xs-12 col-sm-12 col-md-3">
							<section class="widget widget-subscription">
								<h5 class="widget-title">Newletter</h5>
								<div class="widget-content">
									<p>Subscribe to be the first to know about Sales, Events, and Exclusive Offers!</p>
									<form action="#" method="post">
										<div class="input-group">
											<label for="subscription-email" class="placeholder">Enter Your Email</label>
											<input type="email" id="subscription-email" name="email" class="form-control" required />
											<span class="input-group-btn">
												<button class="btn btn-primary">Subscribe</button>
											</span>
										</div>
									</form>
								</div>
							</section>
						</div>
                        <!-- //Newletter -->
					</div>
				</div>
			</div>
        </div>

        <div class="footer-sub">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="space10"></div>
						<div class="copyright center-xs">
							<p>© 2013 Gfashion Demo Store. All Rights Reserved.</p>
						</div>
					</div>
					<div class="space40 visible-xs"></div>
				</div>
			</div>
		</div>
    </footer>

    <!--Javascript-->
    <script src="@Url.Content("~/Template/GFashion/js/minified.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/jquery.nouislider.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/jquery.isotope.min.js")"></script>
    <script src="@Url.Content("~/Template/GFashion/js/products.js")"></script>
</body>
</html>
