<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/bootstrap/css/bootstrap-responsive.css")" />

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/font-awesome/css/font-awesome.css")" />

    <!-- Linecons CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/linecons/style.css")" />

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/revolution-slider/css/settings.css")" />

    <!-- Quote Rotator CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/quote-rotator/css/quoterotator.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/quote-rotator/css/animate.css")" />

    <!-- Magnific Popup Plugin CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/magnific-popup/magnific-popup.css")" />

    <!-- Animations Libraries -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/vendors/animations/animate.css")" />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/styles/main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/styles/elements.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/styles/custom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/styles/table.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/stylish.holobest.com/styles/theme-responsive.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Template/stylish.holobest.com/css/style.css")" type="text/css" media="screen"/>

    <!-- jQuery Libraries -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/jquery-css-transform.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Error.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")" />
    <script src="@Url.Content("~/Template/stylish.holobest.com/jquery-animate-css-rotate-scale.js")" type="text/javascript"></script>

    @*  ssdfsdfsdfd*@
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/compare-cart.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/dropdown.js")"></script>


    <style>
        * {
            margin: 0;
            padding: 0;
            background: transparent;
        }

        .title {
            width: 703px;
            height: 144px;
            position: absolute;
            top: 0px;
            left: 0px;
            background: transparent url(title.png) no-repeat top left;
        }

        a.back {
            background: transparent url(back.png) no-repeat top left;
            position: fixed;
            width: 150px;
            height: 27px;
            outline: none;
            bottom: 0px;
            left: 0px;
        }

        /*Initialize*/
        ul#menu, ul#menu ul.sub-menu {
            padding: 0;
            margin: 0;
        }

            ul#menu li, ul#menu ul.sub-menu li {
                list-style-type: none;
                display: inline-block;
            }
                /*Link Appearance*/
                ul#menu li a, ul#menu li ul.sub-menu li a {
                    text-decoration: none;
                    color: #fff;
                    background: #666;
                    padding: 5px;
                    display: inline-block;
                }
            /*Make the parent of sub-menu relative*/
            ul#menu li {
                position: relative;
            }
                /*sub menu*/
                ul#menu li ul.sub-menu {
                    display: none;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    width: 100px;
                }

                ul#menu li:hover ul.sub-menu {
                    display: block;
                }

        .ui-effects-transfer {
            border: 2px dotted gray;
        }
        .ui-widget-overlay.custom-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;    
}
    </style>
</head>
<body>
    <header>
        <div id="header-container" class="navbar-fixed-top header-small">
            <div class="container">
                <div id="logo" style="background: none;" class="animated fadeLeft">
                    <h1>
                        <a href="#">
                            <img src="~/Template/stylish.holobest.com/images/logo.png" />

                        </a>
                    </h1>
                </div>

                <nav id="header-navigation" class="animated fadeRight">
                    <div class="menu">
                        <div class="item3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span class="dropdown" style="font-weight: bolder; color: white; width: 200px;">Xin chào, @User.Identity.Name
                                    <a data-toggle="dropdown" href="#">
                                        <i style="font-size: 20px;" class="icon-gear"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="top: 20px; right: -55px; left: 100px;">
                                        <li></li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="icon-h-sign"></i>Lịch sử so sánh</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogOff", "Account")"><i class="icon-signout"></i>Đăng xuất</a>

                                        </li>
                                    </ul>
                                </span>
                            }
                            else
                            {
                                <span style="font-weight: bolder; color: white; width: 200px;">Xin chào, Guest</span>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="item2">
                                <a class="link icon_user" href="@Url.Action("Login", "Account")"></a>
                                <div class="item_content">
                                    <div class="item_content">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item2">
                                <a class="link icon_guest" href="@Url.Action("Login", "Account")"></a>
                                <div class="item_content">
                                    <div class="item_content">
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="item">
                            <a class="link icon_help" href="@Url.Action("Recommend", "Product")">
                                <div class="item_content">
                                    <h2>Đề xuất</h2>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a class="link icon_find" href="@Url.Action("SearchForProduct", "Product")">
                                <div class="item_content">
                                    <h2>Tìm kiếm</h2>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a class="link icon_home" href="@Url.Action("Index", "Home")">
                                <div class="item_content">
                                    <h2>Trang chủ</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <script src="@Url.Content("~/Template/stylish.holobest.com/jquery-css-transform.js")" type="text/javascript"></script>
                    <script src="@Url.Content("~/Template/stylish.holobest.com/jquery-animate-css-rotate-scale.js")" type="text/javascript"></script>
                    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


                    <script>
                        $('.item').hover(
                            function () {
                                var $this = $(this);
                                expand($this);
                            },
                            function () {
                                var $this = $(this);
                                collapse($this);
                            }
                        );
                        function expand($elem) {
                            var angle = 0;
                            var t = setInterval(function () {
                                if (angle == 1440) {
                                    clearInterval(t);
                                    return;
                                }
                                angle += 40;
                                $('.link', $elem).stop().animate({ rotate: '+=-40deg' }, 0);
                            }, 10);
                            $elem.stop().animate({ width: '268px' }, 1000)
                            .find('.item_content').fadeIn(400, function () {
                                $(this).find('p').stop(true, true).fadeIn(600);
                            });
                        }
                        function collapse($elem) {
                            var angle = 1440;
                            var t = setInterval(function () {
                                if (angle == 0) {
                                    clearInterval(t);
                                    return;
                                }
                                angle -= 40;
                                $('.link', $elem).stop().animate({ rotate: '+=40deg' }, 0);
                            }, 10);
                            $elem.stop().animate({ width: '52px' }, 1000)
                            .find('.item_content').stop(true, true).fadeOut().find('p').stop(true, true).fadeOut();
                        }
                    </script>
                </nav>
            </div>
        </div>
    </header>
    @RenderSection("navigator", false)
    <div class="main-content">
        <div class="container">
            <div class="row">
                @RenderBody()
                @*Load More Button*@
                @*<div class="load-more">
                    <div class="stylish-button">
                        <a href="javascript:;" class="load-more-button"><i class="icon-rotate-right"></i>load more</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div id="testimonials" class="page-element">
        <div class="container">
            <h3>WHAT PEOPLE ARE SAYING</h3>
            <p>Chính sách cam kết</p>

            <div id="testimonial-content">
                <ul id="hidden-quotes">
                    <li data-author="Kiều&nbsp;Trọng&nbsp;Khánh">Chúng tôi hiểu rằng, để tạo dựng được niềm tin của khách hàng ngoài chất lượng sản phẩm dịch vụ còn ở chính sự cam kết của chúng tôi trong suốt quá trình hoạt động.</li>
                    <li data-author="Phạm&nbsp;Hồng&nbsp;Sang">Chúng tôi cam kết đảm bảo tính công khai thiết yếu mà mọi người tìm kiếm trên mỗi sản phẩm để có được sự lựa chọn phù hợp nhất.</li>
                    <li data-author="Huỳnh&nbsp;Thanh&nbsp;Việt">Với khối lượng dữ liệu lớn cũng với mô hình xử lý thông minh.Chúng tôi tin rằng chúng tôi sẽ tạo ra được bước đột phá mới trong việc xử lý thông tin.</li>
                </ul>

                <div class="quote">
                    <blockquote>
                        <p class="quote-content" />
                    </blockquote>

                    <cite class="quote-author"></cite>
                </div>
            </div>
        </div>
    </div>
    <div id="noticator"></div>
    <footer>
        <div id="inner-footer">
            <div class="container">
                <div class="row">
                    <div id="footer-left-side" class="span8">
                        <div id="footer-menu">
                            <ul class="nav nav-pills">
                                <li><a href="~/">trang chủ</a></li>
                                <li><a class="last" href="~/">liên hệ</a></li>
                            </ul>
                        </div>

                        <div id="footer-container-info">
                            <div class="row">
                                <div id="address-info" class="span4">
                                    <p><i class="icon-home"></i>Innovation Building, Công viên phần mềm Quang Trung</p>
                                </div>
                                <div class="span2">
                                    <i class="icon-phone"></i>
                                    <p>+08 (223)-445-6678</p>
                                </div>
                                <div class="span2">
                                    <i class="icon-envelope"></i>
                                    <p>hotro@cps.com</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer-right-side" class="span3">
                        <div id="stay-connected">
                            <p>kết nối với chúng tôi</p>
                        </div>

                        <div id="footer-social-icons" class="clearfix">
                            <a href="javascript:void(0)" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                            <a href="javascript:void(0)" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                            <a href="javascript:void(0)" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                            <a href="javascript:void(0)" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                            <a href="javascript:void(0)" class="googleplus-icon social-icon"><i class="icon-google-plus"></i></a>
                            <a href="javascript:void(0)" class="tumblr-icon social-icon"><i class="icon-tumblr"></i></a>
                            <a href="javascript:void(0)" class="instagram-icon social-icon"><i class="icon-instagram"></i></a>
                            <a href="javascript:void(0)" class="rss-icon social-icon"><i class="icon-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="copyright-container" class="container">
            <div class="container">
                <p>&copy;Copyright 2014 CPS Solution BY Group 13. All Rights Reserved.</p>
            </div>
        </div>
    </footer>


    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/jquery-ui.min.js")"></script>
    <!-- Bootstrap Libraries -->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/bootstrap/js/bootstrap.js")"></script>
    <!-- Masonry Library -->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/isotope/jquery.isotope.min.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/isotope/imagesloaded.pkgd.min.js")"></script>

    <!-- Revolution Slider jQuery-->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/revolution-slider/js/jquery.themepunch.revolution.min.js")"></script>

    <!-- Quote Rotator jQuery-->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/quote-rotator/js/jquery.quoterotator.min.js")"></script>

    <!-- Inview Plugin-->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/inview/jquery.inview.js")"></script>

    <!-- Magnific Popup Plugin -->
    <script src="@Url.Content("~/Template/stylish.holobest.com/vendors/magnific-popup/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/main.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/custom.js")"></script>
    <script src="@Url.Content("~/Template/stylish.holobest.com/scripts/plugins.js")"></script>

    <script type="text/javascript">
        function createMasonryElement() {
            var image1 = '<img src="images/portfolio-4columns-image1.png" alt="portfolio-image" />';
            var image2 = '<img src="images/portfolio-4columns-image2.png" alt="portfolio-image" />';
            var image3 = '<img src="images/portfolio-4columns-image3.png" alt="portfolio-image" />';
            var image4 = '<img src="images/portfolio-4columns-image4.png" alt="portfolio-image" />';
            var image5 = '<img src="images/portfolio-4columns-image5.png" alt="portfolio-image" />';
            var image6 = '<img src="images/portfolio-4columns-image6.png" alt="portfolio-image" />';
            var image7 = '<img src="images/portfolio-4columns-image7.png" alt="portfolio-image" />';

            var elements = '';
            var element = '';
            var image = '';

            for (var i = 0; i < 2; i++) {
                var randomNumber = Math.random();

                if (randomNumber < 0.15)
                    image = image1;
                else if (randomNumber < 0.30)
                    image = image2;
                else if (randomNumber < 0.45)
                    image = image3;
                else if (randomNumber < 0.60)
                    image = image4;
                else if (randomNumber < 0.75)
                    image = image5;
                else if (randomNumber < 0.90)
                    image = image6;
                else
                    image = image7;

                element =
                        '<div class="isotope-item post span6">' +
                                '<div class="row">' +
                                '<div class="span3">' +
                                '<div class="post-media">' +
                                '<iframe src="http://player.vimeo.com/video/25451551" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>' +
                                '</div>' +
                                '</div>' +

                                '<div class="span3">' +
                                '<div class="post-content">' +
                                '<div class="post-title">' +
                                '<h3><i class="icon-film post-title-icon"></i>Short Movie</h3>' +
                                '</div>' +

                                '<div class="post-info clearfix">' +
                                '<div class="post-date"><i class="icon-calendar"></i> <p>Nov 10, 2012</p></div>' +
                                '<div class="post-category"><i class="icon-pencil"></i> <a href="#">Design</a></div>' +
                                '<div class="post-comments"><i class="icon-comments"></i> <a href="#">(3)</a></div>' +
                                '</div>' +

                                '<div style="clear: both"></div>' +

                                '<div class="post-excerpt">' +
                                '<p>' +
                                'Donec magna nunc, vestibulum' +
                                'at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.' +
                                '</p>' +
                                '</div>' +

                                '<div class="stylish-button"><a href="#">read more</a></div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                elements += element;
            }


            var elementsString = jQuery(elements);

            return elementsString;
        }
    </script>
    @if (User.Identity.Name != null)
    {
        <script>
            $("#noticator").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                position: {
                    my: "right bottom+20",
                    at: "right bottom",
                    of: window
                },
                open: function () {
                    $('.ui-widget-overlay').addClass('custom-overlay');
                },
                close: function () {
                    $('.ui-widget-overlay').removeClass('custom-overlay');
                }
            });

            setInterval(function () {
                $.ajax({
                    url: "/Notifier/GetNotify",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ username: "@User.Identity.Name" }),
                    success: function (data) {

                        if (data != "NoneData" && data.length > 0) {
                            var target = jQuery("#noticator");
                            target.empty();
                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                target.append('<p>' + item.name + '</p>');
                            }
                            jQuery("#noticator").dialog("open");
                        }
                    },
                    error: function (data) {
                       
                    }
                });
            }, 5000);
        </script>
    }

</body>
</html>
