@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<ProductMap> list = ViewBag.listproduct;
    List<ProductMap> listError = ViewBag.listerror;
    List<ProductMap> listExistedProduct = ViewBag.listExistedProduct;
    List<List<ProductMap>> listDup = ViewBag.listduplicate;
    int countlistdup = 0;
    int countlist = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
    if (list != null)
    {
        countlist = list.Count;
    }
    List<List<ProductMap>> listDupnew = ViewBag.listduplicatenew;
    int countlistdup1 = 0;
    if (listDupnew != null)
    {
        countlistdup1 = listDupnew.Count;
    }
    List<ProductMap> danhsachsanphamloi = ViewBag.danhsachloi;

    // dòng bị lỗi
    List<String> errorLine = ViewBag.errorLine;
    int sodongloi = 0;
    String[] loiName = null; int checkName = 0;
    String[] loitrongso = null;
    String[] loiloai = null;

    if (errorLine != null)
    {
        // số dòng bị lỗi
        sodongloi = Convert.ToInt32(errorLine[0]);
        // lỗi Name
        loiName = errorLine[1].ToString().Split(',');
        // lỗi link image
        loitrongso = errorLine[2].ToString().Split(',');
        // lỗi Display
        loiloai = errorLine[3].ToString().Split(',');
    }
}

@section headScript
{
    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-retina.png" />

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/reset.css" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/fluid.css" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.theme.css" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.css" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/demo.css" media="screen" />
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <!-- Plugin Files -->
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.placeholder.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.icons.js"></script>
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>
    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js"></script>

    <!--  Demo JavaScript Files popup Ui Popup 
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.ui.js"></script>-->
    <!-- jGrowl Plugin   -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.css" media="screen" />

    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
    <!----------------------------- Lên datatable Plugin------------------------------------------>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.debouncedresize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.metadata.js")"></script>



}
@section sidebar
{
  <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Rating", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">3</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul>
                    <li >
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li style="background-color: #a6d037;">
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                           </li>
                           <li>
                         <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">2</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                     <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/file_cabinet.png")" alt="File Handling" />
                    </span>
                    <strong>Quản lí từ điển</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/alias.png")" alt="" />
                            <strong>Tạo mới trường</strong>
                        </a>

                    </li>
                    <li>

                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/dic2.png")" alt="" />
                            <strong>Danh sách các trường</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Index", "FillWeightHardWare")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li >
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

}
@section mainHeader
{
     <ul>
        <li style="margin-right: 5px"><a style="cursor: default;font-size:27px;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Nhập từ excel</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("Index", "ImportExcel")" style="font-size:20px;font-style:italic;text-decoration:underline">Linh kiện</a>
        </li>
    </ul>
}
@section footScript
{

<!-- script table cua ong de day ne ->>

}
<!----------------------------------------------- Content Area --------------------------------------------->
<div class="grid_1 ">
    <div class="da-panel-widget">
        <ul class="da-summary-stat">
            <li>
                <a href="#">
                    <span class="da-summary-icon" style="background-color: #656565;">
                        <img src="/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png" alt="">
                    </span>
                    <span class="da-summary-text">
                        <span class="value up">Nhập linh kiện</span>
                        <span class="label">Từ file excel</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!------------->
<div class="clear"></div>
<div class="grid_4">
    <div class="da-panel" style="margin-left: 200px; width: 50%">
        <div class="da-panel-header">
            <span class="da-panel-title">
                <img src="~/Areas/Admin/Dandelion/images/up.png" alt="">
                Tải dữ liệu từ file Excel
            </span>
        </div>
        <div class="da-panel-content">

            <form id="da-ex-vali" method="post" action="~/Admin/ImportExcel/Index" enctype="multipart/form-data" class="da-form" novalidate="novalidate">

                <div class="da-form-inline">
                    <div class="da-form-row">
                        <label>File <span class="required">*</span></label>
                        <div class="da-form-item large">
                            <div>
                                <div>
                                    <input id="fileupload" type="file" name="file" class="da-custom-file customfile-input valid" style="left: 61.453125px; top: 24px;">
                                </div>
                            </div>
                            <label for="file1" class="error" generated="true" style="display: none;"></label>
                        </div>
                    </div>
                </div>
                <div class="da-button-row">
                  
                 <!--  <input type="submit"  value="Tải lên" class="da-button green"> -->
                    <input style="width:33px" onclick="checkuploadfile()"  value="Tải lên" class="da-button green">
                </div>

            </form>


        </div>
    </div>
</div>
<div id="showInfo" class="grid_4">

    <div class="da-message info">
        Thông tin:
         <ul>
             @if (listExistedProduct != null)
             {
                 if (listExistedProduct.Count > 0)
                 {              
                 <li>Có @listExistedProduct.Count thành phần đã tồn tại trong cơ sở dữ liệu hệ thống tự động bỏ qua!</li>
                 }
             }
             @if (list != null)
             {
                 if (list.Count > 0)
                 {  
                 <li>Có @list.Count thành phần trong danh sách đúng!</li>
                 }
             }
             @if (listError != null)
             {
                 if (listError.Count > 0)
                 {  
                 <li>Có @listError.Count thành phần trong danh sách lỗi đang chờ xử lý!</li>
             }
             }
              @if (listDup != null)
              {
                  if (listDup.Count > 0)
                  {  
                  <li>Có @listDup.Count nhóm thành phần trong danh sách trùng đang chờ xử lý!</li>
                  }
              }
             @if (listDupnew != null)
             {
                 if (listDupnew.Count > 0)
                 {  
                 <li>Khi lưu thành phần vào cơ sở dư liệu hệ thống phát hiện có @listDupnew.Count nhóm sản phẩm có thể trùng vui lòng mở tab "sản phẩm trùng" để xử lý!</li>
                 }
             }
         </ul>
    </div>
    </br>
</div>
<div class="grid_4">
    <div id="da-icon-tab" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#color-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-success.png" alt="">
                Danh sách thành phần đúng</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#white-icon">@**@
                <img src="~/Areas/Admin/Dandelion/images/message-error.png" alt="">
                Danh sách thành phần lỗi</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#black-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-warning.png" alt="">
                Danh sách thành phần trùng</a></li>
        </ul>

        <div id="color-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            
                <!--tab1------------------------------------------------------------------------------------->
                <div id="luuhuyID" class="da-panel-toolbar top">
                    <ul>
                        <form action="~/Admin/ImportExcel/saveAllProduct" method="post" enctype="multipart/form-data">
                            <li>
                                <a id="da-ex-dialog-modal">
                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/accept.png" alt="">Lưu</a></li>
                            <!----------------Popup-----------
                                 <button id="da-ex-dialog-modal" style="display: none;" class="da-button blue">Modal UI Dialog</button>------->
                            <div class="da-panel-content with-padding">
                                <div style="text-align: center">
                                </div>
                                <div id="da-ex-dialog-div" style="display: none;">
                                    <input class="uniform" id="IdDuplicateLog" style="zoom:1.8;" checked type="checkbox" name="sports[]"> <label>  <img src="~/Areas/Admin/Dandelion/images/message-warning.png" alt="">Danh sách sản phẩm trùng</label>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input style="display:none;" class="uniform" id="IdErrorLog" style="zoom:1.8;" type="checkbox" name="sports[]"> <label style="display:none;"> <img src="~/Areas/Admin/Dandelion/images/message-error.png" alt="">Danh sách sản phẩm lỗi</label>
                                    <button type="button" onclick="saveCorrectProduct(@countlist)" class="da-button blue" style=" float: right;" role="button" aria-disabled="false"><span class="ui-button-text">Hoàn thành</span></button>
                                </div>
                            </div>
                            <!----------------Popup------------------>
                        </form>
                        <li><a href="~/Admin/ImportExcel/huyimport">
                            <img src="~/Areas/Admin/Dandelion/images/icons/color/delete.png" alt="">Hủy</a></li>
                    </ul>
                </div>

            @if (errorLine != null)
            {
                if (sodongloi > 5)
                { 
                    <label style="color: red; font-weight: bold; font-size: larger">File excel có quá nhiều lỗi vui lòng chỉnh sửa lại!</label> <br />
                    if (loiName.Length > 0)
                    {                     
                <label style="color: red">Lỗi tên thành phần phải từ 5 tới 100 ký tự.:</label> <br />
                <b style="font-weight: bold; color: blue">Dòng: </b>@errorLine[1] <br />
                    }
                    if (loitrongso.Length > 0)
                    {                     
                <label style="color: red">Lỗi trọng số thành phần phải là số:</label> <br />
                <b style="font-weight: bold; color: blue">Dòng: </b>@errorLine[2] <br />
                    }
                    if (loiloai.Length > 0)
                    {                     
                <label style="color: red">Lỗi thông tin loại thành phẩn của sản phẩm:</label> <br />
                <b style="font-weight: bold; color: blue">Dòng: </b>@errorLine[3] <br />
                    }

                    // ẩn table hiện danh sách đúng đi.
                <script type="text/javascript">
 
                    $(document).ready(function(){
 
                        $("#CorrectID").hide();  
                        $("#luuhuyID").hide();                        
                    });
 
                </script>
                <div class="da-panel collapsible scrollable">
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="/Areas/Admin/Dandelion/images/icons/color/page_white_delete.png" alt="" />
                            Dòng dữ liệu bị lỗi trong Excel
                        </span>

                    </div>
                    <div class="da-panel-content">
                        <table class="da-table">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">Dòng lỗi</th>
                                    <th style="width: 30%;">Tên thành phần</th>
                                    <th style="width: 30%;">Trọng số thành phần</th>
                                    <th style="width: 30%;">Loại thành phần</th>                             
                                </tr>
                            </thead>
                            <tbody>
                                @if (danhsachsanphamloi != null)
                                {
                                    foreach (ProductMap p in danhsachsanphamloi)
                                    {
                                    <tr>
                                        <td style="width: 15px;" class=" ">@(Convert.ToInt32(@p.stt) + 2) </td>
                                        <!------------------------ Tên------------------------------>
                                        @for (int i = 0; i < loiName.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loiName[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1" style="border-color: red"> @p.ten</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1"> @p.ten</textarea></td> 
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }
                                        <!------------------------ Trọng số------------------------------>
                                        @for (int i = 0; i < loitrongso.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loitrongso[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1" style="border-color: red"> @p.trongso</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1">@p.trongso</textarea>
                                            </td> 
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }

                                        <!------------------------ Loại------------------------------>
                                        @for (int i = 0; i < loiloai.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loiloai[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1" style="border-color: red"> @p.loai</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea disabled cols="35" rows="1"> @p.loai</textarea></td>
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }
                                        
                                    </tr> 
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
            }
                 <div id="CorrectID">
                   <!-------------------------------------------------------------------------------------------> 
                <div class="da-panel collapsible">
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách để lưu vào cơ sở dữ liệu
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <div id="da-ex-datatable-numberpaging_wrapper" class="dataTables_wrapper" role="grid">


                            <table id="da-ex-datatable-numberpaging" class="da-table dataTable" aria-describedby="da-ex-datatable-numberpaging_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 198px;">STT</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Tên thành phần</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 171px;">Trọng số</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 171px;">Loại thành phần</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 60px;">Thực hiện</th>
                                    </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all">

                                    @if (list != null)
                                    {
                                        foreach (ProductMap p in list)
                                        {
                                        <tr class="odd">
                                            @*     <form id="form10" action="/Home/deleteproduct" method="post" enctype="multipart/form-data">*@
                                            <td class=" sorting_1">@p.stt </td>
                                            <td class=" ">@p.ten</td>
                                            <td class=" ">@p.trongso</td>                                      
                                                <td class=" ">@p.loai</td>
                                            <td class=" ">
                                                <input name="sttproduct" type="hidden"  value="@p.stt" />
                                                <a onclick="xoasanphamdung(@p.stt)">
                                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/cross.png">
                                                    Xóa</a></td>

                                            @*</form>*@
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>              
            </div>
             <!--ket thuc tab1------------------------------------------------------------------------------------------->
        </div>
        <div id="white-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <!--tab2-------------------------------------------------------------------------------------------------- <p class="el-finder-err" style="display: block;width:90%;height:1px;margin-left:5%"><strong></strong></p>----->
            <div id="ErrorID">
                <div class="da-message error">
                    Lỗi dữ liệu:
                                        <ul>
                                              @if (errorLine != null && listError != null)
                                              {
                                                  if (loiName.Length > 0)
                                                  {                     
                                                <li>Tên thành phần phải từ 5 đến 100 ký tự!</li>                 
                                                  }
                                                  if (loitrongso.Length > 0)
                                                  {                     
                                                <li>Trọng số thành phần phải là số!</li>                   
                                                  }
                                                  if (loiloai.Length > 0)
                                                  {                     
                                                <li>Loại thành phần phải thuộc dãy sau C,V,H,D,R lần lượt là CPU,VGA,HDD,Display,Ram</li>  
                                                  }
                                              }
                                        </ul>
                </div>
                <div class="da-panel collapsible">
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Dữ liệu lỗi.
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>

                    <div class="da-panel-content">
                        <table class="da-table">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">STT</th>
                                    <th >Tên thành phần</th>
                                    <th style="width: 171px;">Trọng số</th>
                                    <th style="width: 171px;">Loại thành phần</th>
                                    <th style="width: 60px;">Thực hiện</th>
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @if (listError != null)
                                {
                                    foreach (ProductMap p in listError)
                                    {                                                        
                                         <tr>
                                        <td style="width: 15px;" class=" "><label>@p.stt</label> </td>
                                        <!------------------------ Tên------------------------------>
                                        @for (int i = 0; i < loiName.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loiName[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea  id="idTen_@p.stt"  name ="tenpro_@p.stt" cols="35" rows="1" style="border-color: red"> @p.ten</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea  id="idTen_@p.stt"  name ="tenpro_@p.stt" cols="35" rows="1"> @p.ten</textarea></td> 
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }
                                        <!------------------------ Trọng số------------------------------>
                                        @for (int i = 0; i < loitrongso.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loitrongso[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea  cols="35"  id="idTrongSo_@p.stt"  name ="trongsopro_@p.stt" rows="1" style="border-color: red"> @p.trongso</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea  cols="35"  id="idTrongSo_@p.stt"  name ="trongsopro_@p.stt" rows="1">@p.trongso</textarea>
                                            </td> 
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }

                                        <!------------------------ Loại------------------------------>
                                        @for (int i = 0; i < loiloai.Length; i++)
                                        {
                                            int j = (Convert.ToInt32(@p.stt) + 2);
                                            if (loiloai[i].Equals(j.ToString()))
                                            {
                                            <td class=" ">
                                                <textarea  cols="35" rows="1" id="idLoai_@p.stt" name="loaipro_@p.stt" style="border-color: red"> @p.loai</textarea></td>
                                                checkName++;
                                            }
                                        }
                                        @if (checkName < 1)
                                        {
                                            <td class=" ">
                                                <textarea  cols="35" id="idLoai_@p.stt" name="loaipro_@p.stt" rows="1"> @p.loai</textarea></td>
                                        }
                                        @if (checkName > 0)
                                        {
                                            checkName--;
                                        }
                                        <td class=" ">
                                            <a onclick="luusanphamloi(@p.stt)">
                                                <img src="~/Areas/Admin/Dandelion/images/icons/color/accept.png" />Lưu</a>
                                        </td>
                                    </tr> 
                                                      
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--ket thuc tab2------------------------------------------------------------------------------------------------------------------------------------------------------>
        </div>
        <div id="black-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <!--tab3--------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="da-panel collapsible">
                  @if (listDup != null)
                  {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Danh sách nhóm sản phẩm có thể trùng nhau.
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
              
                      int i = 0;

                      foreach (List<ProductMap> listp in listDup)
                      {
                          i++;
                          // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gop1table(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tach1table(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column" style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
                                    <th style="width: 92px;">Chọn tên chính                                                               
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>
                                         <td class=" ">@p.loai</td>
                                        <td class="da-icon-column">

                                            <!-- Nếu là sản phẩm đầu tiên thì check radio-->
                                            @if (y == 1)
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio" checked="checked" >
                                            }
                                            else
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio"> 
                                            }
                                        </td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                      }
                  }


            </div>
             <!-------------------listdupnew--------------------------------------------------------------------------------------->
             <div class="da-panel collapsible">
                  @if (listDupnew != null)
                  {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Sản phầm trùng với cơ sở dữ liệu.
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
               
                      int i = 0;

                      foreach (List<ProductMap> listp in listDupnew)
                      {
                          
                          i++;
                          // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="showPopupEditTach(@(i))" > 
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
                                  @*   <th style="width: 92px;">Chọn tên chính                                                               
                                    </th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td><label>@p.ten</label></td>
                                        <td><label>@p.trongso</label></td>                                 
                                        <td  class=" "><label>@p.loai</label>

 
                                            @if(y>1){
                                                <!----------------Popup sửa sản phẩm đúng----------->                                          
                                                <div id="Edit-@i-Popup-div" style="display: none;">
                                                    <div class="da-panel">
                                                        <div class="da-panel-content">
                                                            <form class="da-form">
                                                                <div class="da-form-inline">
                                                                    <div class="da-form-row">
                                                                        <label>Tên thành phần</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Tên thành phần phải từ 5 tới 100 ký tự.</span>
                                                                            <input  id="idTenDup@(p.stt)" value="@p.ten" type="text">
                                                                        </div>
                                                                    </div>                                                                   
                                                                    <div class="da-form-row">
                                                                        <label>Trọng số thành phần</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Trọng số thành phần phải là số</span>
                                                                            <input id="idTrongsoDup@(p.stt)" value="@p.trongso" type="text">
                                                                        </div>
                                                                    </div>                                                                                                                                 
                                                                    <div class="da-form-row">
                                                                        <label>Loại thành phần</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Loại thành phần phải là C,V,H,D,R</span>
                                                                            <input id="idLoaiDup@(p.stt)" value="@p.loai" type="text">                                                                                                                        
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-button-row">
                                                                        <input id="socuapopup@(p.stt)" value="@i" hidden type="text">    
                                                                                                                                         
                                                                        <input onclick="EditTachPro(@p.stt.Substring(1))" type="button" value="Lưu" class="da-button green">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!----------------Popup------------------>
                                                }
                                        </td>                                    
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                      }
                  }
            </div>
            <!--ket thuc tab3-------------------------------------------------------------------------------->
        </div>

        <!-----------------------------------------javascript -------------------------------------->
        <script>
                  <!----validate file upload :D-------->
            var fsize=0;
            var fname="";
                $('#fileupload').bind('change', function() {
                    // alert('This file size is: ' + this.files[0].size/1024/1024 + "MB");
                    //alert('This file name is: ' + this.files[0].name); 
                    fsize = this.files[0].size/1024/1024;
                    fname =  this.files[0].name;
                 
                });

                function checkuploadfile(){  
                    var check1 = fname.indexOf("xlsx");
                    var check2 = fname.indexOf("xls");
                    if(check1 >0||check2>0)
                    {
                        if(fsize>2){
                            $.jGrowl("File không được lớn hơn 2Mb", {header: "Nhắc nhở!", position: "bottom-right"});
                        }else{
                            document.getElementById("da-ex-vali").submit();
                        }
                    }else{
                        $.jGrowl("Hệ thống chỉ hỗ trợ file excel vui lòng thử lại!", {header: "Nhắc nhở!", position: "bottom-right"});
                    }
                }

                //Hiện popup để sửa sản phẩm khi tách.
                function showPopupEditTach(i){
                    $("#Edit-"+i+"-Popup-div").dialog({
                        autoOpen: false, 
                        title: "Bạn có muốn sửa trước khi lưu!", 
                        width: "600", 
                        modal: true             
                        //buttons: [{
                        //    text: "Đóng", 
                        //    click: function() {
                        //        $( this ).dialog( "close" );
                        //    }}]
                    });

                    $("#Edit-"+i+"-Popup-div").dialog("option", {modal: true}).dialog("open");
                    event.preventDefault();
		
                }
            
                // show Info số lượng trong danh sách đúng trùng lỗi
                function showInfo()
                {
                    string = "ok";
                    var postData = {showinfo: string };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcel/showInfo1",
                        data: postData,
                        success: function(data){
                            $('#showInfo').html(data);
                        },

                    });
                }
            // Lưu sản phẩm đúng và ghi log file
                function saveCorrectProduct(x) { 
                var val = ""; 
                var err =  document.getElementById("IdErrorLog").checked;
                var dup =  document.getElementById("IdDuplicateLog").checked;
                if(dup==true){
                    val = "dup";
                }else{
                    val = "no";
                }
                if(err==true){
                    val += "@@err";
                }else{
                    val += "@@no";
                }
                var postData = { checkval: val };
                if(x >0){

                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcel/saveAllProduct",
                        data: postData,
                        success: function(data){
                            location.reload();
                        },

                    }); 
                }else{
                    $("#da-ex-dialog-div").dialog("option", {modal: false}).dialog("close");       
                    $.jGrowl("Hiện chưa có sản phẩm nào để lưu. Vui lòng thử lại!", {header: "Nhắc nhở!", position: "bottom-right"});
                }
            }
            // check all in table
            function checkboxAllTable(i) {
                if ($("#checkboxAllTable_" + i).find("input:checkbox")[0].checked == true) {
                    $("#table_" + i).find("tbody").find("input:checkbox").attr('checked', $(this).is('') ? 'checked' : '');
                    $("#table_" + i).find("tbody").find("tr").attr("class", "checked");
                }
                else {
                    $("#table_" + i).find("tbody").find("input:checkbox").removeAttr('checked');
                    $("#table_" + i).find("tbody").find("tr").removeClass('checked');
                }
            }


            // lưu sản phẩm lỗi
            function luusanphamloi(stt){
                var trongso =  document.getElementById("idTrongSo_"+stt).value;
                var loaithanhphan =  document.getElementById("idLoai_"+stt).value;
                var tenthanhphan =  document.getElementById("idTen_"+stt).value;
                var string = stt +'@@'+tenthanhphan+'@@'+loaithanhphan+'@@'+ trongso;
                if (confirm("Bạn có chắc chắn muốn lưu sản phẩm này?")) {
                    var postData = { stringpro: string };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcel/fixedErrorProduct",
                        data: postData,
                        success: function(data){
                            $('#white-icon').html(data);
                            tabsanphamdung();
                            tabsanphamtrung();
                        },

                    });
                } else {
                                               
                }
            }



            // Tab sản phẩm trùng
            function tabsanphamtrung() {  
                var val = "nothing";                                                                                          
                var postData = { valuest: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/ImportExcel/getTach",
                    data: postData,
                    success: function(data){
                        $('#black-icon').html(data);
                        showInfo();
                    },

                });     
            }
            // tab sản phẩm lỗi
            function tabsanphamloi(){
                var string="nothing";
                var postData = { stringpro: string };
                $.ajax({
                    type: "POST",
                    url: "/Admin/ImportExcel/fixedErrorProduct",
                    data: postData,
                    success: function(data){
                        $('#white-icon').html(data);
                    },

                });
                                                  
            }

            //tab sản phẩm đúng
            function tabsanphamdung(){
                var string="nothing";
                var postData = { sttproduct: string };
                $.ajax({
                    type: "POST",
                    url: "/Admin/ImportExcel/deleteproduct",
                    data: postData,
                    success: function(data){
                        $('#CorrectID').html(data);
                        showInfo();
                    },

                });
                                                  
            }


            //xóa sản phẩm đúng.
            function xoasanphamdung(stt){

                if (confirm("Bạn có chắc chắn muôn xóa sản phẩm này?")) {
                    var postData = { sttproduct: stt };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcel/deleteproduct",
                        data: postData,
                        success: function(data){
                            $('#CorrectID').html(data);
                            tabsanphamdung();
                        },

                    });
                } else {
                                               
                }
                                            
            }



                                                
            // Tách 1 table
            function tach1table(i) {  
                var val = "";
                var count =0;
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='*'+ $(this).val();
                    count ++;
                });   
                
                if(count==1){
                    $.jGrowl("Để tách bảng vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
                }
                // thêm
                $("#table_" + i).find("tbody").find("input:checkbox").each(function(i){                                               
                    val +='@@'+ $(this).val();
                });      
                var postData = { valuest: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/ImportExcel/getTach",
                    data: postData,
                    success: function(data){
                        //   $('#tachid').html(data);
                        tabsanphamtrung()
                        tabsanphamdung();
                    },

                });     
            }
            //Gộp 1 talbe
            function gop1table(i) {  
                var val = "";
                var check =[];
                var radio ="";
                var count = 0;
                var ChoiceName =0;
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='@@'+ $(this).val();
                    check[i]= $(this).val();
                    count ++;
                });
                if(count>=2){
                   
                    $("#table_" + i).find("tbody").find("input:radio:checked").each(function(i){  
                        val += '@@'+ $(this).val();
                        radio = $(this).val();
                    }); 
                    for(var x =0; x <check.length; x++)
                    {
                        if(check[x] == radio){
                            ChoiceName ++;
                            var postData = { valuest: val };
                            $.ajax({
                                type: "POST",
                                url: "/Admin/ImportExcel/getGop",
                                data: postData,
                                success: function(data){
                                    tabsanphamtrung()
                                    tabsanphamdung();  
                                    showInfo();
                                },

                                                
                            });  
                            break;
                        }
                    }
                    if(ChoiceName==0){
                            $.jGrowl("Vui lòng chọn tên chính để gộp sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});

                }

                }else{
                    $.jGrowl("Để gộp vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
                }            
                //   location.reload();
            }

            // Sửa sản phẩm tách
            function EditTachPro(stt){
                var i =  document.getElementById("socuapopupz"+stt).value;
                var Ten =  document.getElementById("idTenDupz"+stt).value;
                var TrongSo = document.getElementById("idTrongsoDupz"+stt).value;
                var Loai = document.getElementById("idLoaiDupz"+stt).value;
                var string = 'z'+stt +'@@'+Ten+'@@'+TrongSo+'@@'+ Loai;
                var count =0;                            
                // kiểm tra Ten
                if(Ten.length<5||Ten.length>100)
                { 
                    document.getElementById("idTenDupz"+stt).style.borderColor='red';
                    count++;
                }else{
                    document.getElementById("idTenDupz"+stt).style.borderColor="";
                }
                // kiểm tra TrongSo
                if (TrongSo == parseInt(TrongSo)){
                    document.getElementById("idTrongsoDupz"+stt).style.borderColor="";
                }else{
                    document.getElementById("idTrongsoDupz"+stt).style.borderColor='red';
                    count++;
                }
                      
                // kiem tra Loai      
                if(Loai=='C'||Loai=='V'||Loai=='D'||Loai=='R'||Loai=='H')
                { 
                    document.getElementById("idLoaiDupz"+stt).style.borderColor="";                      
                }else{
                    document.getElementById("idLoaiDupz"+stt).style.borderColor='red';
                    count++;
                }                                                      
                // kiểm tra image
                if(count==0)
                {
                    var postData = {valuestach: string };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcel/tachdatabase",
                        data: postData,
                        success: function(data){                                              
                            $("#Edit-"+i+"-Popup-div").dialog( "close");
                            document.getElementById("Edit-"+i+"-Popup-div").id ='0';
                            $('#black-icon').html(data); 
                            showInfo();
                        },

                    });
                }              
                // nếu không phát hiện lỗi thì gửi về controller để xử lý                       
            }   



            //// tách table khi so trùng database
            //function tachdatabase(i)
            //{
            //    var val = "";
            //    $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
            //        val +='@@'+ $(this).val();
            //    });
            //    var postData = { valuestach: val };
            //    $.ajax({
            //        type: "POST",
            //        url: "/Admin/ImportExcel/tachdatabase",
            //        data: postData,
            //        success: function(data){
            //            $('#black-icon').html(data);
            //            tabsanphamdung();                                               
            //        },                                             
            //    });  

            //}
            // gộp table khi so trùng database
            function gopdatabase(i)
            {
                var val = "";
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='@@'+ $(this).val();
                });
                var postData = { valuesgop: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/ImportExcel/gopdatabase",
                    data: postData,
                    success: function(data){
                        $('#black-icon').html(data);
                        tabsanphamdung();    
                        showInfo();
                    },

                                                
                });  

            }
        </script>
        <!---------------------Popup--------------------------------- Stick---------------------------------------->
        <!---  <button id="da-ex-growl-2" class="da-button green">Growl with Header</button> --->
        <style>
            div.jGrowl.bottom-right
            {
                 top: 19%;
                right: 1%;
            }            
        </style>
        <script>                      
            (function($) {
                $(document).ready(function(e) {   
                    // dialog popup
                    $("#da-ex-accordion, #da-ex-accordion-plain").accordion();
		
                    $("#da-ex-tabs, #da-ex-tabs-plain").tabs();
		
                    $("#da-ex-datepicker, #da-ex-datepicker-inline").datepicker({showOtherMonths:true});
		
                    $("#da-ex-datepicker-week").datepicker({showOtherMonths:true, showWeek: true});
		
                    $("#da-ex-datepicker-months").datepicker({showOtherMonths:true, numberOfMonths: 3});
		
                    $("#da-ex-datetimepicker").datetimepicker();
		
                    $("#da-ex-timepicker").timepicker({});
		
                    $(".da-ex-buttons").button();
		
                    $("#da-ex-buttons-radio, #da-ex-buttons-checkbox").buttonset();
		
                    $( "#da-ex-buttons-icon button:first" ).button({
                        icons: {
                            primary: "ui-icon-locked"
                        },
                        text: false
                    }).next().button({
                        icons: {
                            primary: "ui-icon-locked"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    });
		
                    var availableTags = [
                        "ActionScript",
                        "AppleScript",
                        "Asp",
                        "BASIC",
                        "C",
                        "C++",
                        "Clojure",
                        "COBOL",
                        "ColdFusion",
                        "Erlang",
                        "Fortran",
                        "Groovy",
                        "Haskell",
                        "Java",
                        "JavaScript",
                        "Lisp",
                        "Perl",
                        "PHP",
                        "Python",
                        "Ruby",
                        "Scala",
                        "Scheme"
                    ];
		
                    $( "#da-ex-autocomplete" ).autocomplete({
                        source: availableTags
                    });
		
                    $("#da-ex-slider").slider();
		
                    $("#da-ex-slider-range").slider({
                        range: true,
                        min: 0,
                        max: 500,
                        values: [ 75, 300 ], 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-info .da-highlight" ).html( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                        }
                    });
		
                    $(".da-ex-color-slider").slider({
                        range: "min",
                        value: 45,
                        min: 1,
                        max: 100
                    });
		
                    $("#da-ex-slider-range-fixed").slider({
                        range: "min",
                        value: 37,
                        min: 1,
                        max: 700, 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-fixed-info .da-highlight" ).html( "$" + ui.value );
                        }
                    });
	
                    $( "#da-slider-equalizer > span" ).each(function() {
                        var value = parseInt( $( this ).text(), 10 );
			
                        $( this ).empty().slider({
                            value: value,
                            range: "min",
                            animate: true,
                            orientation: "vertical"
                        });
                    });
		
                    $(".da-ex-color-pb, #da-ex-pb, #da-ex-pba").each(function() {
                        $(this).progressbar({
                            value: 25 + Math.floor(Math.random() * 50)
                        });
                    });
		
                    $("#da-ex-pba-trigger").bind('click', function(e) {
                        $(this).parent().next("#da-ex-pba").progressbar('value', 20 + Math.floor(Math.random() * 80));
                        e.preventDefault();
                    });
		
                    $("#da-ex-dialog-div").dialog({
                        autoOpen: false, 
                        title: "Chọn log file bạn muốn ghi lại, để sau đó có thể tiếp tục xử lý.", 
                        modal: true, 
                        width: "550", 
                        buttons: [{
                            text: "Đóng", 
                            click: function() {
                                $( this ).dialog( "close" );
                            }}]
                    });
		
		
          
		
                    $("#da-ex-dialog").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: false}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-modal").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-form").bind("click", function(event) {
                        $("#da-ex-dialog-form-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    //  Growl Notifications 
                    if($.jGrowl) {
                                   		
                        $("#da-ex-growl-2").bind("click", function(event) {
                            $.jGrowl("Con cò bé bé", {header: "Nhắc nhở!", position: "bottom-right"});
                        });
                    }		
                });
            }) (jQuery); 		</script>
        <!-----------Popup------------------------ Stick---------------------------------->

    </div>
</div>
