@model IEnumerable<CPS_Solution.EntityFramework.RecommendProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headScript
{
<!-- CSS Reset -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/reset.css")" media="screen" />
<!--  Fluid Grid System -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/fluid.css")" media="screen" />
<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.theme.css")" media="screen" />
<!--  Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.css")" media="screen" />
<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/demo.css")" media="screen" />
<!-- jQuery JavaScript File -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js")"></script>
<!-- jQuery-UI JavaScript Files -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js")"></script>
    <!-- Placeholder Plugin -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.placeholder.js")"></script>
<!-- Mousewheel Plugin -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js")"></script>
<!-- Scrollbar Plugin -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js")"></script>
<!-- Tooltips Plugin -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css")" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css")" />
    <!-- Core JavaScript Files -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/core/dandelion.core.js")"></script>


<script type="text/javascript">
    function updateStatus() {
        
        var values = $('input[type="checkbox"]:checked').map(function () {
            return $(this).val();
        }).toArray();

        $.ajax({
            url: "../Recommend/setStatus",
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ idList: values }),
            contentType: 'application/json',
            success: function (data) {
                if (data == true) {
                    window.parent.location.href = window.parent.location.href;
                }
            }
        })
 }
</script>
}

@section sidebar
{
      <!-- Main Navigation -->
                    <div id="da-main-nav" class="da-button-container">
                        <ul>
                            <li class="active">
                            	<a href="dashboard.html">
                                	<!-- Icon Container -->
                                	<span class="da-nav-icon">
                                    	<img src="Areas/Admin/Dandelion/images/icons/black/32/home.png" alt="Dashboard" />
                                    </span>
                                	Dashboard
                                </a>
                            </li>       
                        </ul>
                    </div>
}
@section mainHeader
{
}
@section footScript
{
        <!-- DataTables Plugin -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js")"></script>

<!-- Demo JavaScript Files -->
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/demo/demo.tables.js")"></script>
}
<h2>Done /Admin</h2>
<div class="grid_4">
         <div class="da-panel-content">
             @if (TempData["createbyRecommendProduct"] != null) 
             {
                   <div class="da-message success">
                      Sản phẩm được đề xuất đã được cập nhật thành công.
                 </div>
             }
            @if (TempData["updateStatus"] != null)
            {
                string statusMessage = TempData["updateStatus"].ToString();
                if (statusMessage == "Success")
                {
                     <div class="da-message success">
                      Trạng Thái Sản phẩm được đề xuất đã được cập nhật thành công.
                 </div>
                }
                else if (statusMessage == "Failed")
                {
                 <div class="da-message error">
                       Cập nhật Trạng Thái Sản Phẩm được đề xuất thất bại. Xin vui lòng thử lại.
                 </div>
                }
            }
        </div>
</div>
 <div class="grid_4">
                        	<div class="da-panel collapsible">                                      	
                            	<div class="da-panel-header">
                                	<span class="da-panel-title">
                                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/list.png")" alt="" />
                                        Danh sách các sản phẩm được người dùng đề cử  
                                    </span>                           
                                </div>
                                <div class="da-panel-content">
                                    <table id="da-ex-datatable-numberpaging" class="da-table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Người dùng</th>
                                                <th>Tên Máy</th>
                                                <th>Đường dẫn</th>
                                                <th>Thời gian đề xuất</th>
                                                <th>Thao tác</th>
                                                <td>
                                                    <input type="submit" value="Cập nhật trạng thái" class="da-button pink:!important" onclick="updateStatus()" />                                                  
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int counter = 1;
                                                foreach (var item in Model)
                                                {      
                                                    <tr>
                                                       <td>@counter</td>
                                                       <td>@item.Username</td>
                                                       <td>@item.Name</td>
                                                       <td>@item.Parselink</td>
                                                       <td>@item.RecommendTime</td>
                                                       <td>
                                                           @Html.ActionLink("Cập nhật", "LoadWebProduct", new { id = item.ID })
                                                       </td>
                                                        @if ((bool)item.IsApprove)
                                                        {
                                                            <td>
                                                               <input type="checkbox" name="idList" checked ="checked" value="@item.ID"/>
                                                          </td>  
                                                        }
                                                        else
                                                        {
                                                           <td>
                                                               <input type="checkbox" name="idList" value="@item.ID" />
                                                          </td>  
                                                        }                                                          
                                                    </tr>
                                                    counter++;    
                                                } 
                                              }
                                           </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>