@model IEnumerable<CPS_Solution.EntityFramework.Account>
@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    Layout = null;
    List<Store> listStore = ViewBag.listStore;
}
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
        <div class="da-panel collapsible">
            <div class="da-panel-header">
                <span class="da-panel-title">
                    <img src="/Areas/Admin/Dandelion/images/icons/white/16/list.png" alt="">
                    Danh sách cửa hàng
                </span>

                <span class="da-panel-toggler"></span>
            </div>
            <div class="da-panel-content">
                <div id="da-ex-datatable-default_wrapper" class="dataTables_wrapper" role="grid">


                    <table id="da-ex-datatable-default" class="da-table dataTable" aria-describedby="da-ex-datatable-default_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 196px;">Tên cửa hàng</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 290px;">Đường dẫn cửa hàng</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 169px;">Kích Hoạt</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 133px;">Thực hiện</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                           @{ int i =0;}
                            @foreach (Store sto in listStore)
                            {
                                if(sto.ID>1)
                                {
                                i++;
                                <tr class="odd">
                                    <td class=" sorting_1">@sto.StoreName</td>
                                    <td class=" ">@sto.StoreUrl</td>
                                    <td class=" ">
                                        @if (@sto.IsActive != true)
                                        {                                     
                                            <input type="button" onclick="ActiveStore(@sto.ID)" value="Không hoạt động" class="da-button red" >
                                        }
                                        else
                                        {
                                            <input type="button" onclick="ActiveStore(@sto.ID)" value="Hoạt động" class="da-button blue" style="width:120px" data-id="5">
                                        }
                                    </td>
                                    <td class=" ">
                                        <a onclick="showPopupEdit(@sto.ID)">
                                            <img src="~/Areas/Admin/Dandelion/images/icons/color/pencil.png">
                                            Sửa
                                        </a>

                                        <!----------------Popup sửa tài khoản----------->
                                        <div id="Edit-@(sto.ID)-Popup-div" style="display: none;">
                                            <div class="da-panel">
                                                <div class="da-panel-content">
                                                    <form id="da-ex-validate@(sto.ID)" class="da-form" method="post" action="ManagerStore/EditStore" enctype="multipart/form-data"  style="padding-top: 23px;" novalidate="novalidate">
                                                        <fieldset class="da-form-inline">
                                                                <legend>Thông tin cửa hàng</legend>
                                                                <div class="da-form-row">
                                                                    <label>Tên cửa hàng<span class="required">*</span></label>
                                                                    <div class="da-form-item large">
                                                                        <span  class="formNote">Không được để trống</span>
                                                                        <input type="text"  value="@sto.StoreName" name="idStoreNameUp" id="idStoreNameUp@(sto.ID)">
                                                                          <input type="text"  hidden value="@sto.ID" name="idStore">
                                                                      
                                                                    </div>
                                                                </div>
                                                                <div class="da-form-row">
                                                                    <label>Địa chỉ web<span class="required">*</span></label>
                                                                    <div class="da-form-item large">
                                                                        <span class="formNote">Không được để trống</span>
                                                                        <input type="text" name="idStoreUrlUp" value="@sto.StoreUrl" id="idStoreUrlUp@(sto.ID)">
                                                                    </div>
                                                                </div>
                                                                <div class="da-form-row">
                                                                    <span class="formNote"></span>
                                                                    <label>Logo cửa hàng</label>
                                                                         <div class="da-form-item large">
                                                                        @if (sto.LogoImage.Trim().Equals("default"))
                                                                        {
                                                                           <img src ="/images/StoreLogo/Laptop_logo.gif" style="padding:1px; border-style:solid; border-width:1px; width:250px; height:60px;"/> 
                                                                        }else{
                                                                            <img src ="/@sto.LogoImage" style="padding:1px; border-style:solid; border-width:1px; width:250px; height:60px;"/>
                                                                        }
                                                                          
                                                                    </div>                   
                                                                    <div class="da-form-item large">
                                                                           <span class="formNote">Chọn hình ảnh mới.</span>
                                                                        <input type="file" name="file" id="ImageU" class="da-custom-file" accept="image/*" />
                                                                    </div>
                                                                </div>                       
                                                            </fieldset>

                                                        <div class="da-button-row">
                                                            <input type="button" value="Update" onclick="EditStore(@sto.ID)"  class="da-button green">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!----------------Popup------------------>
                                    </td>
                                </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
