@{
    ViewBag.Title = "Index";
}
<head>
    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/reset.css")" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/fluid.css")" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.theme.css")" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.css")" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/demo.css")" media="screen" />
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js")"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js")"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.placeholder.js")"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js")"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js")"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css")" />
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/core/dandelion.core.js")"></script>


</head>
<h2>Index</h2>
<div id="show">
    <div id="dialog"></div>
    <input type="text" /> 
</div>
<script>
    $("#dialog").dialog({
        autoOpen: false,
        show: {
            effect: "blind",
            duration: 1000
        },
        hide: {
            effect: "explode",
            duration: 1000
        },
        position: {
            my: "right bottom+20",
            at: "right bottom",
            of: window
        }
    });

    setInterval(function () {
        $.ajax({
            url: "/Notifier/GetNotify",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ username: "member1" }),
            success: function (data) {

                if (data != "NoneData" && data.length > 0) {
                    var target = $("#dialog");
                    target.empty();
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        target.append('<p>' + item.name + '</p>');
                    }
                    $("#dialog").dialog("open");
                }
                else {
                }
            },
            error: function (data) {
                alert("error");
            }
        });

    }, 5000);
</script>
