@model IEnumerable<CPS_Solution.EntityFramework.History>
@using CPS_Solution.Models;

@{
    ViewBag.Title = "Lịch sử so sánh";
    Layout = "~/Views/Shared/_UserPage.cshtml";
    TempData["History"] = "History";
}

@{
    var dataManager = new DataManager();
    int limit = 40;
}
<style>
    .cps-highligh {
        border-style: solid;
        border-color: #7DBB18;
        padding: 5px;
    }
    .history-items {
        height: 500px;
        overflow: scroll;
        border-style: solid;
        border-width: 1px;
        border-color: #fbd850;
    }
</style>

<div class="main-content">
    <div class="span8 left-element">
        <div class="message-box info-message-box">
            <center><strong>LỊCH SỬ CÁC SO SÁNH GẦN ĐÂY</strong></center>
        </div>
        <div class="accordion fadeLeft history-items">
            @foreach (var item in Model)
            {
                <h5>@item.CompareTime</h5>
                <div>
                    <div class="span7">
                    @foreach (var detail in item.HistoryDetails)
                    {
                        if (detail.isWinner.Equals(true))
                        { 
                            <div class="span2 cps-highligh" onClick="productDetail(@detail.ProductID)" style="cursor: pointer">
                                <center><img src="~/@detail.Product.ImageURL" style="width: 100px; height: 100px"/></center>
                                <center><strong>@dataManager.Truncate(@detail.Product.Name, limit)</strong></center>
                            </div>
                        }
                        else
                        {
                            <div class="span2" onClick="productDetail(@detail.ProductID)" style="cursor: pointer">
                                <center><img src="~/@detail.Product.ImageURL" style="width: 100px; height: 100px"/></center>
                                <center>@dataManager.Truncate(@detail.Product.Name, limit)</center>
                            </div>
                        }
                    }</div>
                    <div class="span7" style="margin-top: 10px;">
                        <div class="stylish-button" style="background-color: #7DBB18; margin-left: 85%; font-family: Verdana, Geneva, sans-serif">
                            <a href="javascript:void(0);">chi tiết</a>
                            <div class="hidden">
                                @foreach (var detail in item.HistoryDetails)
                                { 
                                    <span>@detail.ProductID</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var score = $(".product-score");
    });

    $('.stylish-button').on('click', function () {
        var p01 = this.children[1].children[0].innerHTML;
        var p02 = this.children[1].children[1].innerHTML;
        if (this.children[1].children[2] == undefined) {
            p03 = -1;
        } else {
            var p03 = this.children[1].children[2].innerHTML;
        }

        var createform = document.createElement('form'); // Create New Element form
        createform.setAttribute("action", "/Product/Compare"); // Setting action Attribute on form
        createform.setAttribute("method", "post"); // Setting method Attribute on form

        var input1 = document.createElement('input'); // Create input field for name
        input1.setAttribute("type", "hidden");
        input1.setAttribute("id", "p1");
        input1.setAttribute("name", "p1");
        input1.setAttribute("value", Number(p01));
        createform.appendChild(input1);

        var input2 = document.createElement('input'); // Create input field for name
        input2.setAttribute("id", "p2");
        input2.setAttribute("name", "p2");
        input2.setAttribute("type", "hidden");
        input2.setAttribute("value", Number(p02));
        createform.appendChild(input2);

        var input3 = document.createElement('input'); // Create input field for name
        input3.setAttribute("type", "hidden");
        input3.setAttribute("id", "p3");
        input3.setAttribute("name", "p3");
        input3.setAttribute("value", Number(p03));
        createform.appendChild(input3);

        createform.submit();
        createform.target('_blank');
    });

    function productDetail(id) {
        var url = "../Product/Details?ID=" + id;
        var detail = window.open(url, "_blank");
        detail.focus();
    }
</script>
