@model IEnumerable<CPS_Solution.EntityFramework.Product>

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section navigator
{
    <div id="top-image" class="top-image3">
        <div class="container">
            <div id="top-image-caption">
                <h2>so sánh sản phẩm</h2>
            </div>
        </div>
    </div>

    <div id="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="~/">trang chủ</a><span class="divider">/</span></li>
                        <li><p>so sánh</p></li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
}

<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        /* CSS for warpper */
        position: absolute;
        top: 0; right: 5px;
        width: 50px;
        height: 60px;
        background-color: #F7A191;
        border-radius: 10px;
        opacity: 0.8;
        /* CSS for text */
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
        font-size: 30px;
    }

    .center {
        margin: auto;
        width: inherit;
    }

    .handle {
        cursor: move;
    }
</style>

<div class="page-element gray-element">
    <div class="container">
        <div class="pricing-tables-wrapper clearfix">
            <div class="pricing-table" style="margin-top:27%;">
                <div class="pricing-table-header">
                    <div class="lower-header">
                        <p class="pricing-table-price">Tổng điểm</p>
                    </div>
                </div>
                <div class="pricing-table-content">
                    <div class="table-row odd"><p>CPU</p></div>
                    <div class="table-row even"><p>VGA</p></div>
                    <div class="table-row odd"><p>RAM</p></div>
                    <div class="table-row even"><p>HDD</p></div>
                    <div class="table-row odd"><p>Display</p></div>
                </div>
            </div>
            

            @{ int bestProductID = Model.ElementAt(1).ID; }
            @foreach (var item in Model)
            {
                if (item.ID == bestProductID)
                {
                    <div class="pricing-table highlighted-table">
                        <div class="pricing-table-header">
                            <div class="upper-header">
                                <h4>@item.Name</h4>
                                <img src="~/Images/I/default.jpg" style="margin-bottom:50px;"/>
                            </div>
                            <div class="lower-header">
                                <p class="pricing-table-price">@item.TotalWeightPoint</p>
                            </div>
                        </div>

                        <div class="pricing-table-content">
                            <div class="table-row odd"><p>@item.strCPU</p></div>
                            <div class="table-row even"><p>@item.strVGA</p></div>
                            <div class="table-row odd"><p>@item.strRAM</p></div>
                            <div class="table-row even"><p>@item.strHDD</p></div>
                            <div class="table-row odd"><p>@item.strDisplay</p></div>
                            
                        </div>
                        <div class="pricing-table-footer">
                            <div class="stylish-button" style="background-color: #F87912">
                                <a href="#">Báo sai</a>
                            </div>
                        </div>
                    </div>
                } else 
                {
                    <div class="pricing-table ">
                        <div class="pricing-table-header">
                            <div class="upper-header">
                                <h4>@item.Name</h4>
                                <img src="~/Images/I/default.jpg" style="margin-bottom:50px;"/>
                            </div>
                            <div class="lower-header">
                                <p class="pricing-table-price">@item.TotalWeightPoint</p>
                            </div>
                        </div>
                        <div class="pricing-table-content">
                            <div class="table-row odd"><p>@item.strCPU</p></div>
                            <div class="table-row even"><p>@item.strVGA</p></div>
                            <div class="table-row odd"><p>@item.strRAM</p></div>
                            <div class="table-row even"><p>@item.strHDD</p></div>
                            <div class="table-row odd"><p>@item.strDisplay</p></div>
                        </div>
                        <div class="pricing-table-footer">
                            <div class="stylish-button" style="background-color: #F87912">
                                <a href="#">Báo sai</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


