@model CPS_Solution.EntityFramework.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section navigator
{
    <div id="top-image" class="top-image3">
        <div class="container">
            <div id="top-image-caption">
                <h2>chi tiết sản phẩm</h2>
            </div>
        </div>
    </div>

    <div id="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="~/">trang chủ</a><span class="divider">/</span></li>
                        <li><p>chi tiết sản phẩm</p></li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
}
<div class="page-element gray-element">
    <div class="container">
        @*<h4 class="element-title">@Html.DisplayFor(model => model.Name)</h4>*@
        <div class="span4" style="border-right-style:solid; border-right-color:#7dbb18; border-right-width:1px;">
            <img src="~/Images/I/default.jpg" alt="gallery image" />
        </div>

        <div class="span4">
            <h4 class="element-title">@Html.DisplayFor(model => model.Name)</h4>
            <div class="stylish-light-separator" style="margin-bottom:-50px;"></div>

            <div id="message-boxes" class="fadeRight">
                <div class="row">
                    <div class="span4">
                        <div class="skill-bars-wrapper fadeCenter">
                            <div class="skill-bar" style="background-color:#A1ECEC">
                                <div class="skill-bar-header">
                                    <h5>
                                        Chipset
                                        <span><i class="icon-caret-right">&nbsp;&nbsp;&nbsp;</i></span>
                                        <span>@Html.DisplayFor(model => model.strCPU)</span>

                                    </h5>
                                </div>
                                <div class="skill-bar-fill" data-width="25"></div>
                            </div>
                            <div class="skill-bar" style="background-color:#A1ECEC">
                                <div class="skill-bar-header">
                                    <h5>
                                        VGA
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span><i class="icon-caret-right">&nbsp;&nbsp;&nbsp;</i></span>
                                        <span>@Html.DisplayFor(model => model.strVGA)</span>

                                    </h5>
                                </div>
                                <div class="skill-bar-fill" data-width="25"></div>
                            </div>
                            <div class="skill-bar" style="background-color:#A1ECEC">
                                <div class="skill-bar-header">
                                    <h5>
                                        RAM
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span><i class="icon-caret-right">&nbsp;&nbsp;&nbsp;</i></span>
                                        <span>@Html.DisplayFor(model => model.strRAM)</span>

                                    </h5>
                                </div>
                                <div class="skill-bar-fill" data-width="25"></div>
                            </div>
                            <div class="skill-bar" style="background-color:#A1ECEC">
                                <div class="skill-bar-header">
                                    <h5>
                                        HDD
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span><i class="icon-caret-right">&nbsp;&nbsp;&nbsp;</i></span>
                                        <span>@Html.DisplayFor(model => model.strHDD)</span>

                                    </h5>
                                </div>
                                <div class="skill-bar-fill" data-width="25"></div>
                            </div>
                            <div class="skill-bar" style="background-color:#A1ECEC">
                                <div class="skill-bar-header">
                                    <h5>
                                        Display
                                        <span><i class="icon-caret-right">&nbsp;&nbsp;&nbsp;</i></span>
                                        <span>@Html.DisplayFor(model => model.strDisplay)</span>

                                    </h5>
                                </div>
                                <div class="skill-bar-fill" data-width="25"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

