@model IEnumerable<CPS_Solution.EntityFramework.Product>

@{
    foreach (var item in Model)
    {
    <div class="media tab-row">
        <a class="pull-left" href="@Url.Action("Details", "Product", new { id = item.ID })">
            <img src="/@item.ImageURL" alt="@item.Name" style="width:60px;height:60px">
        </a>
        <div class="media-body">
            <a href="@Url.Action("Details", "Product", new { id = item.ID })">
                <p class="tab-row-title">@item.Name</p>
            </a>
            <p class="tab-row-date"><strong>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Price)</strong></p>
            <p>(Có <strong>@item.SellPlacers</strong> nơi bán )</p>
        </div>
    </div>
    }
}

