@model IEnumerable<CPS_Solution.EntityFramework.Product>
@using CPS_Solution.Models;
@{
    var dataManager = new DataManager();
    int limit = 50;
}
@foreach (var item in Model)
{
    <div class="isotope-item post span6" style="background-color: rgba(255, 255, 255, 0.75);">
        <div class="row">
            <div class="span3">
                <div class="thumbnail post-media">
                    <img class="img-@item.ID" src="~/@item.ImageURL" style="border-radius:5px; height:103%; margin-top:15px"/>
                    <div class="thumbnail-hover">
                        <div class="post-date">
                            <h3 style="color: white; text-align: center; text-decoration: underline">--Thông tin chi tiết--</h3>
                            <h5 style="color: white;" title="@item.strCPU">-CPU : @dataManager.Truncate(@item.strCPU, limit)</h5>
                            <h5 style="color: white;"title=" @item.strVGA">-VGA : @dataManager.Truncate(@item.strVGA, limit)</h5>
                            <h5 style="color: white;"title=" @item.strRAM">-RAM : @dataManager.Truncate(@item.strRAM, limit)</h5>
                            <h5 style="color: white;"title=" @item.strHDD">-HDD : @dataManager.Truncate(@item.strHDD, limit)</h5>
                            <h5 style="color: white;"title=" @item.strDisplay">-Display : @dataManager.Truncate(@item.strDisplay, limit)</h5>
                        </div>
                    </div>
                </div>
                @*<div class="post-info clearfix">
                    <div class="post-date">
                        <label style="color:#f00; font-weight:bold; font-size:23px; margin-bottom:0; padding:2px">
                            @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Price)
                        </label>
                    </div>
                </div>*@
            </div>

            <div class="span3">
                <div class="post-content">
                    <div class="post-title" style="width: 260px; margin-top: 15px;">
                        <h3>
                            <i class="icon-bookmark post-title-icon"></i>
                            <span class="product-name" title="@item.Name" style="overflow-wrap:break-word; height:100px;">@item.Name</span>
                        </h3>
                    </div>

                    <div class="post-info clearfix">
                        <div class="post-date">
                            <label style="color: #f00; font-weight: bold; font-size: 23px; margin-bottom: 0; padding: 2px">
                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Price)
                            </label>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div class="post-excerpt">

                        @if (!String.IsNullOrEmpty(item.Description))
                        {
                            <p style="height:60px;word-break:break-word; width:95%">@dataManager.Truncate(@item.Description, 150)  </p>
                        }
                        else
                        {
                            <p style="height:60px">Chưa cập nhật.  </p>
                        }

                    </div>

                    <div style="height: 50px;">
                        <div class="stylish-button" style="background-color: #7DBB18">
                            <a href="/Product/Details?ID=@item.ID" target="_blank">chi tiết</a>
                        </div>
                        <div class="stylish-button" style="background-color: #7DBB18">
                            <a href="javascript:void(0);" class="addToCompare" product-id="@item.ID" product-name="@item.Name" product-img="@item.ImageURL">+ so sánh</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
