@model IEnumerable<CPS_Solution.EntityFramework.Product>
@foreach (var item in Model)
{
    <div class="isotope-item post span6" style="background-color:rgba(255, 255, 255, 0.75);">
        <div class="row">
            <div class="span3">
                <div class="thumbnail post-media">
                    <img src="~/Images/I/default.jpg" style="border-radius:5px; height:103%; margin-top:15px"/>
                    <div class="thumbnail-hover">
                        <div class="post-date">
                            <h3 style="color: white;">~Thông tin chi tiết~</h3>
                            <h4 style="color: white;overflow-wrap:break-word;" title="@item.strCPU">-CPU : @item.strCPU</h4>
                            <h4 style="color: white;overflow-wrap:break-word;"title=" @item.strVGA">-VGA : @item.strVGA</h4>
                            <h4 style="color: white;overflow-wrap:break-word;"title=" @item.strRAM">-RAM : @item.strRAM</h4>
                            <h4 style="color: white;overflow-wrap:break-word;"title=" @item.strHDD">-HDD : @item.strHDD</h4>
                            <h4 style="color: white;overflow-wrap:break-word;"title=" @item.strDisplay">-Display : @item.strDisplay</h4>
                        </div>
                    </div>
                </div>
                @*<div class="post-info clearfix">
                    <div class="post-date">
                        <label style="color:#f00; font-weight:bold; font-size:23px; margin-bottom:0; padding:2px">
                            @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Price)
                        </label>
                    </div>
                </div>*@
            </div>

            <div class="span3">
                <div class="post-content">
                    <div class="post-title" style="width:260px; margin-top:15px;">
                        <h3>
                            <i class="icon-bookmark post-title-icon"></i>
                            <span class="product-name" title="@item.Name" style="overflow-wrap:break-word; height:100px;">@item.Name</span>
                        </h3>
                    </div>

                    <div class="post-info clearfix">
                        <div class="post-date">
                            <label style="color:#f00; font-weight:bold; font-size:23px; margin-bottom:0; padding:2px">
                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Price)
                            </label>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div class="post-excerpt">
                        <p>
                            Donec magna nunc, vestibulum
                                at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                        </p>
                    </div>

                    <div style="height:50px;">
                        <div class="stylish-button" style="background-color: #7DBB18">
                            <a href="/Product/Details?ID=@item.ID" target="_blank">chi tiết</a>
                        </div>
                        <div class="stylish-button" style="background-color: #7DBB18">
                            <a href="javascript:void(0);" class="addToCompare" product-id="@item.ID" product-name="@item.Name">+ so sánh</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}
