@model IEnumerable<CPS_Solution.EntityFramework.Product>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section navigator
{
    <div id="top-image" class="top-image3">
        <div class="container">
            <div id="top-image-caption">
                <h2>tìm sản phẩm</h2>
            </div>
        </div>
    </div>

    <div id="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="~/">trang chủ</a><span class="divider">/</span></li>
                        <li><p>tìm kiếm</p></li>
                    </ul>
                </div>

                <div class="span4">
                    <div class="search-container">
                        @using (Html.BeginForm("SearchForProduct", "Product", FormMethod.Post)) {
                            <i class="icon-search search-box-icon"></i>
                            @Html.TextBox("productName", ViewBag.CurrentFilter as string, new { @type="text", @name="search", @class ="search-box", placeholder="Tên sản phẩm" })
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="isotope posts">
    
        @foreach (var item in Model) {
        <div class="isotope-item post span6">
            <div class="row">
                <div class="span3">
                    <div class="thumbnail post-media">
                        <img src="~/Images/I/default.jpg" />
                        <div class="thumbnail-hover">
                            <div class="post-info clearfix">
                                <div class="post-date">
                                    <i class="icon-caret-right">CPU:</i>
                                    <p>@item.strCPU</p>
                                </div>
                                <div class="post-date">
                                    <i class="icon-caret-right">VGA:</i>
                                    <p>@item.strVGA</p>
                                </div>
                                <div class="post-date">
                                    <i class="icon-caret-right">RAM:</i>
                                    <p>@item.strRAM</p>
                                </div>
                                <div class="post-date">
                                    <i class="icon-caret-right">HDD:</i>
                                    <p>@item.strHDD</p>
                                </div>
                                <div class="post-date">
                                    <i class="icon-caret-right">Display:</i>
                                    <p>@item.strDisplay</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="post-content">
                        <div class="post-title">
                            <h3>
                                <i class="icon-bookmark post-title-icon"></i>
                                <span class="product-name" title="@item.Name">@item.Name</span>
                            </h3>
                        </div>

                        <div class="post-info clearfix">
                            <div class="post-date">
                                <i class="icon-usd"></i>
                                <p>@item.Price</p>
                            </div>
                        </div>

                        <div style="clear: both"></div>

                        <div class="post-excerpt">
                            <p>
                                Donec magna nunc, vestibulum
                                at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                            </p>
                        </div>

                        <div class="stylish-button">
                            <a href="@Url.Action("Details", "Product")">chi tiết</a>
                        </div>
                        <div class="stylish-button">
                            <a href="#">thêm vào so sánh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        }
</div>

