@model IEnumerable<CPS_Solution.EntityFramework.Product>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section navigator
{
    @* <div id="top-image" class="top-image3">
        <div class="container">
            <div id="top-image-caption">
                <h2 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">tìm sản phẩm</h2>
            </div>
        </div>
    </div>
    <div id="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="~/">trang chủ</a><span class="divider">/</span></li>
                        <li><p>tìm kiếm</p></li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>*@
}

<style>
    .tabs-left {
        position: fixed;
        padding: 28px 28px 0px 28px;
        top: 70px;
        left: 500px;
        z-index: 4;
        background-image: url(../Template/stylish.holobest.com/images/title.png);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>
<div class="main-content">
    <div class="container">

    </div>
</div>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#searchByName" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo tên</strong></a>
        </li>
        <li class=""><a href="#searchByPrice" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo giá</strong></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="searchByName">
            @using (Html.BeginForm("SearchForProduct", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
            {
                @Html.TextBox("productName", ViewBag.CurrentFilter as string, new { placeholder = "Từ khóa..." })
                <button type="submit">Tìm kiếm</button>               
            }
        </div>
        <div class="tab-pane fade" id="searchByPrice">

            @using (Html.BeginForm("SearchByPriceAndBrandTop3", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
            {
                @Html.DropDownList("brands", ViewBag.ListBrands as List<SelectListItem>, new { @style = "width:100px;height:40px" })
                @Html.DropDownList("prices", ViewBag.ListPrices as List<SelectListItem>, new { @style = "width:225px;height:40px" })
                <button type="submit" style="width: 125px; margin-left: -5px; z-index: 4">Tìm kiếm</button>               
            }
        </div>
    </div>
</div>
<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                @if (Model.Any())
                {
                    <div id="loadItemcontainer" style="margin-top: 60px">
                        @{Html.RenderAction("ProductList", "Product", new { Model = Model });}
                    </div>
                }
                else
                {
                    <div class="page-element gray-element" style="margin-top: 20px; margin-bottom: 40px; border-radius: 10px;">
                        <div class="container element-container standard-element">
                            <div class="row">
                                <div class="span6 element-image-left fadeLeft animated fadeInLeft" style="visibility: visible;">
                                    <img class="standard-element-image" src="~/Template/stylish.holobest.com/images/element-image1.png" alt="standard-element-image" style="width: 600px; height: 430px">
                                </div>

                                <div class="span6 fadeRight animated fadeInRight" style="visibility: visible; width: 520px">
                                    <h3>Rất tiếc, chúng tôi không tìm thấy kết quả nào phù hợp với từ khóa của bạn.</h3>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Hãy thử lại với những cách sau:</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Kiểm tra lại <strong>từ khóa</strong> có thể bạn đã gõ sai <strong><u>(Ví dụ: Asus3500 = As3500)</u></strong> </p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Dùng từ khóa <strong>ngắn gọn</strong> và <strong>đơn giản</strong> hơn.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p><strong>Vẫn không tìm thấy</strong> sản phẩm bạn muốn. Xin hãy <strong>cung cấp</strong> cho chúng tôi thông tin về sản phẩm.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Chúng tôi sẽ <strong>liên lạc</strong> với bạn và <strong>thông báo</strong> về tình trạng sản phẩm này.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Click vào <a href="@Url.Action("SearchForProduct", "Product")"><span style="color: blue;"><strong>đây</strong></span></a> để thử lại.</p>
                                        </li>
                                    </ul>
                                    <div class="stylish-button">
                                        <a href="@Url.Action("Recommend", "Product")"><i class="icon-thumbs-up"></i>Gửi Đề xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                }

            </div>
            <div id="clickButton" class="stylish-button" style="background-color: #7DBB18; margin-left:46% ;margin-bottom: 20px;">
                <a onclick="clickHere()">Xem thêm</a>
            </div>
            <div id="loadingDiv" style="display: none; margin-right: auto; margin-left: auto; margin-bottom: 20px; width: 55px; height: 55px">
                <img alt="Loading" src="@Url.Content("~/Images/loading.gif")" />
            </div>
        </div>
    </div>
</div>
@*<div class="page-element gray-element">
    <div class="tabbable  tabs-left" style="margin-left: 300px">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#searchByName" data-toggle="tab" style="background: #d83c3c; font-size: larger; font-weight: 500; color: #fff"><strong>Tìm kiếm theo tên</strong></a>
            </li>
            <li class=""><a href="#searchByPrice" data-toggle="tab" style="background: #d83c3c; font-size: larger; font-weight: 500; color: #fff"><strong>Tìm kiếm theo giá</strong></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="searchByName">
                @using (Html.BeginForm("SearchForProduct", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                {
                    @Html.TextBox("productName", ViewBag.CurrentFilter as string, new { placeholder = "Từ khóa..." })
                    <button type="submit">Tìm kiếm</button>               
                }
            </div>
            <div class="tab-pane fade" id="searchByPrice">

                @using (Html.BeginForm("SearchByPriceAndBrand", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                {
                    @Html.DropDownList("brands", ViewBag.ListBrands as List<SelectListItem>, new { @style="width:100px;height:40px"})
                    @Html.DropDownList("prices", ViewBag.ListPrices as List<SelectListItem>,new { @style="width:225px;height:40px" })
                    <button type="submit" style="width:126px;margin-left:-5px;">Tìm kiếm</button>               
                }

            </div>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <div id="loadItemcontainer" class="container">
            @{Html.RenderAction("ProductList", "Product", new { Model = Model });}
        </div>
        <div id="loadingDiv" style="text-align: center; display: none; margin-left: 580px; margin-bottom: 20px; height: 32px; width: 32px">
            <img alt="Loading" src="@Url.Content("~/Images/112.gif")" />
        </div>

    }
    else
    {
        <div class="row">

            <div class="page-element standard-element-container-1">
                <div class="container element-container standard-element">
                    <div class="row">
                        <div class="span6 element-image-left fadeLeft animated fadeInLeft" style="visibility: visible;">
                            <img class="standard-element-image" src="~/Template/stylish.holobest.com/images/element-image1.png" alt="standard-element-image" style="width: 600px; height: 467px">
                        </div>

                        <div class="span6 fadeRight animated fadeInRight" style="visibility: visible; width: 520px">
                            <h3>Rất tiếc, chúng tôi không tìm thấy kết quả nào phù hợp với từ khóa của bạn.</h3>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p>Hãy thử lại với những cách sau:</p>
                                </li>
                            </ul>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p>Kiểm tra lại <strong>từ khóa</strong> có thể bạn đã gõ sai <strong><u>(Ví dụ: Asus3500 = As3500)</u></strong> </p>
                                </li>
                            </ul>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p>Dùng từ khóa <strong>ngắn gọn</strong> và <strong>đơn giản</strong> hơn.</p>
                                </li>
                            </ul>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p><strong>Vẫn không tìm thấy</strong> sản phẩm bạn muốn. Xin hãy <strong>cung cấp</strong> cho chúng tôi thông tin về sản phẩm.</p>
                                </li>
                            </ul>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p>Chúng tôi sẽ <strong>liên lạc</strong> với bạn và <strong>thông báo</strong> về tình trạng sản phẩm này.</p>
                                </li>
                            </ul>
                            <ul class="list unstyled custom-list-small">
                                <li><i class="icon-ok"></i>
                                    <p>Click vào <a href="@Url.Action("SearchForProduct", "Product")"><span style="color: blue;"><strong>đây</strong></span></a> để thử lại.</p>
                                </li>
                            </ul>
                            <div class="stylish-button">
                                <a href="@Url.Action("Recommend", "Product")"><i class="icon-thumbs-up"></i>Gửi Đề xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    }

</div>*@

@*Compare cart*@
<div id="compare_panel" style="display: block; z-index: 2">
    <h3>Các sản phẩm sẽ so sánh<a class="compare-close"></a></h3>
    <ul></ul>
    <label class="compare-button">
        <span>So sánh</span>
    </label>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#compare_panel ul").html() != "") {
            return false;
        } else {
            checkSession();
        }
    });
</script>
<script type="text/javascript">
    var BlockNumber = 2;  //Infinate Scroll starts from second block
    var NoMoreData = false;
    var inProgress = false;
    function clickHere() {
        if (!NoMoreData && !inProgress) {

            inProgress = true;
            $("#loadingDiv").show();
            $("#clickButton").hide();
            $.post("@Url.Action("InfinateScrollSearchByName", "Product")", { "BlockNumber": BlockNumber, "searchValue": $('#productName').val() },
                    function (data) {
                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        if (!NoMoreData)
                        {
                            $("#clickButton").show();
                        }
                        $("#loadItemcontainer").append(data.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    }
    @*$(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() -
        $(window).height() && !NoMoreData && !inProgress) {

            inProgress = true;
            $("#loadingDiv").show();

            $.post("@Url.Action("InfinateScrollSearchByName", "Product")", { "BlockNumber": BlockNumber, "searchValue": $('#productName').val() },
                    function (data) {
                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $("#loadItemcontainer").append(data.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    });*@
</script>
