@model IEnumerable<CPS_Solution.EntityFramework.AliasProduct>
@using CPS_Solution.EntityFramework;

<h3>CÁC WEBSITE CÓ SẢN PHẨM TƯƠNG TỰ</h3>
@{
    CPS_SolutionEntities context = new CPS_SolutionEntities();
    string name = "";
    var stores = context.Stores.Where(x => x.IsActive == true).ToList();
}
@foreach (var item in Model)
{
    foreach (var store in stores)
    {
        if (store != null)
        {
            if (item.URL.Contains(store.StoreUrl))
            {
    <div class="row" style="margin-right: 15px">
        <div class="span3" style="width: 140px">
            <div class="row" style="height: 50%; width: 80%">
                <img src="@store.LogoImage" style="padding:1px; border-style:solid; border-width:1px; width:250px; height:60px;"/>
                <label>@store.StoreUrl</label>
            </div>
        </div>
        <div class="span3" style="width: 160px">
            <div class="row" style="height: 70%; width: 80%">
                <div class="span3">
                    <label for="name">@item.Price vnđ</label>
                    <label for="email">Cập nhật 7h trước</label>
                    <div class="stylish-button" style="background-color: #FF3333">
                            <a href="#">button</a>
                        </div>
                    <label for="website"><a class="btn primary" href="@item.URL">Tới nơi bán</a></label>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="row" style="overflow-wrap: break-word; width: 500px">
                <div class="span6" style="width: 80%">
                    <label>@item.Name</label>
                    <label>Kho hàng : liên hệ</label>
                    <label><a href="#">@item.URL</a></label>
                </div>
            </div>
        </div>
    </div>
    <div class="stylish-light-separator" style="margin: 5px; border-top: 1px solid #111213; width: 800px"></div>
            }
        }

    }

}
