@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<List<ProductMap>> listDup = ViewBag.Listduptraning;
    List<List<ProductMap>> listDup1 = ViewBag.ListdupProduct;
    int countlistdup = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
}
@section headScript
{
    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-retina.png" />

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/reset.css" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/fluid.css" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.theme.css" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.css" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/demo.css" media="screen" />
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <!-- Plugin Files -->
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.placeholder.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.icons.js"></script>
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>
    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js"></script>

    <!--  Demo JavaScript Files popup Ui Popup 
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.ui.js"></script>-->
    <!-- jGrowl Plugin   -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.css" media="screen" />

    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
    <!----------------------------- Lên datatable Plugin------------------------------------------>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.debouncedresize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.metadata.js")"></script>



}
@section sidebar
{
  <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="/admin/ViewRating">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">7</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul>
                    <li >
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                     <li style="background-color: #a6d037;">

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                           </li>
                           <li>
                         <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">4</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                     <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                      <li>
                        <a href="@Url.Action("Index", "ViewSearchNotFound")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử tìm kiếm</strong>
                        </a>
                    </li>
                </ul>
            </li>
           
            <li>
                <a href="#">
                      <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                   <li>
                        <a href="@Url.Action("Index", "FillWeightHardWare")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">4</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li >
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                   @* <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

}
@section mainHeader
{
     <ul>
        <li style="margin-right: 5px"><a style="font-size:27px;cursor: default;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Xử lý</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("index", "TrainingProduct")" style="font-size:20px;font-style:italic;text-decoration:underline">Linh kiện có thể trùng</a>
        </li>
    </ul>
}
@section footScript
{
}
<!----------------------------------------------- Content Area --------------------------------------------->
<div class="clear"></div>
<div id="showInfo" class="grid_4">

    <div class="da-message info">
        Thông tin:
         <ul>
             @if (listDup1 != null)
             {
                 if (listDup1.Count > 0)
                 {              
                 <li>Có @listDup1.Count nhóm linh kiện trùng đang chờ xử lý ở tab "Thành phần trùng"</li>
                 }
             }
             @if (listDup != null)
             {
                 if (listDup.Count > 0)
                 {  
                 <li>Có @listDup.Count nhóm linh kiện trùng đang chờ xử lý ở tab "Thành phần trùng với cơ sở dữ liệu"</li>
                 }
             }           
         </ul>
    </div>
    </br>
</div>
<div class="grid_4">
    <!---------------->
    <div id="da-icon-tab" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="thumbselector">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#color-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-success.png" alt="">
                Linh kiện trùng nhau.</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#black-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-warning.png" alt="">
                Trùng với dữ liệu hệ thống</a></li>
        </ul>

        <div id="color-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
         <div class="da-panel collapsible">
                  @if (listDup1 != null)
                  {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Nhóm sản phẩm có thể trùng nhau
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
              
                      int i = 0;

                      foreach (List<ProductMap> listp in listDup1)
                      {
                          i++;
                          // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gop1table(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tach1table(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column" style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
                                    <th style="width: 92px;">Chọn tên chính                                                               
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>
                                         <td class=" ">@p.loai</td>
                                        <td class="da-icon-column">

                                            <!-- Nếu là sản phẩm đầu tiên thì check radio-->
                                            @if (y == 1)
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio" checked="checked" >
                                            }
                                            else
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio"> 
                                            }
                                        </td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                      }
                  }


            </div> 
        </div>
        <div id="black-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            
              <div class="da-panel collapsible">
                  @if (listDup != null)
                  {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Sản phầm có thể trùng với cơ sở dữ liệu.
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
               
                      int i = 999;

                      foreach (List<ProductMap> listp in listDup)
                      {
                          i++;
                          // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tachdatabase(@(i))" > 
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
 
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>                                 
                                        <td class=" ">@p.loai</td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                      }
                }


            </div> 
           </div>

    </div>
 </div>

          

        <!-----------------------------------------javascript -------------------------------------->













        <script>
            // check all in table
            function checkboxAllTable(i) {
                if ($("#checkboxAllTable_" + i).find("input:checkbox")[0].checked == true) {
                    $("#table_" + i).find("tbody").find("input:checkbox").attr('checked', $(this).is('') ? 'checked' : '');
                    $("#table_" + i).find("tbody").find("tr").attr("class", "checked");
                }
                else {
                    $("#table_" + i).find("tbody").find("input:checkbox").removeAttr('checked');
                    $("#table_" + i).find("tbody").find("tr").removeClass('checked');
                }
            }

            // Tab sản phẩm trùng
            function tabsanphamtrung() {  
                var val = "nothing";                                                                                          
                var postData = { valuesgop: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TrainingProduct/gopdatabase",
                    data: postData,
                    success: function(data){
                        $('#black-icon').html(data);
                    },

                });     
            }

            // show Info số lượng trong danh sách đúng trùng lỗi
            function showInfo()
            {
                string = "ok";
                var postData = {showinfo: string };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TraningProduct/showInfo1",
                    data: postData,
                    success: function(data){
                        $('#showInfo').html(data);
                    },

                });
            }


            //xóa sản phẩm đúng.
            function xoasanphamdung(stt){
                if (confirm("Bạn có chắc chắn muôn xóa sản phẩm này?")) {
                    var postData = { sttproduct: stt };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ImportExcelLap/deleteproduct",
                        data: postData,
                        success: function(data){
                            $('#CorrectID').html(data);
                            tabsanphamdung();
                            showInfo();
                        },
                    });
                } else {
                                               
                }
                                            
            }



                                                
            // Tách 1 table
            function tach1table(i) {  
                var val = "";
                var count =0;
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='*'+ $(this).val();
                    count ++;
                });   
                
                if(count==1){
                    $.jGrowl("Để tách bảng vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
                }
                // thêm
                $("#table_" + i).find("tbody").find("input:checkbox").each(function(i){                                               
                    val +='@@'+ $(this).val();
                });      
                var postData = { valuest: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TrainingProduct/getTach",
                    data: postData,
                    success: function(data){
                        $('#color-icon').html(data);
                        // load lại tab product trùng database
                        tabsanphamtrung();
                        showInfo();

                    },

                });     
            }
            //Gộp 1 talbe
            function gop1table(i) {  
                var val = "";
                var check =[];
                var radio ="";
                var count = 0;
                var ChoiceName =0;
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='@@'+ $(this).val();
                    check[i]= $(this).val();
                    count ++;
                });
                if(count>=2){
                   
                    $("#table_" + i).find("tbody").find("input:radio:checked").each(function(i){  
                        val += '@@'+ $(this).val();
                        radio = $(this).val();
                    });
                    for(var x =0; x <check.length; x++)
                    {
                        if(check[x] == radio){
                            ChoiceName ++;
                            var postData = { valuest: val };
                            $.ajax({
                                type: "POST",
                                url: "/Admin/TrainingProduct/getGop",
                                data: postData,
                                success: function(data){
                                    $('#color-icon').html(data);
                                    // load lại tab product trùng database
                                    tabsanphamtrung();
                                    showInfo();
                                },                                              
                            });  
                            break;
                        }
                    }
                    if(ChoiceName==0){          
                        $.jGrowl("Vui lòng chọn tên chính để gộp sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});       
                    }               
                }else{
                    $.jGrowl("Để gộp vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
                }            
                //   location.reload();
            }
            // tách table khi so trùng database
            function tachdatabase(i)
            {
                var val = "";
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='@@'+ $(this).val();
                });
                var postData = { valuestach: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TrainingProduct/tachdatabase",
                    data: postData,
                    success: function(data){
                        $('#black-icon').html(data);
                        showInfo();
                      //  tabsanphamdung();                                               
                    },                                             
                });  

            }
            // gộp table khi so trùng database
            function gopdatabase(i)
            {
                var val = "";
                $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
                    val +='@@'+ $(this).val();
                });
                var postData = { valuesgop: val };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TrainingProduct/gopdatabase",
                    data: postData,
                    success: function(data){
                        $('#black-icon').html(data);
                        showInfo();
                     //   tabsanphamdung();                                               
                    },

                                                
                });  

            }
        </script>
        <!---------------------Popup--------------------------------- Stick---------------------------------------->
        <!---  <button id="da-ex-growl-2" class="da-button green">Growl with Header</button> --->
        <style>
            div.jGrowl.bottom-right
            {
                top: 19%;
                right: 1%;
            }
        </style>
        <script>                      
            (function($) {
                $(document).ready(function(e) {   
                    // dialog popup
                    $("#da-ex-accordion, #da-ex-accordion-plain").accordion();
		
                    $("#da-ex-tabs, #da-ex-tabs-plain").tabs();
		
                    $("#da-ex-datepicker, #da-ex-datepicker-inline").datepicker({showOtherMonths:true});
		
                    $("#da-ex-datepicker-week").datepicker({showOtherMonths:true, showWeek: true});
		
                    $("#da-ex-datepicker-months").datepicker({showOtherMonths:true, numberOfMonths: 3});
		
                    $("#da-ex-datetimepicker").datetimepicker();
		
                    $("#da-ex-timepicker").timepicker({});
		
                    $(".da-ex-buttons").button();
		
                    $("#da-ex-buttons-radio, #da-ex-buttons-checkbox").buttonset();
		
                    $( "#da-ex-buttons-icon button:first" ).button({
                        icons: {
                            primary: "ui-icon-locked"
                        },
                        text: false
                    }).next().button({
                        icons: {
                            primary: "ui-icon-locked"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    });
		
                    var availableTags = [
                        "ActionScript",
                        "AppleScript",
                        "Asp",
                        "BASIC",
                        "C",
                        "C++",
                        "Clojure",
                        "COBOL",
                        "ColdFusion",
                        "Erlang",
                        "Fortran",
                        "Groovy",
                        "Haskell",
                        "Java",
                        "JavaScript",
                        "Lisp",
                        "Perl",
                        "PHP",
                        "Python",
                        "Ruby",
                        "Scala",
                        "Scheme"
                    ];
		
                    $( "#da-ex-autocomplete" ).autocomplete({
                        source: availableTags
                    });
		
                    $("#da-ex-slider").slider();
		
                    $("#da-ex-slider-range").slider({
                        range: true,
                        min: 0,
                        max: 500,
                        values: [ 75, 300 ], 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-info .da-highlight" ).html( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                        }
                    });
		
                    $(".da-ex-color-slider").slider({
                        range: "min",
                        value: 45,
                        min: 1,
                        max: 100
                    });
		
                    $("#da-ex-slider-range-fixed").slider({
                        range: "min",
                        value: 37,
                        min: 1,
                        max: 700, 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-fixed-info .da-highlight" ).html( "$" + ui.value );
                        }
                    });
	
                    $( "#da-slider-equalizer > span" ).each(function() {
                        var value = parseInt( $( this ).text(), 10 );
			
                        $( this ).empty().slider({
                            value: value,
                            range: "min",
                            animate: true,
                            orientation: "vertical"
                        });
                    });
		
                    $(".da-ex-color-pb, #da-ex-pb, #da-ex-pba").each(function() {
                        $(this).progressbar({
                            value: 25 + Math.floor(Math.random() * 50)
                        });
                    });
		
                    $("#da-ex-pba-trigger").bind('click', function(e) {
                        $(this).parent().next("#da-ex-pba").progressbar('value', 20 + Math.floor(Math.random() * 80));
                        e.preventDefault();
                    });
		
                    $("#da-ex-dialog-div").dialog({
                        autoOpen: false, 
                        title: "Chọn ghi lại sản phẩm lỗi và trùng chưa được xử lý, để sau đó có thể tiếp tục xử lý.", 
                        modal: true, 
                        width: "550", 
                        buttons: [{
                            text: "Đóng", 
                            click: function() {
                                $( this ).dialog( "close" );
                            }}]
                    });
		
		
          
		
                    $("#da-ex-dialog").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: false}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-modal").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-form").bind("click", function(event) {
                        $("#da-ex-dialog-form-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    //  Growl Notifications 
                    if($.jGrowl) {
                                   		
                        $("#da-ex-growl-2").bind("click", function(event) {
                            $.jGrowl("Con cò bé bé", {header: "Nhắc nhở!", position: "bottom-right"});
                        });
                    }		
                });
            }) (jQuery); 		</script>
        <!-----------Popup------------------------ Stick---------------------------------->
