@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    Layout = null;
    List<List<ProductMap>> listDup = ViewBag.Listduptraning;
}

 <!-------------------listdupnew--------------------------------------------------------------------------------------->
           <div class="da-panel collapsible">
                  @if (listDup != null)
                  {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Sản phầm trùng với sản phẩm trong cơ sở dữ liệu.
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
               
                      int i = 999;

                      foreach (List<ProductMap> listp in listDup)
                      {
                          i++;
                          // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tachdatabase(@(i))" > 
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
 
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>                                 
                                        <td class=" ">@p.loai</td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                      }
                }


            </div> 