@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "gopdatabase";
    List<List<LapData>> listDup = ViewBag.ListdupLaptraning;
    List<List<LapData>> listDupdb = ViewBag.LapDatadbTraning;
    int countlistdup = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
}

   <!-- tab2 -------------------------------------------------------------------------------------------------- <p class="el-finder-err" style="display: block;width:90%;height:1px;margin-left:5%"><strong></strong></p>----->
             <!-------------------listdupnew--------------------------------------------------------------------------------------->
            <div class="da-panel collapsible">
                @if (listDupnew != null)
                {
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách sản phẩm có thể trùng với sản phẩm trong cơ sở dữ liệu.
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
               
                    int i = 0;

                    foreach (List<LapData> listp in listDupnew)
                    {
                        i++;
                        // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  style="width: 46.5px;" onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tachdatabase(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên máy</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Địa chỉ ảnh</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">CPU</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">VGA</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">HDD</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Màn hình</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Ram</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Price</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Địa chỉ máy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (LapData p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td class=" ">@p.Name</td>
                                       <td class=" "><a style="width: 100px;" target="_blank" href="@p.Imagelink"><i><u>Xem ảnh</u></i></a></td>
                                        <td class=" ">@p.CPU</td>
                                        <td class=" ">@p.VGA</td>
                                        <td class=" ">@p.HDD</td>
                                        <td class=" ">@p.Display</td>
                                        <td class=" ">@p.RAM</td>
                                        <td class=" ">@p.Price</td>
                                        <td class=" ">@p.Url</td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                    }
                }


            </div>

            <!--ket thuc tab2------------------------------------------------------------------------------------------------------------------------------------------------------>
