@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<LapData> list = ViewBag.listproduct;
    List<List<LapData>> listDup = ViewBag.ListdupLaptraning;
    // danh sách lỗi khi lỗi quá nhiều
    List<LapData> danhsachlaploi = ViewBag.danhsachlaploi;
    int countlistdup = 0;
    int countlist = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
    if (list != null)
    {
        countlist = list.Count;
    }
    List<List<LapData>> listDupnew = ViewBag.listduplicatenewLap;
    int countlistdup1 = 0;
    if (listDupnew != null)
    {
        countlistdup1 = listDupnew.Count;
    }

}
@section headScript
{
    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-retina.png" />

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/reset.css" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/fluid.css" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.theme.css" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.css" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/demo.css" media="screen" />
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <!-- Plugin Files -->
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.placeholder.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.icons.js"></script>
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>
    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js"></script>

    <!--  Demo JavaScript Files popup Ui Popup 
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.ui.js"></script>-->
    <!-- jGrowl Plugin   -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.css" media="screen" />

    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
    <!----------------------------- Lên datatable Plugin------------------------------------------>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.debouncedresize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.metadata.js")"></script>



}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Rating", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">3</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                           </li>
                           <li>
                         <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">2</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                     <li>

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/file_cabinet.png")" alt="File Handling" />
                    </span>
                    <strong>Quản lí từ điển</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/alias.png")" alt="" />
                            <strong>Tạo mới trường</strong>
                        </a>

                    </li>
                    <li>

                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/dic2.png")" alt="" />
                            <strong>Danh sách các trường</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li style="background-color: #a6d037;">
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
@section mainHeader
{
     <ul>
        <li style="margin-right: 5px"><a style="cursor: default;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Xử lý</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("index", "TraningLaptop")" style="font-style:italic;text-decoration:underline">Laptop có thể trùng</a>
        </li>
    </ul>
}
@section footScript
{
}
<!----------------------------------------------- Content Area --------------------------------------------->
<div class="grid_2" style="width:360px">
    <div class="da-panel-widget">
        <ul class="da-summary-stat">
            <li>
                <a href="#">
                    <span class="da-summary-icon" style="background-color: #656565;">
                        <img src="/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png" alt="">
                    </span>
                    <span class="da-summary-text">
                        <span class="value up">Xử lý Latop trùng nhau</span>
                        <span class="label">Laptop trùng nhau chưa xử lý khi nhập excel</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div id="showInfo" class="grid_4">

    <div class="da-message info">
        Thông tin:
         <ul>            
             @if (list != null)
             {
                 if (list.Count > 0)
                 {  
                 <li>Có @list.Count sản phẩm trong danh sách đúng để lưu vào cơ sở dữ liệu!</li>
                 }
             }            
              @if (listDup != null)
              {
                  if (listDup.Count > 0)
                  {  
                  <li>Có @listDup.Count nhóm sản phẩm trong danh sách trùng đang chờ xử lý!</li>
                  }
              }
             @if (listDupnew != null)
             {
                 if (listDupnew.Count > 0)
                 {  
                 <li>Khi lưu sản phẩm vào cơ sở dư liệu hệ thống phát hiện có @listDupnew.Count nhóm sản phẩm có thể trùng vui lòng mở tab "sản phẩm trùng cơ sở dữ liệu" để xử lý!</li>
                 }
             }
         </ul>
    </div>
    </br>
</div>
<div class="grid_4">
    <!---------------->
    <div id="da-icon-tab" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="thumbselector">
            <li class="ui-state-default ui-corner-top"><a href="#color-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-success.png" alt="">
                Danh sách sản phẩm đúng</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#white-icon">@**@
                <img src="~/Areas/Admin/Dandelion/images/message-warning.png" alt="">
                Danh sách sản phẩm trùng với database</a></li>
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#black-icon">
                <img src="~/Areas/Admin/Dandelion/images/message-warning.png" alt="">
                Danh sách sản phẩm trùng</a></li>
        </ul>

        <div id="color-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  
            <div id="CorrectID">
                
            <!--tab1------------------------------------------------------------------------------------->
            @if (list != null)
            {
                <div class="da-panel-toolbar top">
                    <ul>
                        <form action="~/Admin/ImportExcelLap/saveAllProduct" method="post" enctype="multipart/form-data">
                            <li>
                                <a onclick="saveCorrectProduct()" id="da-ex-dialog-modal">
                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/accept.png" alt="">Lưu</a></li>                        
                        </form>
                        <li><a href="~/Admin/ImportExcelLap/huyimport">
                            <img src="~/Areas/Admin/Dandelion/images/icons/color/delete.png" alt="">Hủy</a></li>
                    </ul>
                </div>
            }         
                <!------------------------------------------------------------------------------------------->
                <div class="da-panel collapsible">
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách để lưu vào cơ sở dữ liệu
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <div id="da-ex-datatable-numberpaging_wrapper" class="dataTables_wrapper" role="grid">


                            <table id="da-ex-datatable-numberpaging" class="da-table dataTable" aria-describedby="da-ex-datatable-numberpaging_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 40px;">STT</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên máy</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Địa chỉ ảnh</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">CPU</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">VGA</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">HDD</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Màn hình</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Ram</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Giá</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Địa chỉ bán</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 50px;">Thực hiện</th>
                                    </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all">

                                    @if (list != null)
                                    {
                                        foreach (LapData p in list)
                                        {
                                        <tr class="odd">
                                            
                                            <td class=" sorting_1">@p.stt </td>
                                            <td class=" "> <label style="width: 100px;">@p.Name</label></td>
                                            <td class=" "><a style="width: 100px;" target="_blank" href="@p.Imagelink"><i><u>Xem ảnh</u></i></a></td>
                                            <td class=" "><label style="width: 100px;">@p.CPU</label></td>
                                            <td class=" "><label style="width: 100px;">@p.VGA</label></td>
                                            <td class=" "><label style="width: 100px;">@p.HDD</label></td>
                                            <td class=" "><label style="width: 100px;">@p.Display</label></td>
                                            <td class=" "><label style="width: 100px;">@p.RAM</label></td>
                                            <td class=" "><label style="width: 100px;">@p.Price</label></td>
                                            <td class=" "><label style="width: 100px;">@p.Url</label></td>
                                            <td class=" ">
                                                <input name="sttproduct" type="hidden"  value="@p.stt" />
                                                <a onclick="xoasanphamdung(@p.stt)">
                                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/cross.png">
                                                    Xóa</a>
                                                <a onclick="showPopupEdit(@p.stt)">
                                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/pencil.png">
                                                    Sửa</a>

                                                <!----------------Popup sửa sản phẩm đúng----------->
                                                <div id="Edit-@p.stt-Popup-div" style="display: none;">
                                                    <div class="da-panel">
                                                        @*  <div class="da-panel-header">
                                	                                    <span class="da-panel-title">
                                                                            <img src="/Areas/Admin/Dandelion/images/icons/black/16/pencil.png" alt="">                                                                           
                                                                        </span>
                                    
                                                                    </div>*@
                                                        <div class="da-panel-content">
                                                            <form class="da-form">
                                                                <div class="da-form-inline">
                                                                    <div class="da-form-row">
                                                                        <label>Tên Laptop</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Tên sản phẩm phải từ 5 tới 100 ký tự.</span>
                                                                            <input id="idNameCorect@(p.stt)" value="@p.Name" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>Đường dẫn ảnh</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Đường dẫn ảnh phải tồn tại.</span>
                                                                            <input id="idImagelinkCorect@(p.stt)" value="@p.Imagelink" type="text">
                                                                            <a onclick="ChangeImagePopup(@(p.stt))">
                                                                                <img src="/Areas/Admin/Dandelion/images/icons/color/magnifier.png"></a>
                                                                        </div>
                                                                        <div class="da-form-item">
                                                                            <a>
                                                                                <img style="width: 279px" id ="idViewImage@(p.stt)" src="@p.Imagelink"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>Màn hình</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Màn hình không được bỏ trống và phải nhỏ hơn 100 ký tự</span>
                                                                            <input id="idDisplayCorect@(p.stt)" value="@p.Display" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>CPU</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">CPU phải từ 5 tới 100 ký tự</span>
                                                                            <input id="idCPUCorect@(p.stt)" value="@p.CPU" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>VGA</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">VGA phải từ 5 tới 100 ký tự</span>
                                                                            <input id="idVGACorect@(p.stt)" value="@p.VGA" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>HDD</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">HDD không được bỏ trống vả phải nhỏ hơn 100 ký tự</span>
                                                                            <input id="idHDDCorect@(p.stt)" value="@p.HDD" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>Ram</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Ram không được bỏ trống vả phải nhỏ hơn 100 ký tự</span>
                                                                            <input id="idRamCorect@(p.stt)" value="@p.RAM" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>Giá</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Giá phải là số nguyên</span>
                                                                            <input id="idPriceCorect@(p.stt)" value="@p.Price" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="da-form-row">
                                                                        <label>Địa chỉ website bán</label>
                                                                        <div class="da-form-item">
                                                                            <span class="formNote">Địa chỉ website bán phải tồn tại</span>
                                                                            <input id="idUrlCorect@(p.stt)" value="@p.Url" type="text">
                                                                        </div>
                                                                    </div>                                                           
                                                                    <div class="da-button-row">
                                                                        <input onclick="EditCorrectPro(@p.stt)" type="button" value="Lưu" class="da-button green">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!----------------Popup------------------>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--ket thuc tab1------------------------------------------------------------------------------------------->

            </div>

        </div>

        <div id="white-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <!-- tab2 -------------------------------------------------------------------------------------------------- <p class="el-finder-err" style="display: block;width:90%;height:1px;margin-left:5%"><strong></strong></p>----->
             <!-------------------listdupnew--------------------------------------------------------------------------------------->
            <div class="da-panel collapsible">
                @if (listDupnew != null)
                {
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách sản phẩm có thể trùng với sản phẩm trong cơ sở dữ liệu.
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
               
                    int i = 0;

                    foreach (List<LapData> listp in listDupnew)
                    {
                        i++;
                        // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  style="width: 46.5px;" onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tachdatabase(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên máy</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Địa chỉ ảnh</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">CPU</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">VGA</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">HDD</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Màn hình</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Ram</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Price</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Địa chỉ máy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (LapData p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td class=" ">@p.Name</td>
                                        <td class=" "><a style="width: 100px;" target="_blank" href="@p.Imagelink"><i><u>Xem ảnh</u></i></a></td>
                                        <td class=" ">@p.CPU</td>
                                        <td class=" ">@p.VGA</td>
                                        <td class=" ">@p.HDD</td>
                                        <td class=" ">@p.Display</td>
                                        <td class=" ">@p.RAM</td>
                                        <td class=" ">@p.Price</td>
                                        <td class=" ">@p.Url</td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                    }
                }


            </div>

            <!--ket thuc tab2------------------------------------------------------------------------------------------------------------------------------------------------------>

        </div>
        <div id="black-icon" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <!--tab3--------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="da-panel collapsible">
                @if (listDup != null)
                {
                    <div class="da-panel-header">
                        <span class="da-panel-title">
                            <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                            Danh sách nhóm sản phẩm có thể bị trùng
                        </span>

                        <span class="da-panel-toggler"></span>
                    </div>
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
              
                    int i = 0;

                    foreach (List<LapData> listp in listDup)
                    {
                        i++;
                        // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="width: 68px;" style="text-align: right"><a id ="link_@(i)"  onclick="gop1table(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tach1table(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 180px;">Tên máy</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Địa chỉ ảnh</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">CPU</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 100px;">VGA</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">HDD</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Màn hình</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Ram</th>
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Giá</th>
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-numberpaging" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 40px;">Địa chỉ máy</th>

                                    <th style="width: 92px;">Chọn tên chính</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (LapData p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td class=" ">@p.Name</td>
                                        <td class=" "><a style="width: 100px;" target="_blank" href="@p.Imagelink"><i><u>Xem ảnh</u></i></a></td>
                                        <td class=" ">@p.CPU</td>
                                        <td class=" ">@p.VGA</td>
                                        <td class=" ">@p.HDD</td>
                                        <td class=" ">@p.Display</td>
                                        <td class=" ">@p.RAM</td>
                                        <td class=" ">@p.Price</td>
                                        <td class=" ">@p.Url</td>
                                        <td class="da-icon-column">

                                            <!-- Nếu là sản phẩm đầu tiên thì check radio-->
                                            @if (y == 1)
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio" checked="checked" >
                                            }
                                            else
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio"> 
                                            }
                                        </td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                    }
                }


            </div>
           
            <!--ket thuc tab3------------------------------------------------------------------------------------------------------------------>
        </div>

        <!-----------------------------------------javascript -------------------------------------->
        <script>
    <!----validate file upload :D-------->
    var fsize=0;
    var fname="";
    // get fsize và fname
    $('#fileupload').bind('change', function() {
        fsize = this.files[0].size/1024/1024;
        fname =  this.files[0].name;
                 
    });
    // check filesize và fname
    function checkuploadfile(){ 
        var check1 = fname.indexOf("xlsx");
        var check2 = fname.indexOf("xls");
        if(check1 >0||check2>0)
        {
            if(fsize>2){
                $.jGrowl("File không được lớn hơn 2Mb", {header: "Nhắc nhở!", position: "bottom-right"});
            }else{
                document.getElementById("da-ex-vali").submit();
            }
        }else{
            $.jGrowl("Hệ thống chỉ hỗ trợ file excel vui lòng thử lại!", {header: "Nhắc nhở!", position: "bottom-right"});
        }
    }
    //Hiện popup để sửa 1 sản phẩm đúng.
    function showPopupEdit(i){
        $("#Edit-"+i+"-Popup-div").dialog({
            autoOpen: false, 
            title: "Xem chi tiết và sửa thông tin sản phẩm!", 
            width: "600", 
            modal: true             
            //buttons: [{
            //    text: "Đóng", 
            //    click: function() {
            //        $( this ).dialog( "close" );
            //    }}]
        });

        $("#Edit-"+i+"-Popup-div").dialog("option", {modal: true}).dialog("open");
        event.preventDefault();
		
    }
    // change image on popup when click
    function ChangeImagePopup(i){
        document.getElementById("idViewImage"+i).src=document.getElementById("idImagelinkCorect"+i).value;
    }

    // show Info số lượng trong danh sách đúng trùng lỗi
    function showInfo()
    {
        string = "ok";
        var postData = {showinfo: string };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/showInfo1",
            data: postData,
            success: function(data){
                $('#showInfo').html(data);
            },

        });
    }

    // Lưu sản phẩm đúng và ghi log file
    function saveCorrectProduct() { 
        var val = ""; 
            val = "no";
            val += "@@no";        
        var postData = { checkval: val };

            $.ajax({
                type: "POST",
                url: "/Admin/TraningLaptop/saveAllProduct",
                data: postData,
                success: function(data){
                    location.reload();
                },

            });       
    }
    // check all in table
    function checkboxAllTable(i) {
        if ($("#checkboxAllTable_" + i).find("input:checkbox")[0].checked == true) {
            $("#table_" + i).find("tbody").find("input:checkbox").attr('checked', $(this).is('') ? 'checked' : '');
            $("#table_" + i).find("tbody").find("tr").attr("class", "checked");
        }
        else {
            $("#table_" + i).find("tbody").find("input:checkbox").removeAttr('checked');
            $("#table_" + i).find("tbody").find("tr").removeClass('checked');
        }
    }


    // lưu sản phẩm lỗi
    function luusanphamloi(stt){
        var Name =  document.getElementById("idName_"+stt).value;
        var ImageLink =  document.getElementById("idImageLink_"+stt).value;
        var CPU =  document.getElementById("idCPU_"+stt).value;
        var VGA =  document.getElementById("idVGA_"+stt).value;
        var HDD =  document.getElementById("idHDD_"+stt).value;
        var Display =  document.getElementById("idDisplay_"+stt).value;
        var Ram =  document.getElementById("idRam_"+stt).value;
        var Price = document.getElementById("idPrice_"+stt).value;
        var URL = document.getElementById("idURL_"+stt).value;
        var string = stt +'@@'+Name+'@@'+ImageLink+'@@'+ CPU+'@@'+ VGA+'@@'+ HDD+'@@'+ Display+'@@'+ Ram+'@@'+ Price+'@@'+ URL;
        if (confirm("Bạn có chắc chắn muốn lưu sản phẩm này?")) {
            var postData = { stringpro: string };
            $.ajax({
                type: "POST",
                url: "/Admin/TraningLaptop/fixedErrorProduct",
                data: postData,
                success: function(data){
                    $('#white-icon').html(data);
                    tabsanphamdung();
                    tabsanphamtrung();
                },

            });
        } else {
                                               
        }
    }
    // Sửa sản phẩm đúng
    function EditCorrectPro(stt){              
        // kiểm tra image
        img = new Image();
        var checkImg =0;   
           
        // nếu image load được thì check tăng lên 1
        img.onload = function(){
            checkImg ++;
        };
        var Name =  document.getElementById("idNameCorect"+stt).value;
        var ImageLink =  document.getElementById("idImagelinkCorect"+stt).value;
        img.src = ImageLink;
        var CPU =  document.getElementById("idCPUCorect"+stt).value;
        var VGA =  document.getElementById("idVGACorect"+stt).value;
        var HDD =  document.getElementById("idHDDCorect"+stt).value;
        var Display =  document.getElementById("idDisplayCorect"+stt).value;
        var Ram =  document.getElementById("idRamCorect"+stt).value;
        var Price = document.getElementById("idPriceCorect"+stt).value;
        var Url = document.getElementById("idUrlCorect"+stt).value;
        var string = stt +'@@'+Name+'@@'+ImageLink+'@@'+ CPU+'@@'+ VGA+'@@'+ HDD+'@@'+ Display+'@@'+ Ram+'@@'+ Price+'@@'+ Url;
        var count =0;                            
        // kiểm tra tên
        if(Name.length<5||Name.length>100)
        {
            document.getElementById("idNameCorect"+stt).style.borderColor='red';
            count++;
        }else {
            document.getElementById("idNameCorect"+stt).style.borderColor="";
        }           
        //kiểm tra cpu
        if(CPU.length<5||CPU.length>100)
        {
            document.getElementById("idCPUCorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idCPUCorect"+stt).style.borderColor="";
        }
        // kiểm tra VGA
        if(VGA.length<5||VGA.length>100)
        { 
            document.getElementById("idVGACorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idVGACorect"+stt).style.borderColor="";
        }
        // kiểm tra HDD
        if(HDD.length<1||HDD.length>100)
        {
            document.getElementById("idHDDCorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idHDDCorect"+stt).style.borderColor="";
        }
        // kiem tra Display
        if(Display.length<5||Display.length>100)
        {
            document.getElementById("idDisplayCorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idDisplayCorect"+stt).style.borderColor="";
        }
        // kiểm tra Ram
        if(Ram.length<1||Ram.length>100)
        {
            document.getElementById("idRamCorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idRamCorect"+stt).style.borderColor="";
        }
        // kiểm tra giá
        myFunction(Price);
        function myFunction(Price) {
            val = parseFloat(Price);
            if(isNaN(val)){
                document.getElementById("idPriceCorect"+stt).style.borderColor='red';
                count++;
            }else{
                document.getElementById("idPriceCorect"+stt).style.borderColor="";
            }
        }
        //kiểm tra URL             
        if(checkUrl(Url) ==false)
        {
            document.getElementById("idUrlCorect"+stt).style.borderColor='red';
            count++;
        }else{
            document.getElementById("idUrlCorect"+stt).style.borderColor="";
        }
        //            
        function checkUrl(url) {
            var request = false;
            if (window.XMLHttpRequest) {
                request = new XMLHttpRequest;
            } else if (window.ActiveXObject) {
                request = new ActiveXObject("Microsoft.XMLHttp");
            }
            if (request) {
                request.open("GET", url);
                if (request.status == 200)
                { return true; }
                if( request.status == 404) 
                { return false; }
            }
                   
                

               
        }
                   
         
        // kiểm tra image
        setTimeout(function () {
            if(checkImg==0){                   
                document.getElementById("idImagelinkCorect"+stt).style.borderColor ='red';
                count++;
            }else{
                document.getElementById("idImagelinkCorect"+stt).style.borderColor="";
            }
            if(count==0)
            {
                var postData = {stringprocorrect: string };
                $.ajax({
                    type: "POST",
                    url: "/Admin/TraningLaptop/EditCorrectPro",
                    data: postData,
                    success: function(data){
                        // $('#white-icon').html(data);
                        $("#Edit-"+stt+"-Popup-div").dialog( "close");
                        tabsanphamdung();
                        tabsanphamtrung();
                        showInfo();
                    },

                });
            }
        }, 1000);         
        // nếu không phát hiện lỗi thì gửi về controller để xử lý                       
    }   
            

    // Tab sản phẩm trùng
    function tabsanphamtrung() {  
        var val = "nothing";                                                                                          
        var postData = { valuest: val };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/getTach",
            data: postData,
            success: function(data){
                $('#black-icon').html(data);
            },

        });     
    }
    // tab sản phẩm lỗi
    function tabsanphamloi(){
        var string="nothing";
        var postData = { stringpro: string };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/fixedErrorProduct",
            data: postData,
            success: function(data){
                $('#white-icon').html(data);
                showInfo();
            },

        });
                                                  
    }

    //tab sản phẩm đúng
    function tabsanphamdung(){
        var string="nothing";
        var postData = { sttproduct: string };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/deleteproduct",
            data: postData,
            success: function(data){
                $('#CorrectID').html(data);
                showInfo();
            },

        });
                                                  
    }


    //xóa sản phẩm đúng.
    function xoasanphamdung(stt){
        if (confirm("Bạn có chắc chắn muôn xóa sản phẩm này?")) {
            var postData = { sttproduct: stt };
            $.ajax({
                type: "POST",
                url: "/Admin/TraningLaptop/deleteproduct",
                data: postData,
                success: function(data){
                    $('#CorrectID').html(data);
                    tabsanphamdung();
                },
            });
        } else {
                                               
        }
                                            
    }



                                                
    // Tách 1 table
    function tach1table(i) {  
        var val = "";
        var count =0;
        $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
            val +='*'+ $(this).val();
            count ++;
        });   
                
        if(count==1){
            $.jGrowl("Để tách bảng vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
        }
        // thêm
        $("#table_" + i).find("tbody").find("input:checkbox").each(function(i){                                               
            val +='@@'+ $(this).val();
        });      
        var postData = { valuest: val };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/getTach",
            data: postData,
            success: function(data){
                $('#black-icon').html(data);
                tabsanphamdung();
            },

        });     
    }
    //Gộp 1 talbe
    function gop1table(i) {  
        var val = "";
        var check =[];
        var radio ="";
        var count = 0;
        $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
            val +='@@'+ $(this).val();
            check[i]= $(this).val();
            count ++;
        });
        if(count>=2){
                   
            $("#table_" + i).find("tbody").find("input:radio:checked").each(function(i){  
                val += '@@'+ $(this).val();
                radio = $(this).val();
            });
            for(var x =0; x <check.length; x++)
            {
                if(check[x] == radio){
                    var postData = { valuest: val };
                    $.ajax({
                        type: "POST",
                        url: "/Admin/TraningLaptop/getGop",
                        data: postData,
                        success: function(data){
                            $('#black-icon').html(data);
                            tabsanphamdung();                                               
                        },                                              
                    });  
                    break;
                }else{
                    $.jGrowl("Vui lòng chọn tên chính để gộp sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
                    break;
                }
            }
                   
        }else{
            $.jGrowl("Để gộp vui lòng chọn ít nhất 2 sản phẩm", {header: "Nhắc nhở!", position: "bottom-right"});
        }            
        //   location.reload();
    }
    // tách table khi so trùng database
    function tachdatabase(i)
    {
        var val = "";
        $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
            val +='@@'+ $(this).val();
        });
        var postData = { valuestach: val };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/tachdatabase",
            data: postData,
            success: function(data){
                $('#white-icon').html(data);
                tabsanphamdung();                                               
            },                                             
        });  

    }
    // gộp table khi so trùng database
    function gopdatabase(i)
    {
        var val = "";
        $("#table_" + i).find("tbody").find("input:checkbox:checked").each(function(i){                                               
            val +='@@'+ $(this).val();
        });
        var postData = { valuesgop: val };
        $.ajax({
            type: "POST",
            url: "/Admin/TraningLaptop/gopdatabase",
            data: postData,
            success: function(data){
                $('#white-icon').html(data);
                tabsanphamdung();                                               
            },

                                                
        });  

    }
        </script>
        <!---------------------Popup--------------------------------- Stick---------------------------------------->
        <!---  <button id="da-ex-growl-2" class="da-button green">Growl with Header</button> --->
        <style>
            div.jGrowl.bottom-right
            {
                top: 19%;
                right: 1%;
            }
        </style>
        <script>                      
            (function($) {
                $(document).ready(function(e) {   
                    // dialog popup
                    $("#da-ex-accordion, #da-ex-accordion-plain").accordion();
		
                    $("#da-ex-tabs, #da-ex-tabs-plain").tabs();
		
                    $("#da-ex-datepicker, #da-ex-datepicker-inline").datepicker({showOtherMonths:true});
		
                    $("#da-ex-datepicker-week").datepicker({showOtherMonths:true, showWeek: true});
		
                    $("#da-ex-datepicker-months").datepicker({showOtherMonths:true, numberOfMonths: 3});
		
                    $("#da-ex-datetimepicker").datetimepicker();
		
                    $("#da-ex-timepicker").timepicker({});
		
                    $(".da-ex-buttons").button();
		
                    $("#da-ex-buttons-radio, #da-ex-buttons-checkbox").buttonset();
		
                    $( "#da-ex-buttons-icon button:first" ).button({
                        icons: {
                            primary: "ui-icon-locked"
                        },
                        text: false
                    }).next().button({
                        icons: {
                            primary: "ui-icon-locked"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        }
                    }).next().button({
                        icons: {
                            primary: "ui-icon-gear",
                            secondary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    });
		
                    var availableTags = [
                        "ActionScript",
                        "AppleScript",
                        "Asp",
                        "BASIC",
                        "C",
                        "C++",
                        "Clojure",
                        "COBOL",
                        "ColdFusion",
                        "Erlang",
                        "Fortran",
                        "Groovy",
                        "Haskell",
                        "Java",
                        "JavaScript",
                        "Lisp",
                        "Perl",
                        "PHP",
                        "Python",
                        "Ruby",
                        "Scala",
                        "Scheme"
                    ];
		
                    $( "#da-ex-autocomplete" ).autocomplete({
                        source: availableTags
                    });
		
                    $("#da-ex-slider").slider();
		
                    $("#da-ex-slider-range").slider({
                        range: true,
                        min: 0,
                        max: 500,
                        values: [ 75, 300 ], 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-info .da-highlight" ).html( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                        }
                    });
		
                    $(".da-ex-color-slider").slider({
                        range: "min",
                        value: 45,
                        min: 1,
                        max: 100
                    });
		
                    $("#da-ex-slider-range-fixed").slider({
                        range: "min",
                        value: 37,
                        min: 1,
                        max: 700, 
                        slide: function( event, ui ) {
                            $( "#da-ex-slider-range-fixed-info .da-highlight" ).html( "$" + ui.value );
                        }
                    });
	
                    $( "#da-slider-equalizer > span" ).each(function() {
                        var value = parseInt( $( this ).text(), 10 );
			
                        $( this ).empty().slider({
                            value: value,
                            range: "min",
                            animate: true,
                            orientation: "vertical"
                        });
                    });
		
                    $(".da-ex-color-pb, #da-ex-pb, #da-ex-pba").each(function() {
                        $(this).progressbar({
                            value: 25 + Math.floor(Math.random() * 50)
                        });
                    });
		
                    $("#da-ex-pba-trigger").bind('click', function(e) {
                        $(this).parent().next("#da-ex-pba").progressbar('value', 20 + Math.floor(Math.random() * 80));
                        e.preventDefault();
                    });
		
                    $("#da-ex-dialog-div").dialog({
                        autoOpen: false, 
                        title: "Chọn ghi lại sản phẩm lỗi và trùng chưa được xử lý, để sau đó có thể tiếp tục xử lý.", 
                        modal: true, 
                        width: "550", 
                        buttons: [{
                            text: "Đóng", 
                            click: function() {
                                $( this ).dialog( "close" );
                            }}]
                    });
		
		
          
		
                    $("#da-ex-dialog").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: false}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-modal").bind("click", function(event) {
                        $("#da-ex-dialog-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    $("#da-ex-dialog-form").bind("click", function(event) {
                        $("#da-ex-dialog-form-div").dialog("option", {modal: true}).dialog("open");
                        event.preventDefault();
                    });
                    //  Growl Notifications 
                    if($.jGrowl) {
                                   		
                        $("#da-ex-growl-2").bind("click", function(event) {
                            $.jGrowl("Con cò bé bé", {header: "Nhắc nhở!", position: "bottom-right"});
                        });
                    }		
                });
            }) (jQuery); 		</script>
        <!-----------Popup------------------------ Stick---------------------------------->

    </div>
</div>