@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;s
@{
    ViewBag.Title = "gopdatabase";
    Layout = null;
    List<ProductMap> list = ViewBag.listproduct;
    List<ProductMap> listError = ViewBag.listerror;
    List<List<ProductMap>> listDup = ViewBag.listduplicate;
    int countlistdup = 0;
    int countlist = 0;
    if (listDup != null)
    {
        countlistdup = listDup.Count;
    }
    if (list != null)
    {
        countlist = list.Count;
    }
    List<List<ProductMap>> listDupnew = ViewBag.listduplicatenew;
    int countlistdup1 = 0;
    if (listDupnew != null)
    {
        countlistdup1 = listDupnew.Count;
    }
}
   @* <div class="da-panel-toolbar top">
                                        <ul>
                                           <li><a onclick="goptatca(@countlistdup)">
                                                <img src="images/icons/color/arrow_in.png" alt="">Gộp tất cả</a></li>
                                            <li><a onclick="tachtatca(@countlistdup)">
                                                <img src="images/icons/color/arrow_out.png" alt="">Tách tất cả</a></li>
                                              
                                            <li><a href="#">
                                                <img src="images/icons/color/page_white_text.png" alt="">Lưu file</a></li>
                                        </ul>
                                    </div> *@
            <div class="da-panel collapsible">
                  @if (listDup != null)
                {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Table Styling
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
              
                    int i = 0;

                    foreach (List<ProductMap> listp in listDup)
                    {
                        i++;
                        // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gop1table(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tach1table(@(i))" >
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column" style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
                                    <th style="width: 92px;">Chọn tên chính                                                               
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>
                                        @if (p.loai.Equals("C"))
                                        {
                                            <td class=" ">CPU</td>
                                        }
                                        <td class="da-icon-column">

                                            <!-- Nếu là sản phẩm đầu tiên thì check radio-->
                                            @if (y == 1)
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio" checked="checked" >
                                            }
                                            else
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio"> 
                                            }
                                        </td>
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                    }
                }


            </div>
             <!-------------------listdupnew--------------------------------------------------------------------------------------->
             <div class="da-panel collapsible">
                  @if (listDupnew != null)
                {
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="~/Areas/Admin/Dandelion/images/icons/black/16/list.png" alt="">
                        Sản phầm trùng với cơ sở dữ liệu.
                    </span>

                    <span class="da-panel-toggler"></span>
                </div>
                <div class="da-panel-content">
                    <input style="visibility: hidden" />
                </div>
               
                    int i = 0;

                    foreach (List<ProductMap> listp in listDupnew)
                    {
                        i++;
                        // nút gộp tách
                    <div class="da-panel-toolbar top" style="border-color: yellowgreen">
                        <ul>
                            <li style="text-align: right"><a id ="link_@(i)"  onclick="gopdatabase(@(i))">
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_in.png" alt="">Gộp</a></li>
                            <li style="text-align: right"><a  onclick="tachdatabase(@(i))" > 
                                <img src="~/Areas/Admin/Dandelion/images/icons/color/arrow_out.png" alt="">Tách</a></li>
                            <center><label style="font-size:medium">Nhóm sản phẩm trùng</label> </center>
                        </ul>
                    </div>
                    <div class="da-panel-content">
                        <table    id="table_@(i)" class="da-table">
                            <thead>
                                <tr>
                                    <th class="checkbox-column"  style="width: 97px;" id="checkboxAllTable_@(i)">
                                        <input id="checkAll"  checked="checked" disabled style="zoom:1.3;" onclick="checkboxAllTable(@(i))" type="checkbox"></th>
                                    <th style="width: 250px;">Tên thành phần</th>
                                    <th>Trọng số</th>
                                    <th>Loại</th>
                                  @*   <th style="width: 92px;">Chọn tên chính                                                               
                                    </th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @{int y = 0;}
                                @foreach (ProductMap p in listp)
                                {
                                    y++;
                                    <tr class="odd">
                                        <td id="@(y)" class="checked">
                                            <input style="width: 19px;" checked="checked" disabled value="@p.stt" id="checkbox@(y)" type="checkbox">
                                        </td>
                                        <td>@p.ten</td>
                                        <td>@p.trongso</td>
                                        @if (p.loai.Equals("C"))
                                        {
                                            <td class=" ">CPU</td>
                                        }
                                       @*   <td class="da-icon-column">

                                           Nếu là sản phẩm đầu tiên thì check radio
                                            @if (y == 1)
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio" checked="checked" >
                                            }
                                            else
                                            {
                                                <input name="radio_@(i)" value="@p.stt" type="radio"> 
                                            }
                                        </td>*@
                                    </tr> 
                                                            
                                }
                            </tbody>
                        </table>
                    </div>                                           
                    <div class="da-panel-content">
                        <input style="visibility: hidden" />
                    </div>
                    }
                }


            </div>
