@using CPS_Solution.Controllers;
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<feedbackinfo> listfeedback = ViewBag.listfeedback;
}

@section headScript
{
    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-retina.png" />

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/reset.css" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/fluid.css" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.theme.css" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/dandelion.css" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/css/demo.css" media="screen" />
    <!-- jQuery JavaScript File -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery-UI JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.timepicker.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/jui/js/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Dandelion/jui/css/jquery.ui.all.css" media="screen" />
    <!-- Plugin Files -->
    <!-- FileInput Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.fileinput.js"></script>
    <!-- Placeholder Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.placeholder.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.mousewheel.min.js"></script>
    <!-- Scrollbar Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/jquery.tinyscrollbar.min.js"></script>
    <!-- Tooltips Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/tipsy/jquery.tipsy-min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/tipsy/tipsy.css" />
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.icons.js"></script>
    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.core.js"></script>
    <!-- Customizer JavaScript File (remove if not needed) -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/core/dandelion.customizer.js"></script>

    <!--  Demo JavaScript Files popup Ui Popup 
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.ui.js"></script>-->
    <!-- jGrowl Plugin   -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Dandelion/plugins/jgrowl/jquery.jgrowl.css" media="screen" />

    <!-- DataTables Plugin -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Demo JavaScript Files -->
    <script type="text/javascript" src="~/Areas/Admin/Dandelion/js/demo/demo.tables.js"></script>
    <!----------------------------- Lên datatable Plugin------------------------------------------>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.debouncedresize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Dandelion/js/jquery.metadata.js")"></script>    
}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li>
                <a href="#">

                    <span class="da-nav-count">1</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/home.png")" alt="Trang chủ" />
                    </span>
                    <strong>Hệ thống</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("ConfigureSystem", "System")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/setting.png")" alt="" />
                            <strong>Cấu hình hệ thống</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/graph.png")" alt="Charts" />
                    </span>
                    <strong>Thống kê</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("Rating", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/rating.png")" alt="" />
                            <strong>Đánh giá</strong>
                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("HistoryCompare", "StatisticProduct")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/topsearch.png")" alt="" />
                            <strong>Lịch sử</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Nav Notification -->
                    <span class="da-nav-count">3</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/documents_1.png")" alt="Charts" />
                    </span>
                    <strong>Dữ liệu</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="/Admin/importexcelLap">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập Laptop từ Excel</strong>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/importexcel">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/excel.png")" alt="" />
                            <strong>Nhập linh kiện từ Excel</strong>
                        </a>

                    </li>
                    <li>

                        <a href="/admin/TraningLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý Laptop trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/TrainingProduct">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xử lý linh kiện trùng</strong>
                        </a>
                    </li>
                     <li>

                        <a href="/Admin/ConfirmNewLaptop">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận laptop mới</strong>
                        </a>
                           </li>
                           <li>
                         <a href="/Admin/ConfirmNewHardware">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/duplicate.png")" alt="" />
                            <strong>Xác nhận linh kiện mới</strong>
                        </a>
                    </li>
                    <li>

                        <a href="@Url.Action("CreateProductParser", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/arrow.png")" alt="" />
                            <strong>Sản phẩm đề xuất</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Product")">
                    <span class="da-nav-count">2</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/day_calendar.png")" alt="Calendar" />
                    </span>
                    <strong>Quản lí sản phẩm</strong>
                </a>
                <ul>
                    <li >
                        <a href="@Url.Action("CreateProductTest", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/add.png")" alt="" />
                            <strong>Tạo mới sản phẩm</strong>
                        </a>

                    </li>
                    <li >

                        <a href="@Url.Action("Index", "Product")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Danh sách sản phẩm</strong>
                        </a>
                    </li>
                     <li style="background-color: #a6d037;">

                        <a href="@Url.Action("Index", "ViewFeedback")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Xem góp ý sản phẩm</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-count">2</span>
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/file_cabinet.png")" alt="File Handling" />
                    </span>
                    <strong>Quản lí từ điển</strong>
                </a>
                <ul >
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/alias.png")" alt="" />
                            <strong>Tạo mới trường</strong>
                        </a>

                    </li>
                    <li>

                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/dic2.png")" alt="" />
                            <strong>Danh sách các trường</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/settings.png")" alt="" />
                    </span>
                    <strong>Quản lí trọng số</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/manager.png")" alt="" />
                            <strong>Danh sách trọng số</strong>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="da-nav-count">5</span>
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png")" alt="" />
                    </span>
                    <strong>Parser</strong>
                </a>
                <ul class="closed">
                    <li>
                        <a href="@Url.Action("CreateParser", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser linh kiện</strong>
                        </a>
                    </li>

                    <li >
                        <a href="@Url.Action("Index", "Parser")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser linh kiện</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/new.png")" alt="" />
                            <strong>Tạo parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Recommend")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/list.png")" alt="" />
                            <strong>Parser sản phẩm</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LogFile")">
                            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/news/log.png")" alt="" />
                            <strong>Danh sách log file</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
@section mainHeader
{
     <ul>
        <li style="margin-right: 5px"><a style="cursor: default;font-size:27px;">
            <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/home.png")" alt=""><strong>Parser</strong></a></li>
        <li style="margin-right: 5px; font-weight: bold">>></li>
        <li class="active">
            <a href="@Url.Action("Index", "ViewFeedback")" style="font-size:20px;font-style:italic;text-decoration:underline">Danh sách các parser</a>
        </li>
    </ul>
}
@section footScript
{
}
<div class="grid_2" style="width:360px">
    <div class="da-panel-widget">
        <ul class="da-summary-stat">
            <li>
                <a href="#">
                    <span class="da-summary-icon" style="background-color: #656565;">
                        <img src="/Areas/Admin/Dandelion/images/icons/white/32/cog_4.png" alt="">
                    </span>
                    <span class="da-summary-text">
                        <span class="value up">Xem góp ý của khách hàng về sản phẩm</span>
                        <span class="label"></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="grid_4">
    <div id="loadtable">
        <div class="da-panel collapsible">
            <div class="da-panel-header">
                <span class="da-panel-title">
                    <img src="images/icons/black/16/list.png" alt="">
                    Thông tin phản hồi từ khách hàng.
                </span>

                <span class="da-panel-toggler"></span>
            </div>
            <div class="da-panel-content">
                <div id="da-ex-datatable-default_wrapper" class="dataTables_wrapper" role="grid">


                    <table id="da-ex-datatable-default" class="da-table dataTable" aria-describedby="da-ex-datatable-default_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 196px;">STT</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: auto;">Tên Laptop</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 464px;">Nội dung</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 169px;">Ngày</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="da-ex-datatable-default" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 133px;">Xóa</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @if (listfeedback != null)
                            {
                                int i = 0;
                                foreach (feedbackinfo fb in listfeedback)
                                {
                                    i++;
                                <tr id="idtr@(i)" class="odd">
                                    <td class=" sorting_1">@i</td>
                                    <td class=" sorting_1">@fb.teLaptop</td>
                                    <td class=" ">@fb.noidung</td>
                                    <td class=" ">@fb.ngaythang</td>
                                   <td class=" ">
                                  <a onclick="xoafeedback(@i)">
                                    <img src="~/Areas/Admin/Dandelion/images/icons/color/cross.png">
                                    Xóa</a></td>                               
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------javascript -------------------------------------->
<script>
    function xoafeedback(i) {
        document.getElementById("idtr" + i).style.display = 'none';
    }

    //Hiện popup để tạo tài khoản.
    function showPopupCreate() {
        $("#Create-Popup-div").dialog({
            autoOpen: false,
            title: "Tạo một tài khoản mới!",
            width: "600",
            modal: true
            //buttons: [{
            //    text: "Đóng", 
            //    click: function() {
            //        $( this ).dialog( "close" );
            //    }}]
        });
        $("#Create-Popup-div").dialog("option", { modal: true }).dialog("open");
        event.preventDefault();
    }

    //Hiện popup để edit tài khoản.

    function showPopupEdit(i) {
          
        $("#Edit-"+i+"-Popup-div").dialog({
            autoOpen: false,
            title: "Sửa thông tin tài khoản!",
            width: "600",
            modal: true
            //buttons: [{
            //    text: "Đóng", 
            //    click: function() {
            //        $( this ).dialog( "close" );
            //    }}]
        });
        $("#Edit-"+i+"-Popup-div").dialog("option", { modal: true }).dialog("open");
        event.preventDefault();
        var roleID = document.getElementById("RoleAcc"+i).value;
        document.getElementById("roleEdit"+i).value = roleID;   
    }

 
    //reset xóa trắng tạo tài khoản
    function resetCreateAccount() {
        document.getElementById("usernameCre").val = "";
        document.getElementById("pass1Cre").val = "";
        document.getElementById("pass2Cre").val = "";
        document.getElementById("emailCre").val = "";
    }

    // Tạo một tài khoản
    function CreateNewAccount() {
        var userName = document.getElementById("usernameCre").value;
        var pass1 = document.getElementById("pass1Cre").value;
        var pass2 = document.getElementById("pass2Cre").value;
        var email = document.getElementById("emailCre").value;
        var role = document.getElementById("roleCre").value;
        var info = userName + '|' + pass1 + '|' + email + '|' + role;


        var count = 0;
        // kiểm tra tên
        if (userName.length < 5 || userName.length > 100) {
            document.getElementById("usernameCre").style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("usernameCre").style.borderColor = "";
        }

        // kiểm tra mật khẩu 1
        if (pass1.length < 5 || pass1.length > 100 ||pass1 =="") {
            document.getElementById("pass1Cre").style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass1Cre").style.borderColor = "";
        }

        // kiểm tra mật khẩu 2
        if (pass2.length < 5 || pass2.length > 100) {
            document.getElementById("pass2Cre").style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass2Cre").style.borderColor = "";
        }

        // kiểm tra mật khẩu 2 có trùng với mật khẩu 1
        if (pass1!=pass2||pass1=="") {
            document.getElementById("pass2Cre").style.borderColor = 'red';
            document.getElementById("pass1Cre").style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass2Cre").style.borderColor = "";
            document.getElementById("pass1Cre").style.borderColor = "";
        }

        // kiểm tra email
        var reg = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        if (reg.test(email)){
            document.getElementById("emailCre").style.borderColor = "";
            document.getElementById("emailCre").style.borderColor = "";
        }
        else{
            document.getElementById("emailCre").style.borderColor = 'red';
            document.getElementById("emailCre").style.borderColor = 'red';
            count++;
        } 

        if (count == 0) {

            var postData = {newAccountinfo: info };
            $.ajax({
                type: "POST",
                url: "/Admin/ManagerUser/CreateNewAccount",
                data: postData,
                success: function (data) {                   
                    if(data == "existed")
                    {   
                        document.getElementById("usernamexited").innerHTML = 'Tên tài khoản đã tồn tại.';
                        document.getElementById("usernameCre").style.borderColor = 'red';
                    }else{
                        $("#Create-Popup-div").dialog("close");
                        loadTableAgain();
                    }
                    
                },

            });
        }
    }



    // Sửa thông tin tài khoản
    function EditAccount(i) {
        var userName = document.getElementById("usernameEdit"+i).value;
        var pass1 = document.getElementById("pass1Edit"+i).value;
        var pass2 = document.getElementById("pass2Edit"+i).value;
        var email = document.getElementById("emailEdit"+i).value;
        var role = document.getElementById("roleEdit"+i).value;
        var info = userName + '|' + pass1 + '|' + email + '|' + role;


        var count = 0;
        // kiểm tra tên
        if (userName.length < 5 || userName.length > 100) {
            document.getElementById("usernameEdit"+i).style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("usernameEdit"+i).style.borderColor = "";
        }

        // kiểm tra mật khẩu 1
        if (pass1.length < 5 || pass1.length > 100 ||pass1 =="") {
            document.getElementById("pass1Edit"+i).style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass1Edit"+i).style.borderColor = "";
        }

        // kiểm tra mật khẩu 2
        if (pass2.length < 5 || pass2.length > 100) {
            document.getElementById("pass2Edit"+i).style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass2Edit"+i).style.borderColor = "";
        }

        // kiểm tra mật khẩu 2 có trùng với mật khẩu 1
        if (pass1!=pass2||pass1=="") {
            document.getElementById("pass2Edit"+i).style.borderColor = 'red';
            document.getElementById("pass1Edit"+i).style.borderColor = 'red';
            count++;
        } else {
            document.getElementById("pass2Edit"+i).style.borderColor = "";
            document.getElementById("pass1Edit"+i).style.borderColor = "";
        }

        // kiểm tra email
        var reg = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        if (reg.test(email)){
            document.getElementById("emailEdit"+i).style.borderColor = "";
            document.getElementById("emailEdit"+i).style.borderColor = "";
        }
        else{
            document.getElementById("emailEdit"+i).style.borderColor = 'red';
            document.getElementById("emailEdit"+i).style.borderColor = 'red';
            count++;
        } 

        if (count == 0) {

            var postData = {Accountinfo: info };
            $.ajax({
                type: "POST",
                url: "/Admin/ManagerUser/UpdateUser",
                data: postData,
                success: function (data) {                   
                    if(data == "existed")
                    {   
                        document.getElementById("usernamexited").innerHTML = 'Tên tài khoản đã tồn tại.';
                        document.getElementById("usernameCre").style.borderColor = 'red';
                    }else{
                        $("#Edit-"+i+"-Popup-div").dialog("close");
                        loadTableAgain();
                    }
                    
                },

            });
        }
    }

    ///  Active or deactive user
    function ActiveUser(i) {
        var username = document.getElementById("usernameActive"+i).value;
        var postData = {username: username };
        $.ajax({
            type: "POST",
            url: "/Admin/ManagerUser/ActiveUser",
            data: postData,
            success: function (data) {
                if(data=="admin")
                {
                    alert("Bạn không thể cho một tài khoản admin ngừng hoạt động!");
                }
                else{
                    loadTableAgain();
                }
            },

        });

    }


    // load lại table
    function loadTableAgain() {         
        $.ajax({
            type: "POST",
            url: "/Admin/ManagerUser/loadTableAgain",
            success: function (data) {
                       
                $('#loadtable').html(data);
            },
        });         
    }

      

</script>
<!---------------------Popup--------------------------------- Stick---------------------------------------->
<!---  <button id="da-ex-growl-2" class="da-button green">Growl with Header</button> --->
<style>
    div.jGrowl.bottom-right
    {
        top: 10%;
        right: 30%;
    }
</style>
<script>
    (function ($) {
        $(document).ready(function (e) {
            // dialog popup
            $("#da-ex-accordion, #da-ex-accordion-plain").accordion();

            $("#da-ex-tabs, #da-ex-tabs-plain").tabs();

            $("#da-ex-datepicker, #da-ex-datepicker-inline").datepicker({ showOtherMonths: true });

            $("#da-ex-datepicker-week").datepicker({ showOtherMonths: true, showWeek: true });

            $("#da-ex-datepicker-months").datepicker({ showOtherMonths: true, numberOfMonths: 3 });

            $("#da-ex-datetimepicker").datetimepicker();

            $("#da-ex-timepicker").timepicker({});

            $(".da-ex-buttons").button();

            $("#da-ex-buttons-radio, #da-ex-buttons-checkbox").buttonset();

            $("#da-ex-buttons-icon button:first").button({
                icons: {
                    primary: "ui-icon-locked"
                },
                text: false
            }).next().button({
                icons: {
                    primary: "ui-icon-locked"
                }
            }).next().button({
                icons: {
                    primary: "ui-icon-gear",
                    secondary: "ui-icon-triangle-1-s"
                }
            }).next().button({
                icons: {
                    primary: "ui-icon-gear",
                    secondary: "ui-icon-triangle-1-s"
                },
                text: false
            });

            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];

            $("#da-ex-autocomplete").autocomplete({
                source: availableTags
            });

            $("#da-ex-slider").slider();

            $("#da-ex-slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#da-ex-slider-range-info .da-highlight").html("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });

            $(".da-ex-color-slider").slider({
                range: "min",
                value: 45,
                min: 1,
                max: 100
            });

            $("#da-ex-slider-range-fixed").slider({
                range: "min",
                value: 37,
                min: 1,
                max: 700,
                slide: function (event, ui) {
                    $("#da-ex-slider-range-fixed-info .da-highlight").html("$" + ui.value);
                }
            });

            $("#da-slider-equalizer > span").each(function () {
                var value = parseInt($(this).text(), 10);

                $(this).empty().slider({
                    value: value,
                    range: "min",
                    animate: true,
                    orientation: "vertical"
                });
            });

            $(".da-ex-color-pb, #da-ex-pb, #da-ex-pba").each(function () {
                $(this).progressbar({
                    value: 25 + Math.floor(Math.random() * 50)
                });
            });

            $("#da-ex-pba-trigger").bind('click', function (e) {
                $(this).parent().next("#da-ex-pba").progressbar('value', 20 + Math.floor(Math.random() * 80));
                e.preventDefault();
            });

            $("#da-ex-dialog-div").dialog({
                autoOpen: false,
                title: "Chọn log file bạn muốn ghi lại, để sau đó có thể tiếp tục xử lý.",
                modal: true,
                width: "550",
                buttons: [{
                    text: "Đóng",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });




            $("#da-ex-dialog").bind("click", function (event) {
                $("#da-ex-dialog-div").dialog("option", { modal: false }).dialog("open");
                event.preventDefault();
            });
            $("#da-ex-dialog-modal").bind("click", function (event) {
                $("#da-ex-dialog-div").dialog("option", { modal: true }).dialog("open");
                event.preventDefault();
            });
            $("#da-ex-dialog-form").bind("click", function (event) {
                $("#da-ex-dialog-form-div").dialog("option", { modal: true }).dialog("open");
                event.preventDefault();
            });
            //  Growl Notifications 
            if ($.jGrowl) {

                $("#da-ex-growl-2").bind("click", function (event) {
                    $.jGrowl("Con cò bé bé", { header: "Nhắc nhở!", position: "bottom-right" });
                });
            }
        });
    })(jQuery); 		</script>

