@model IEnumerable<CPS_Solution.EntityFramework.Product>
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Models;
@using CPS_Solution.CommonClass;
@{
    ViewBag.Title = "Kết quả so sánh chi tiết";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    DataManager data = new DataManager();
    int takeItem = 47;
}

<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        /* CSS for warpper */
        position: absolute;
        top: 0; right: 5px;
        width: 50px;
        height: 60px;
        background-color: #F7A191;
        border-radius: 10px;
        opacity: 0.8;
        /* CSS for text */
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
        font-size: 30px;
    }

    .center {
        margin: auto;
        width: inherit;
    }

    .handle {
        cursor: move;
        text-align: center;
    }

    .sortable-with-handles {
        list-style-type: none;
    }

    .disable-field {
        background-color: rgb(15, 64, 113);
        text-align:center;
        color:#FFFFFF;
    }

    .data-field {
        text-align:center;
    }

    li.sortable-placeholder {
			border: 1px dashed rgb(152, 152, 152);
			background: none;
            height: 15px;
	}

    .topAttr {
        background-color:rgba(26, 88, 200, 0.70);
        color:#FFFFFF;
    }

    .topAttrr {
        background-color:rgba(26, 88, 200, 0.70);
        color:#FFFFFF;
    }

    .winner {
        font-size:18px;
        font-weight:bold;
        color:#FFFFFF;
        background-color:limegreen; 
    }
    .test {
        background-color: rgba(128, 128, 128, 0.66);
        background-repeat: repeat-y;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-radial-gradient(circle, rgba(120, 120, 120, 0.82), rgba(0, 0, 0, 0.8490));
    }


    .product-css {
        font-size:18px;
        font-weight:bold;
        color:white;
        background-color:rgb(152, 152, 152);
    }

    .center-info {
        text-align: center;
        vertical-align: middle;
    }

    .best-price {
        background-color: rgb(248, 121, 18);
    }
</style>

<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            <div class="page-element gray-element">
                <div class="container">
                    @*Tin nhan*@
                    <div class="span5" style="margin-left:10%">
                        <div class="message-box info-message-box clearfix  fadeDown">
                            <div class="message-icon-box">
                                <i class="icon-info"></i>
                            </div>
                            <div class="message-container">
                                <p style="margin-top:8px; font-size:15px; color:rgb(0, 0, 0)">
                                    Kéo thả để thay đổi vị trí các thành phần cấu hình.
                                    Hệ thống sẽ đề xuất sản phẩm theo tiêu chí ưu tiên của bạn.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="message-box info-message-box clearfix fadeDown">
                            <div class="message-icon-box">
                                <i class="icon-info"></i>
                            </div>
                            <div class="message-container">
                                <p style="margin-top:8px; font-size:15px; color:rgb(0, 0, 0)">
                                    Những thành phần ưu tiên sẽ được phủ <span style="font-weight:bold; font-family:Tahoma, Geneva, sans-serif; background-color: rgba(26, 88, 200, 0.70); color:white">nền xanh</span>.<br />
                                    Hãy sắp xếp các thành phần ưu tiên theo tiêu chí của bạn.
                                </p>
                            </div>
                        </div>
                    </div>

                    @*Chia thanh phan*@
                    <div class="stylish-light-separator" style="margin-top:2%; margin-bottom:2%"></div>
                    <div class="hidden">
                        <p class="best-score">@Math.Round((100 / ConstantManager.BestScore), 4)</p>
                    </div>
                    @*Bang so sanh*@
                    <ul class="sortable-with-handles">
                        @*Ten san pham*@
                        <li class="disabled">
                            <table class="table">
                                <tr>
                                    <td class="test" ; style="width:20%; text-align:center; vertical-align:middle"><img src="~/Template/Images/title.png" /></td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" class="product-name @item.ID product-css"><span style="font-weight:bold; text-shadow:1px 0 1.6em #FFFFFF"><a href="/Product/Details?ID=@item.ID" target="_blank" style="color:#fff;text-decoration:underline">@Html.DisplayFor(modelItem => item.Name)</a></span></td>
                                    }
                                </tr>
                            </table>
                        </li>

                        @*Thong tin CPU*@
                        <li draggable="true" id="scoreCPU" class="normalAttr">
                            <table class="table">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <span class="pull-left">
                                            <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                        </span>
                                        <strong>Chip xử lý (CPU)</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strCPU)</td>
                                        <td class="hidden"><span>@Math.Round((item.cpuScore * ConstantManager.RatioCPUPoint), 4)</span></td>
                                        <td class="hidden">@item.ID</td>
                                    }
                                </tr>
                            </table>
                        </li>

                        @*Thong tin VGA*@
                        <li draggable="true" id="scoreVGA" class="normalAttr">
                            <table class="table">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <span class="pull-left">
                                            <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                        </span>
                                        <strong>Card màn hình (VGA)</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strVGA)</td>
                                        <td class="hidden"><span>@Math.Round((item.vgaScore * ConstantManager.RatioVGAPoint), 4)</span></td>
                                        <td class="hidden">@item.ID</td>
                                    }
                                </tr>
                            </table>
                        </li>

                        @*Thong tin RAM*@
                        <li draggable="true" id="scoreRAM" class="normalAttr">
                            <table class="table">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <span class="pull-left">
                                            <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                        </span>
                                        <strong>Bộ nhớ đệm (RAM)</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strRAM)</td>
                                        <td class="hidden"><span>@Math.Round((item.ramScore * ConstantManager.RatioRAMPoint), 4)</span></td>
                                        <td class="hidden">@item.ID</td>
                                    }
                                </tr>
                            </table>
                        </li>

                        @*Thong tin HDD*@
                        <li draggable="true" id="scoreHDD" class="normalAttr">
                            <table class="table">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <span class="pull-left">
                                            <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                        </span>
                                        <strong>Ổ cứng (HDD)</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strHDD)</td>
                                        <td class="hidden"><span>@Math.Round((item.hddScore * ConstantManager.RatioHDDPoint), 4)</span></td>
                                        <td class="hidden">@item.ID</td>
                                    }
                                </tr>
                            </table>
                        </li>

                        @*Thong tin Display*@
                        <li draggable="true" id="scoreDisplay" class="normalAttr">
                            <table class="table">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <span class="pull-left">
                                            <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                        </span>
                                        <strong>Màn hình (Display)</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strDisplay)</td>
                                        <td class="hidden"><span>@Math.Round((item.displayScore * ConstantManager.RatioDisplayPoint), 4)</span></td>
                                        <td class="hidden">@item.ID</td>
                                    }
                                </tr>
                            </table>
                        </li>
                        <li class="disabled" id="minPrice">
                            <table class="table hidden">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <strong>Min Price</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        var minPrice = item.AliasProducts.OrderBy(x => x.Price).FirstOrDefault().Price;
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">
                                            <span>@minPrice</span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                            </table>
                        </li>

                        <li class="disabled" id="maxPrice">
                            <table class="table hidden">
                                <tr>
                                    <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                        <strong>Min Price</strong>
                                    </td>
                                    @foreach (var item in Model)
                                    {
                                        var maxPrice = item.AliasProducts.OrderByDescending(x => x.Price).FirstOrDefault().Price;
                                        <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">
                                            <span>@maxPrice</span>
                                        </td>
                                    }
                                </tr>
                            </table>
                        </li>
                        <li class="disabled">
                            <table class="table">
                                <tr>
                                    <td class="test" style="width:20%; text-align:center; vertical-align:middle"><p style="font-size:16px; color:#FFFFFF">TỔNG ĐIỂM ƯU TIÊN</p></td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" class="product-css">
                                            <p class="total_score_@item.ID" style="vertical-align:middle; font-size:20px; font-weight:bold; color:white; text-shadow:1px 0 1.6em #FFFFFF">
                                            </p>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td class="test" style="width:20%; text-align:center; vertical-align:middle"><p style="font-size:16px; color:#FFFFFF">GIÁ TRỊ MỖI ĐIỂM SẢN PHẨM</p></td>
                                    @foreach (var item in Model)
                                    {
                                        <td style="width:25%; text-align:center; vertical-align:middle" class="product-css">
                                            <p class="price_ratio_@item.ID" style="vertical-align:middle; font-size:20px; font-weight:bold; color:white; text-shadow:1px 0 1.6em #FFFFFF">
                                                <span class="min_ratio_@item.ID"></span>
                                                <span>~</span>
                                                <span class="max_ratio_@item.ID"></span>
                                            </p>
                                        </td>
                                    }
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        updateClass();
        calc();
        (function ($) {
            $('.sortable-with-handles').sortable({
                handle: '.handle',
                items: ':not(.disabled)'
            }).bind('sortupdate', function () {
                updateClass();
                calc();
            });
        })((jQuery));
    });

    //Highlight phan cung duoc uu tien
    function updateClass() {
        var scoreCPU = $('#scoreCPU').index();
        var scoreVGA = $('#scoreVGA').index();
        var scoreRAM = $('#scoreRAM').index();
        var scoreHDD = $('#scoreHDD').index();
        var scoreDisplay = $('#scoreDisplay').index();
        var minPrice = $('#minPrce').index();
        var maxPrice = $('#maxPrice').index();

        if (scoreCPU == 1 || scoreCPU == 2) {
            $('#scoreCPU').removeClass('normalAttr');
            $('#scoreCPU').addClass('topAttr');
        } else {
            $('#scoreCPU').removeClass('topAttr');
            $('#scoreCPU').addClass('normalAttr');
        }
        if (scoreVGA == 1 || scoreVGA == 2) {
            $('#scoreVGA').removeClass('normalAttr');
            $('#scoreVGA').addClass('topAttr');
        } else {
            $('#scoreVGA').removeClass('topAttr');
            $('#scoreVGA').addClass('normalAttr');
        }
        if (scoreRAM == 1 || scoreRAM == 2) {
            $('#scoreRAM').removeClass('normalAttr');
            $('#scoreRAM').addClass('topAttr');
        } else {
            $('#scoreRAM').removeClass('topAttr');
            $('#scoreRAM').addClass('normalAttr');
        }
        if (scoreHDD == 1 || scoreHDD == 2) {
            $('#scoreHDD').removeClass('normalAttr');
            $('#scoreHDD').addClass('topAttr');
        } else {
            $('#scoreHDD').removeClass('topAttr');
            $('#scoreHDD').addClass('normalAttr');
        }
        if (scoreDisplay == 1 || scoreDisplay == 2) {
            $('#scoreDisplay').removeClass('normalAttr');
            $('#scoreDisplay').addClass('topAttr');
        } else {
            $('#scoreDisplay').removeClass('topAttr');
            $('#scoreDisplay').addClass('normalAttr');
        }
    }

    function calc() {
        var bestScore = $('.best-score')[0].innerHTML;
        //Lay vi tri phan cung uu tien cua cac san pham
        var products = $('.product-name');
        var attr01 = $('.topAttr')[0];
        var attr02 = $('.topAttr')[1];
        var attr03 = $('.normalAttr')[0];
        var attr04 = $('.normalAttr')[1];
        var attr05 = $('.normalAttr')[2];
        
        //Lay diem tung san 
        if (products.length == 3) {
            //Lay diem phan cung san pham 1
            var pro01_attr01 = attr01.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr02 = attr02.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr03 = attr03.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr04 = attr04.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr05 = attr05.getElementsByTagName('span')[1].innerHTML;
            //Lay min/max price
            var pro01_min_price = minPrice.getElementsByTagName('span')[0].innerHTML;
            var pro01_max_price = maxPrice.getElementsByTagName('span')[0].innerHTML;

           


            //Lay diem phan cung san pham 2
            var pro02_attr01 = attr01.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr02 = attr02.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr03 = attr03.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr04 = attr04.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr05 = attr05.getElementsByTagName('span')[2].innerHTML;
            //Lay min/max price
            var pro02_min_price = minPrice.getElementsByTagName('span')[1].innerHTML;
            var pro02_max_price = maxPrice.getElementsByTagName('span')[1].innerHTML;

            //Lay diem phan cung san pham 3
            var pro03_attr01 = attr01.getElementsByTagName('span')[3].innerHTML;
            var pro03_attr02 = attr02.getElementsByTagName('span')[3].innerHTML;
            var pro03_attr03 = attr03.getElementsByTagName('span')[3].innerHTML;
            var pro03_attr04 = attr04.getElementsByTagName('span')[3].innerHTML;
            var pro03_attr05 = attr05.getElementsByTagName('span')[3].innerHTML;
            //Lay min/max price
            var pro03_min_price = minPrice.getElementsByTagName('span')[2].innerHTML;
            var pro03_max_price = maxPrice.getElementsByTagName('span')[2].innerHTML;

            //Lay ID san pham 1
            var pro01_id = attr02.getElementsByTagName('td')[3].innerHTML;

            //Lay ID san pham 2
            var pro02_id = attr02.getElementsByTagName('td')[6].innerHTML;

            //Lay ID san pham 3
            var pro03_id = attr02.getElementsByTagName('td')[9].innerHTML;

            var pro01_score = Math.round(Number(bestScore) * (((Number(pro01_attr01) + Number(pro01_attr02)) * 0.6 + (Number(pro01_attr03) + Number(pro01_attr04) + Number(pro01_attr05)) * 0.4) / 5 * 100)) / 100;
            var pro02_score = Math.round(Number(bestScore) * (((Number(pro02_attr01) + Number(pro02_attr02)) * 0.6 + (Number(pro02_attr03) + Number(pro02_attr04) + Number(pro02_attr05)) * 0.4) / 5 * 100)) / 100;
            var pro03_score = Math.round(Number(bestScore) * (((Number(pro03_attr01) + Number(pro03_attr02)) * 0.6 + (Number(pro03_attr03) + Number(pro03_attr04) + Number(pro03_attr05)) * 0.4) / 5 * 100)) / 100;

            var pro01_min_ratio = Math.round(pro01_min_price / pro01_score);
            var pro02_min_ratio = Math.round(pro02_min_price / pro02_score);
            var pro03_min_ratio = Math.round(pro03_min_price / pro03_score);

            var pro01_max_ratio = Math.round(pro01_max_price / pro01_score);
            var pro02_max_ratio = Math.round(pro02_max_price / pro02_score);
            var pro03_max_ratio = Math.round(pro03_max_price / pro03_score);

            //Tim max diem uu tien cua cac san pham
            var max = pro01_score;
            if (pro02_score > max)
                max = pro02_score
            if (pro03_score > max)
                max = pro03_score;

            //Highlight san pham co diem uu tien max
            if (max == pro01_score) {
                //Doi thanh class winner
                $('.' + pro01_id).removeClass('product-css');
                $('.' + pro01_id).addClass("winner", 1000, "easeOutSine");

                //Xoa class winner
                $('.' + pro02_id).removeClass('winner');
                $('.' + pro03_id).removeClass('winner');

                //Them lai class product
                $('.' + pro02_id).addClass("product-css", 1000, "easeOutSine");
                $('.' + pro03_id).addClass("product-css", 1000, "easeOutSine");
            } else if (max == pro02_score) {
                //Doi thanh class winner
                $('.' + pro02_id).removeClass('product-css');
                $('.' + pro02_id).addClass("winner", 1000, "easeOutSine");

                //Xoa class winner
                $('.' + pro01_id).removeClass('winner');
                $('.' + pro03_id).removeClass('winner');

                //Them lai class product
                $('.' + pro01_id).addClass("product-css", 1000, "easeOutSine");
                $('.' + pro03_id).addClass("product-css", 1000, "easeOutSine");
            } else if (max == pro03_score) {
                //Doi thanh class winner
                $('.' + pro03_id).removeClass('product-css');
                $('.' + pro03_id).addClass("winner", 1000, "easeOutSine");

                //Xoa class winner
                $('.' + pro01_id).removeClass('winner');
                $('.' + pro02_id).removeClass('winner');

                //Them lai class product
                $('.' + pro01_id).addClass("product-css", 1000, "easeOutSine");
                $('.' + pro02_id).addClass("product-css", 1000, "easeOutSine");
            }
            //In diem uu tien
            $('.total_score_' + pro01_id).text(pro01_score);
            $('.total_score_' + pro02_id).text(pro02_score);
            $('.total_score_' + pro03_id).text(pro03_score);

            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                    d = d == undefined ? "." : d,
                    t = t == undefined ? "," : t,
                    s = n < 0 ? "-" : "",
                    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };
            //In ratio
            $('.min_ratio_' + pro01_id).text(Number(Math.round(pro01_min_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.max_ratio_' + pro01_id).text(Number(Math.round(pro01_max_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.min_ratio_' + pro02_id).text(Number(Math.round(pro02_min_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.max_ratio_' + pro02_id).text(Number(Math.round(pro02_max_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.min_ratio_' + pro03_id).text(Number(Math.round(pro03_min_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.max_ratio_' + pro03_id).text(Number(Math.round(pro03_max_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');

            //Khai bao trung binh gia
            var p1_min_max = (Number)(pro01_min_ratio + pro01_max_ratio) / 2
            var p2_min_max = (Number)(pro02_min_ratio + pro02_max_ratio) / 2
            var p3_min_max = (Number)(pro03_min_ratio + pro03_max_ratio) / 2


            var min = Math.min(p1_min_max, p2_min_max, p3_min_max);
            if (p1_min_max == min) {
                $(".price_ratio_" + pro01_id).addClass("best-price")
                $(".price_ratio_" + pro02_id).removeClass("best-price")
                $(".price_ratio_" + pro03_id).removeClass("best-price")
            } else if (p2_min_max == min) {
                $(".price_ratio_" + pro02_id).addClass("best-price")
                $(".price_ratio_" + pro01_id).removeClass("best-price")
                $(".price_ratio_" + pro03_id).removeClass("best-price")
            } else if (p3_min_max == min) {
                $(".price_ratio_" + pro03_id).addClass("best-price")
                $(".price_ratio_" + pro01_id).removeClass("best-price")
                $(".price_ratio_" + pro03_id).removeClass("best-price")
            }
        } else {
            //Lay diem phan cung san pham 1
            var pro01_attr01 = attr01.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr02 = attr02.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr03 = attr03.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr04 = attr04.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr05 = attr05.getElementsByTagName('span')[1].innerHTML;
            //Lay min/max price
            var pro01_min_price = minPrice.getElementsByTagName('span')[0].innerHTML;
            var pro01_max_price = maxPrice.getElementsByTagName('span')[0].innerHTML;

            //Lay diem phan cung san pham 2
            var pro02_attr01 = attr01.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr02 = attr02.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr03 = attr03.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr04 = attr04.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr05 = attr05.getElementsByTagName('span')[2].innerHTML;
            //Lay min/max price
            var pro02_min_price = minPrice.getElementsByTagName('span')[1].innerHTML;
            var pro02_max_price = maxPrice.getElementsByTagName('span')[1].innerHTML;

            //Lay ID san pham 1
            var pro01_id = attr02.getElementsByTagName('td')[3].innerHTML;

            //Lay ID san pham 2
            var pro02_id = attr02.getElementsByTagName('td')[6].innerHTML;

            var pro01_score = Math.round(Number(bestScore) * (((Number(pro01_attr01) + Number(pro01_attr02)) * 0.6 + (Number(pro01_attr03) + Number(pro01_attr04) + Number(pro01_attr05)) * 0.4) / 5 * 100)) / 100;
            var pro02_score = Math.round(Number(bestScore) * (((Number(pro02_attr01) + Number(pro02_attr02)) * 0.6 + (Number(pro02_attr03) + Number(pro02_attr04) + Number(pro02_attr05)) * 0.4) / 5 * 100)) / 100;

            var pro01_min_ratio = Math.round(pro01_min_price / pro01_score);
            var pro02_min_ratio = Math.round(pro02_min_price / pro02_score);

            var pro01_max_ratio = Math.round(pro01_max_price / pro01_score);
            var pro02_max_ratio = Math.round(pro02_max_price / pro02_score);

            //Tim max diem uu tien cua cac san pham
            var max = pro01_score;
            if (pro02_score > max)
                max = pro02_score

            //Highlight san pham co diem uu tien max
            if (max == pro01_score) {
                //Doi thanh class winner
                $('.' + pro01_id).removeClass('product-css');
                $('.' + pro01_id).addClass("winner", 1000, "easeOutSine");

                //Xoa class winner
                $('.' + pro02_id).removeClass('winner');

                //Them lai class product
                $('.' + pro02_id).addClass("product-css", 1000, "easeOutSine");
            } else if (max == pro02_score) {
                //Doi thanh class winner
                $('.' + pro02_id).removeClass('product-css');
                $('.' + pro02_id).addClass("winner", 1000, "easeOutSine");

                //Xoa class winner
                $('.' + pro01_id).removeClass('winner');

                //Them lai class product
                $('.' + pro01_id).addClass("product-css", 1000, "easeOutSine");
            }
            //In diem uu tien
            $('.total_score_' + pro01_id).text(pro01_score);
            $('.total_score_' + pro02_id).text(pro02_score);

            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                    d = d == undefined ? "." : d,
                    t = t == undefined ? "," : t,
                    s = n < 0 ? "-" : "",
                    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };
            //In ratio
            $('.min_ratio_' + pro01_id).text(Number(Math.round(pro01_min_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.max_ratio_' + pro01_id).text(Number(Math.round(pro01_max_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.min_ratio_' + pro02_id).text(Number(Math.round(pro02_min_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');
            $('.max_ratio_' + pro02_id).text(Number(Math.round(pro02_max_ratio / 1000) * 1000).formatMoney(0, '.', ',') + ' ₫');

            //Khai bao trung binh gia
            var p1_min_max = (Number)(pro01_min_ratio + pro01_max_ratio) / 2
            var p2_min_max = (Number)(pro02_min_ratio + pro02_max_ratio) / 2

            var min = Math.min(p1_min_max, p2_min_max);
            if (p1_min_max == min) {
                $(".price_ratio_" + pro01_id).addClass("best-price")
                $(".price_ratio_" + pro02_id).removeClass("best-price")
                $(".price_ratio_" + pro03_id).removeClass("best-price")
            } else if (p2_min_max == min) {
                $(".price_ratio_" + pro02_id).addClass("best-price")
                $(".price_ratio_" + pro01_id).removeClass("best-price")
                $(".price_ratio_" + pro03_id).removeClass("best-price")
            }
        }

        
        
    }
    $(".icon_find").on("click", function () {
        sessionStorage.clear();
    });
</script>




