@model IEnumerable<CPS_Solution.EntityFramework.Product>

@{
    ViewBag.Title = "Kết quả so sánh chi tiết";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section navigator {
<div id="top-image" class="top-image3">
    <div class="container">
        <div id="top-image-caption">
            <h2>so sánh chi tiết</h2>
        </div>
    </div>
</div>
}
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        /* CSS for warpper */
        position: absolute;
        top: 0; right: 5px;
        width: 50px;
        height: 60px;
        background-color: #F7A191;
        border-radius: 10px;
        opacity: 0.8;
        /* CSS for text */
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
        font-size: 30px;
    }

    .center {
        margin: auto;
        width: inherit;
    }

    .handle {
        cursor: move;
        text-align: center;
    }

    .sortable-with-handles {
        list-style-type: none;
    }

    .disable-field {
        background-color: rgb(15, 64, 113);
        text-align:center;
        color:#FFFFFF;
    }

    .data-field {
        text-align:center;
    }

    li.sortable-placeholder {
			border: 1px dashed rgb(152, 152, 152);
			background: none;
            height: 15px;
	}

    .topAttr {
        background-color:rgba(26, 88, 200, 0.70);
        color:#FFFFFF;
    }

    .topAttrr {
        background-color:rgba(26, 88, 200, 0.70);
        color:#FFFFFF;
    }

    .winner {
        font-size:18px;
        font-weight:bold;
        color:#FFFFFF;
        background-color:#f56c1c; 
    }
    .test {
        background-color: rgba(128, 128, 128, 0.66);
        background-repeat: repeat-y;
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-radial-gradient(circle, rgba(120, 120, 120, 0.82), rgba(0, 0, 0, 0.8490));
    }


    .product-css {
        font-size:18px;
        font-weight:bold;
        color:#f56c1c;
        background-color:rgba(0, 0, 0, 0.82);
    }

    .center-info {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="#">trang chủ</a><span class="divider">/</span></li>
                    <li><p>so sánh</p><span class="divider">/</span></li>
                    <li><p>so sánh ưu tiên</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-element gray-element">
        <div class="container">
            @*Tin nhan*@
            <div class="span5" style="margin-left:8%">
                <div class="message-box info-message-box clearfix  fadeDown">
                    <div class="message-icon-box">
                        <i class="icon-info"></i>
                    </div>
                    <div class="message-container">
                        <p style="margin-top:8px; font-size:15px; color:rgb(0, 0, 0)">
                            Kéo thả để thay đổi vị trí các thành phần cấu hình. 
                            Hệ thống sẽ đề xuất sản phẩm theo tiêu chí ưu tiên của bạn.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="message-box info-message-box clearfix fadeDown">
                    <div class="message-icon-box">
                        <i class="icon-info"></i>
                    </div>
                    <div class="message-container">
                        <p style="margin-top:8px; font-size:15px; color:rgb(0, 0, 0)">
                            Những thành phần ưu tiên sẽ được phủ <span class="topAttrr" style="opacity:0.7; font-weight:bold">nền xanh</span>. 
                            Hãy sắp xếp các thành phần ưu tiên theo tiêu chí của bạn.
                        </p>
                    </div>
                </div>
            </div>

            @*Chia thanh phan*@
            <div class="stylish-light-separator" style="margin-top:2%; margin-bottom:2%"></div>

            @*Bang so sanh*@
            <ul class="sortable-with-handles">
                @*Ten san pham*@
                <li class="disabled">
                    <table class="table">
                        <tr>
                            <td class="test"; style="width:20%; text-align:center; vertical-align:middle"><img src="~/Template/Images/title.png" /></td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" class="product-name @item.ID product-css"><span style="font-weight:bold; text-shadow:1px 0 1.6em #FFFFFF">@Html.DisplayFor(modelItem => item.Name)</span></td>
                            }
                        </tr>
                    </table>
                </li>

                @*Thong tin CPU*@
                <li draggable="true" id="scoreCPU">
                    <table class="table">
                        <tr>
                            <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                <span class="pull-left">
                                    <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                </span>
                                <strong>Chip xử lý (CPU)</strong>
                            </td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strCPU)</td>
                                <td class="hidden"><span class="cpuScore">@item.cpuScore</span></td>
                                <td class="hidden">@item.ID</td>
                            }
                        </tr>
                    </table>
                </li>

                @*Thong tin VGA*@
                <li draggable="true" id="scoreVGA">
                    <table class="table">
                        <tr>
                            <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                <span class="pull-left">
                                    <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                </span>
                                <strong>Card màn hình (VGA)</strong>
                            </td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strVGA)</td>
                                <td class="hidden"><span class="cpuScore">@item.vgaScore</span></td>
                                <td class="hidden">@item.ID</td>
                            }
                        </tr>
                    </table>
                </li>

                @*Thong tin RAM*@
                <li draggable="true" id="scoreRAM">
                    <table class="table">
                        <tr>
                            <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                <span class="pull-left">
                                    <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                </span>
                                <strong>Bộ nhớ đệm (RAM)</strong>
                            </td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strRAM)</td>
                                <td class="hidden"><span class="cpuScore">@item.ramScore</span></td>
                                <td class="hidden">@item.ID</td>
                            }
                        </tr>
                    </table>
                </li>

                @*Thong tin HDD*@
                <li draggable="true" id="scoreHDD">
                    <table class="table">
                        <tr>
                            <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                <span class="pull-left">
                                    <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                </span>
                                <strong>Ổ cứng (HDD)</strong>
                            </td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strHDD)</td>
                                <td class="hidden"><span class="cpuScore">@item.hddScore</span></td>
                                <td class="hidden">@item.ID</td>
                            }
                        </tr>
                    </table>
                </li>

                @*Thong tin Display*@
                <li draggable="true" id="scoreDisplay">
                    <table class="table">
                        <tr>
                            <td style="width:20%; vertical-align:middle; border-right: solid; border-width:1px; border-right-color:black;" class="handle">
                                <span class="pull-left">
                                    <img src="~/Template/GFashion/img/order.png" style="margin-right:10px; width:15px; height:15px;">
                                </span>
                                <strong>Độ phân giải (Sreen Solution)</strong>
                            </td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" data-id="@item.ID">@Html.DisplayFor(modelItem => item.strDisplay)</td>
                                <td class="hidden"><span class="cpuScore">@item.displayScore</span></td>
                                <td class="hidden">@item.ID</td>
                            }
                        </tr>
                    </table>
                </li>
                <li class="disabled">
                    <table class="table">
                        <tr>
                            <td class="test"; style="width:20%; text-align:center; vertical-align:middle"><p style="font-size:16px; color:#FFFFFF">TỔNG ĐIỂM ƯU TIÊN</p></td>
                            @foreach (var item in Model) {
                                <td style="width:25%; text-align:center; vertical-align:middle" class="product-css"><p class="total_score_@item.ID" style="font-size:20px; font-weight:bold; color:#f56c1c; text-shadow:1px 0 1.6em #FFFFFF"></p></td>
                            }
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
</div>

<script>
    $(document).ready(function () {
        updateClass();
        calc();
        $(function () {
            $('.sortable-with-handles').sortable({
                handle: '.handle',
                items: ':not(.disabled)'
            }).bind('sortupdate', function () {
                updateClass();
                calc();
            });
        });
    });

    //Highlight phan cung duoc uu tien
    function updateClass() {
        var scoreCPU = $('#scoreCPU').index();
        var scoreVGA = $('#scoreVGA').index();
        var scoreRAM = $('#scoreRAM').index();
        var scoreHDD = $('#scoreHDD').index();
        var scoreDisplay = $('#scoreDisplay').index();

        if (scoreCPU == 1 || scoreCPU == 2) {
            $('#scoreCPU').addClass('topAttr');
        } else {
            $('#scoreCPU').removeClass('topAttr');
        }
        if (scoreVGA == 1 || scoreVGA == 2) {
            $('#scoreVGA').addClass('topAttr');
        } else {
            $('#scoreVGA').removeClass('topAttr');
        }
        if (scoreRAM == 1 || scoreRAM == 2) {
            $('#scoreRAM').addClass('topAttr');
        } else {
            $('#scoreRAM').removeClass('topAttr');
        }
        if (scoreHDD == 1 || scoreHDD == 2) {
            $('#scoreHDD').addClass('topAttr');
        } else {
            $('#scoreHDD').removeClass('topAttr');
        }
        if (scoreDisplay == 1 || scoreDisplay == 2) {
            $('#scoreDisplay').addClass('topAttr');
        } else {
            $('#scoreDisplay').removeClass('topAttr');
        }
    }

    function calc() {
        //Lay vi tri phan cung uu tien cua cac san pham
        var products = $('.product-name');
        var attr01 = $('.topAttr')[0];
        var attr02 = $('.topAttr')[1];

        //Lay diem tung san 
        if (products.length == 3) {
            //Lay diem phan cung uu tien
            var pro01_attr01 = attr01.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr02 = attr02.getElementsByTagName('span')[1].innerHTML;
            //Lay ID san pham 1
            var pro01_attr03 = attr02.getElementsByTagName('td')[3].innerHTML;

            //Lay diem phan cung uu tien
            var pro02_attr01 = attr01.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr02 = attr02.getElementsByTagName('span')[2].innerHTML;
            //Lay ID san pham 2
            var pro02_attr03 = attr02.getElementsByTagName('td')[6].innerHTML;

            //Lay diem phan cung uu tien
            var pro03_attr01 = attr01.getElementsByTagName('span')[3].innerHTML;
            var pro03_attr02 = attr02.getElementsByTagName('span')[3].innerHTML;
            //Lay ID san pham 3
            var pro03_attr03 = attr02.getElementsByTagName('td')[9].innerHTML;
        } else {
            //Lay diem phan cung uu tien
            var pro01_attr01 = attr01.getElementsByTagName('span')[1].innerHTML;
            var pro01_attr02 = attr02.getElementsByTagName('span')[1].innerHTML;
            //:ay ID san pham 1
            var pro01_attr03 = attr02.getElementsByTagName('td')[3].innerHTML;

            //Lay diem phan cung uu tien
            var pro02_attr01 = attr01.getElementsByTagName('span')[2].innerHTML;
            var pro02_attr02 = attr02.getElementsByTagName('span')[2].innerHTML;
            //Lay ID san pham 2
            var pro02_attr03 = attr02.getElementsByTagName('td')[6].innerHTML;
        }
        //Tinh diem cac tieu chi uu tien
        var pro01_score = parseFloat(pro01_attr01) + parseFloat(pro01_attr02);
        var pro02_score = parseFloat(pro02_attr01) + parseFloat(pro02_attr02);
        var pro03_score = parseFloat(pro03_attr01) + parseFloat(pro03_attr02);
        console.log(pro01_score, pro02_score, pro03_score)

        //Tim max diem uu tien cua cac san pham
        var max = pro01_score;
        if (pro02_score > max)
            max = pro02_score
        if (pro03_score > max)
            max = pro03_score;

        //Highlight san pham co diem uu tien max
        if (max == pro01_score) {
            //Doi thanh class winner
            $('.' + pro01_attr03).removeClass('product-css');
            $('.' + pro01_attr03).addClass("winner", 1000, "easeOutSine");

            //In diem uu tien
            $('.total_score_' + pro01_attr03).text(pro01_score);
            $('.total_score_' + pro02_attr03).text(pro02_score);
            $('.total_score_' + pro03_attr03).text(pro03_score);

            //Xoa class winner
            $('.' + pro02_attr03).removeClass('winner');
            $('.' + pro03_attr03).removeClass('winner');

            //Them lai class product
            $('.' + pro02_attr03).addClass("product-css", 1000, "easeOutSine");
            $('.' + pro03_attr03).addClass("product-css", 1000, "easeOutSine");
        } else if (max == pro02_score) {
            //Doi thanh class winner
            $('.' + pro02_attr03).removeClass('product-css');
            $('.' + pro02_attr03).addClass("winner", 1000, "easeOutSine");

            //In diem uu tien
            $('.total_score_' + pro01_attr03).text(pro01_score);
            $('.total_score_' + pro02_attr03).text(pro02_score);
            $('.total_score_' + pro03_attr03).text(pro03_score);

            //Xoa class winner
            $('.' + pro01_attr03).removeClass('winner');
            $('.' + pro03_attr03).removeClass('winner');

            //Them lai class product
            $('.' + pro01_attr03).addClass("product-css", 1000, "easeOutSine");
            $('.' + pro03_attr03).addClass("product-css", 1000, "easeOutSine");
        } else if (max == pro03_score) {
            //Doi thanh class winner
            $('.' + pro03_attr03).removeClass('product-css');
            $('.' + pro03_attr03).addClass("winner", 1000, "easeOutSine");

            //In diem uu tien
            $('.total_score_' + pro01_attr03).text(pro01_score);
            $('.total_score_' + pro02_attr03).text(pro02_score);
            $('.total_score_' + pro03_attr03).text(pro03_score);

            //Xoa class winner
            $('.' + pro01_attr03).removeClass('winner');
            $('.' + pro02_attr03).removeClass('winner');

            //Them lai class product
            $('.' + pro01_attr03).addClass("product-css", 1000, "easeOutSine");
            $('.' + pro02_attr03).addClass("product-css", 1000, "easeOutSine");
        }
    }
</script>




