@model IEnumerable<CPS_Solution.EntityFramework.Product>

@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Compare.cshtml";
}

<div class="breadcrumb-container">
    <div class="container">
        <div class="relative">
            <ul class="bc push-up unstyled clearfix">
                <li>Home</li>
                <li class="active">Compare</li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        /* CSS for warpper */
        position: absolute;
        top: 0; left: 0;
        width: 50px;
        height: 60px;
        background-color: #F7A191;
        border-radius: 10px;
        opacity: 0.8;
        /* CSS for text */
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
        font-size: 30px;
    }
</style>


<main id="main-content" role="main">
    <div class="container">
        <div class="row">
            <div class="products-layout grid">
                @{ int bestProductID = Model.ElementAt(1).ID; }
                @foreach (var item in Model) {           
                    <div class="product" >
                        <div class="entry-main">
                            @if (item.ID == bestProductID) {
                                <div style="height:30px;">
                                    <p>WINNER</p>
                                </div>
                            } else {
                                <div style="height:30px;">
                                    <p>

                                    </p>
                                </div>
                            }
                            <h5 class="entry-title" style="border:groove; border-radius:10px;"><a href="javascrpt:void(0)">@Html.DisplayFor(modelItem => item.Name)</a></h5>
                    
                        </div>  
                        <div class="entry-media parent">
                            <img style="width:100%; height:100%" src="@Url.Content("~/Template/GFashion/img/laptop.jpg")" alt="@item.Name" class="lazyLoad thumb caption-wrapper" />
                            <div class="child">@Html.DisplayFor(modelItem => item.TotalWeightPoint)</div>
                        </div>
                        <div class="entry-main">
                            <div class="entry-description">@Html.DisplayFor(modelItem => item.strCPU)</div>
                            <div class="entry-description">@Html.DisplayFor(modelItem => item.strVGA)</div>
                            <div class="entry-description">@Html.DisplayFor(modelItem => item.strRAM)</div>
                            <div class="entry-description">@Html.DisplayFor(modelItem => item.strHDD)</div>
                            <div class="entry-description">@Html.DisplayFor(modelItem => item.strDisplay)</div>
                        </div>
                    </div>       
                }
            </div>
        </div>
    </div>
</main>




