@model IEnumerable<CPS_Solution.EntityFramework.Product>
@using CPS_Solution.EntityFramework;
@using CPS_Solution.Models;
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    DataManager data = new DataManager();
    int takeItem = 47;
}

<script src="~/Template/stylish.holobest.com/scripts/compare-products.js"></script>
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        /* CSS for warpper */
        position: absolute;
        top: 0;
        right: 5px;
        width: 50px;
        height: 60px;
        background-color: #F7A191;
        border-radius: 10px;
        opacity: 0.8;
        /* CSS for text */
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
        font-size: 30px;
    }

    .center {
        margin: auto;
        width: inherit;
    }

    .handle {
        cursor: move;
    }
</style>
<div id="page-wrap">

    <div class="page-element" style="background-color:rgba(255, 255, 255, 0.80)">
        <div class="container">
            <div class="pricing-tables-wrapper clearfix">
                <div class="pricing-table" style="margin-right: 0px">
                    <div class="pricing-table-header">
                        <div class="upper-header">
                            <h4 style="height: 100px; overflow-wrap: break-word" style="color: #fff; text-decoration: underline"><strong>Thành phần cấu hình</strong></h4>
                            <img src="~/Images/best-choice-label.jpg" style="height: 244px" />
                            <div style="height: 50px">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="stylish-button" style="background-color: #F87912; margin-top: 10px">
                                        <a href="javascript:void(0)" onclick="clicktoDetail()" style="text-decoration: underline; font-family: Tahoma, Geneva, sans-serif; font-size: 15px;">
                                            so sánh chi tiết
                                        </a>
                                    </div>
                                    if (TempData["brandInt"] != null && TempData["priceInt"] != null)
                                    {
                                        string brand = TempData["brandInt"].ToString();
                                        string price = TempData["priceInt"].ToString();
                                    <div class="stylish-button" style="background-color: #F87912">
                                        <a onclick="moveHere()" style="text-decoration: underline; font-family: Tahoma, Geneva, sans-serif; font-size: 15px;">Xem thêm</a>
                                    </div>
                                        using (Html.BeginForm("SearchByPriceAndBrand", "Product", FormMethod.Post, new { id = "formSearch" }))
                                        {           
                                    <input type="hidden" id="brands" name="brands" value="@brand" />
                                    <input type="hidden" id="prices" name="prices" value="@price" />     
                                        }
                                    <script>
                                        function moveHere() {
                                            $('#formSearch').submit();
                                        }
                                    </script>
                                    }
                                    if (Model.Count() > 2)
                                    {
                                        using (Html.BeginForm("CompareDetail", "Product", FormMethod.Post, new { id = "formDetail" }))
                                        {           
                                    <input type="hidden" id="p1" name="p1" value="@Model.ElementAt(1).ID" />
                                    <input type="hidden" id="p2" name="p2" value="@Model.ElementAt(0).ID" />
                                    <input type="hidden" id="p3" name="p3" value="@Model.ElementAt(2).ID" />
                                        }
                                    <script>
                                        function clicktoDetail() {
                                            $('#formDetail').submit();
                                        }
                                    </script>
                                    }
                                    else
                                    {
                                        int i = -1;
                                        using (Html.BeginForm("CompareDetail", "Product", FormMethod.Post, new { id = "formDetail" }))
                                        {           
                                <input type="hidden" id="p1" name="p1" value="@Model.ElementAt(0).ID" />
                                <input type="hidden" id="p2" name="p2" value="@Model.ElementAt(1).ID" />
                                <input type="hidden" id="p3" name="p3" value="@i" />
                                        }
                                    <script>
                                        function clicktoDetail() {
                                            $('#formDetail').submit();
                                        }
                                    </script>
                                    }
                                }
                            </div>
                        </div>
                        <div class="lower-header">
                            <p class="pricing-table-price" style="font-family: Tahoma, Geneva, sans-serif; font-size: 25px;">Tổng Điểm</p>
                        </div>
                        @if (User.Identity.IsAuthenticated) { 
                            <div class="upper-header">
                                <p class="pricing-table-price" style="font-weight:bold; font-family: Tahoma, Geneva, sans-serif; font-size: 20px; padding: 5px 0 5px 0">Giá Trị Của 1 Điểm</p>
                            </div>
                        }
                        else { 
                            <div class="upper-header hidden"></div>
                        }
                        
                    </div>
                    <div class="pricing-table-content">
                        <div class="table-row odd">
                            <p><strong style="font-size: 13px; font-style: italic; text-decoration: underline">CPU</strong></p>
                        </div>
                        <div class="table-row even">
                            <p><strong style="font-size: 13px; font-style: italic; text-decoration: underline">VGA</strong></p>
                        </div>
                        <div class="table-row odd">
                            <p><strong style="font-size: 13px; font-style: italic; text-decoration: underline">RAM</strong></p>
                        </div>
                        <div class="table-row even">
                            <p><strong style="font-size: 13px; font-style: italic; text-decoration: underline">HDD</strong></p>
                        </div>
                        <div class="table-row odd">
                            <p><strong style="font-size: 13px; font-style: italic; text-decoration: underline">Display</strong></p>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="pricing-table @item.ID">
                        <div class="pricing-table-header">
                            <div class="upper-header">
                                <h4 style="height:100px;overflow-wrap:break-word" title="@item.Name" class="product_id" id="@item.ID"><a href="/Product/Details?ID=@item.ID" target="_blank" style="color:#fff; text-decoration:underline"><strong>@Html.DisplayFor(modelItem => item.Name)</strong></a></h4>
                                <img src="~/@item.ImageURL" style="margin-bottom: 50px;width:299px;height:244px" />
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="lower-header">
                                    <p class="pricing-table-price product-score" product-id="@item.ID">
                                        @item.TotalWeightPoint
                                    </p>
                                </div>
                                <div class="upper-header price-ratio-@item.ID" style="color:#fff; font-size:20px; font-style:italic; padding:5px 0 5px 0">
                                    <span class="hidden">@{var minPrice = item.AliasProducts.OrderBy(x => x.Price).FirstOrDefault().Price;}</span>
                                    <span class="hidden">@{var maxPrice = item.AliasProducts.OrderByDescending(x => x.Price).FirstOrDefault().Price;}</span>
                                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Math.Round((Math.Round(((double)@minPrice / item.TotalWeightPoint) / 1000)) * 1000))
                                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Math.Round((Math.Round(((double)@maxPrice / item.TotalWeightPoint) / 1000)) * 1000))
                                </div>
                                <div class="upper-header product-price-ratio product-price-ratio-@item.ID hidden">@Math.Round(((double)minPrice/item.TotalWeightPoint + (double)maxPrice/item.TotalWeightPoint)/2)</div>                              
                            }
                            else
                            {
                                <div class="lower-header">
                                    <p class="pricing-table-price product-score" product-id="@item.ID">
                                        

                                    </p>
                                </div>
                                <div class="upper-header price-ratio-@item.ID hidden"></div>
                                <div class="upper-header product-price-ratio product-price-ratio-@item.ID hidden">@Math.Round((Math.Round((item.Price / item.TotalWeightPoint) / 1000)) * 1000)</div> 
                            }
                        </div>
                        <div class="pricing-table-content">
                            <div class="table-row odd">
                                <p style="">@data.Truncate(@item.strCPU, takeItem)</p>
                            </div>
                            <div class="table-row even">
                                <p>@data.Truncate(@item.strVGA, takeItem)</p>
                            </div>
                            <div class="table-row odd">
                                <p>@data.Truncate(@item.strRAM, takeItem)</p>
                            </div>
                            <div class="table-row even">
                                <p>@data.Truncate(@item.strHDD, takeItem)</p>
                            </div>
                            <div class="table-row odd">
                                <p>@data.Truncate(@item.strDisplay, takeItem)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="row">
            <div style="width:50%; margin: 10px auto">
                <div class="accordion fadeRight ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h5 class="ui-accordion-header ui-helper-reset ui-state-active ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="-1">
                        <i class="icon-plus-sign"></i>
                        Góp ý và báo lỗi sản phẩm
                    </h5>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                        <label for="name">Tiêu đề *</label>
                        <input type="text" id="TenFeedback" name="name" class="stylish-text-input span5" value="">
                        <label for="website">Nội dung góp ý*</label>
                        <textarea name="comment" id="NoidungFeedback" class="stylish-textarea contact-textarea span5" maxlength="4000"></textarea>
                        <div class="row">
                            <div class="span6">
                                <div class="stylish-button">
                                    <input type="submit" onclick="Feedback()" name="submit" value="Gửi Phản Hồi">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script>
    $(function () {
        $(document).ready(function () {
            var pElement = $("h4");
            for (var i = 1; i < pElement.length; i++) {
                var pID = pElement[i].attributes['id'].value;
                var pName = pElement[i].attributes['title'].value;
                sessionStorage.setItem("'product-" + pID, pID);
                sessionStorage.setItem("'product-" + pID + "-name", pName);
            };
        });
        $(".icon_find").on("click", function () {
            sessionStorage.clear();
        });
    })
</script>

<script>
    function Feedback() {
        var Ten = $("#TenFeedback").val();
        var Noidung = $("#NoidungFeedback").val();
        var string = Ten + "|" + Noidung;
        var postData = { FeedbackInfo: string };
        $.ajax({
            type: "POST",
            url: "/Product/Feedback",
            data: postData,
            success: function (data) {
                document.getElementById('ui-accordion-2-header-0').style.display = 'none';
                document.getElementById('ui-accordion-2-panel-0').style.display = 'none';
                document.getElementById('TenFeedback').value = '';
                document.getElementById('NoidungFeedback').value = '';
                alert("Chúng tôi đã nhận được góp ý của bạn, xin cám ơn!");
            },

        });

    }
</script>