@model CPS_Solution.EntityFramework.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Compare.cshtml";
}
<!-- BREADCRUMB -->
<div class="breadcrumb-container" style="height:60px">
	<div class="container">
		<div class="relative">
			<ul class="bc unstyled clearfix">
				<li><a href="~/">Trang chủ</a></li>
				<li><a href="~/Product/SearchForProduct">Sản phẩm</a></li>
				<li class="active">Chi tiết</li>
			</ul>
		</div>
	</div>
</div>
<!-- // BREADCRUMB -->

<!-- SITE MAIN CONTENT -->
<main id="main-content" role="main">
    <section class="section">
	    <div class="container">
			<div class="row">
                <!-- PRODUCT PREVIEW -->
				<div class="col-xs-12 col-sm-4">
					<div class="product-preview">
						<div class="big-image">
							<a href="@Url.Content("~/Template/GFashion/img/big-laptop.jpg")" data-toggle="lightbox">
								<img src="@Url.Content("~/Template/GFashion/img/big-laptop.jpg")" alt="" />
							</a>
						</div>
					</div>
				</div>
				<!-- // PRODUCT PREVIEW -->
                <!-- PRODUCT DETAILS -->
				<div class="col-xs-12 col-sm-8">
					<section class="product-details add-cart">
                        <header class="entry-header">
							<h2 class="entry-title uppercase">@Html.DisplayFor(model => model.Name)</h2>
						</header>
                        <article class="entry-content">
                            <figure>
                                <span class="entry-price inline-middle">@Html.DisplayFor(model => model.Price) VNĐ</span>
                                <ul class="entry-meta unstyled">
									<li>
										<span class="key">Chipset:</span>
										<span class="value">@Html.DisplayFor(model => model.strCPU)</span>
									</li>
									<li>
										<span class="key">Graphic card:</span>
										<span class="value">@Html.DisplayFor(model => model.strVGA)</span>
									</li>
                                    <li>
										<span class="key">Ram:</span>
										<span class="value">@Html.DisplayFor(model => model.strRAM)</span>
									</li>
                                    <li>
										<span class="key">Hard disk:</span>
										<span class="value">@Html.DisplayFor(model => model.strHDD)</span>
									</li>
                                    <li>
										<span class="key">Display:</span>
										<span class="value">@Html.DisplayFor(model => model.strDisplay)</span>
									</li>
								</ul>
                                <div class="clearfix"></div>
                                <figcaption class="m-b-sm">
                                    <h5 class="subheader uppercase">Quick Overview:</h5>
                                    <p>@Html.DisplayFor(model => model.Description)</p>
                                </figcaption>
                                <ul class="inline-li li-m-r-l m-t-lg">
									<li>
										<a href="javascript:void(0)" class="btn btn-default btn-lg btn-round" id="btnAdd" data-product-id="@Html.DisplayFor(model => model.ID)" data-product-name="@Html.DisplayFor(model => model.Name)">Tới nơi bán</a>
									</li>
								</ul>
                            </figure>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- // SITE MAIN CONTENT -->