@model IEnumerable<CPS_Solution.EntityFramework.Product>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
 .ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  background:#fff;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
 }
 * html .ui-autocomplete {
  height: 100px;
 }

 </style>
<div class="main-content" style="position:fixed; height:auto; width:100%; z-index: 3">
    <div class="container">
        <div class="tabbable tabs-left">
            <ul class="nav cps-tabs" data-tabs="tabs">
                <li class="active"><a href="#searchByName" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo tên</strong></a>
                </li>
                <li class=""><a href="#searchByPrice" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo giá</strong></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="searchByName">
                    @using (Html.BeginForm("SearchForProduct", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                    {
                        @Html.TextBox("productName", ViewBag.CurrentFilter as string, new { placeholder = "Từ khóa..." })
                        <button type="submit">Tìm kiếm</button>               
            }
                </div>
                <div class="tab-pane fade" id="searchByPrice">

                    @using (Html.BeginForm("SearchByPriceAndBrandTop3", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                    {
                        @Html.DropDownList("brands", ViewBag.ListBrands as List<SelectListItem>, new { @style = "width:100px;height:40px" })
                        @Html.DropDownList("prices", ViewBag.ListPrices as List<SelectListItem>, new { @style = "width:225px;height:40px" })
                        <button type="submit" style="width: 125px; margin-left: -5px; z-index: 4">Tìm kiếm</button>               
            }
                </div>
            </div>
        </div>

        <div class="hide-icon" style="display:none">
            <center><i class="icon-chevron-sign-down"></i></center>
        </div>
    </div>
</div>

<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            @if (Model.Any())
            {
                <div class="row" style="margin-top: 70px;">
                    <div id="loadItemcontainer" style="margin-top: 60px">
                        @{Html.RenderAction("ProductList", "Product", new { Model = Model });}
                    </div>
                </div>
                <div id="clickButton" class="stylish-button" style="background-color: #666699; margin-left: 46%; margin-bottom: 35px;">
                    <a onclick="clickHere()">Xem thêm</a>
                </div>
                <div id="loadingDiv" style="display: none; margin-right: auto; margin-left: auto; margin-bottom: 35px; width: 55px; height: 55px">
                    <img alt="Loading" src="@Url.Content("~/Images/loading.gif")" />
                </div>
            }
            else
            {
                <div class="row" style="margin-top: 120px;">
                    <div class="page-element gray-element" style="width: 95%; margin: 20px auto 35px auto; border-radius: 10px;">
                        <div class="container element-container standard-element">
                            <div class="row">
                                <div class="span6 element-image-left fadeLeft animated fadeInLeft" style="visibility: visible;">
                                    <img class="standard-element-image" src="~/Template/stylish.holobest.com/images/element-image1.png" alt="standard-element-image" style="width: 550px; height: 430px; margin-left: 10px;">
                                </div>

                                <div class="span6 fadeRight animated fadeInRight" style="visibility: visible; width: 520px">
                                    <h3>Rất tiếc, chúng tôi không tìm thấy kết quả nào phù hợp với từ khóa của bạn.</h3>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Hãy thử lại với những cách sau:</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Kiểm tra lại <strong>từ khóa</strong> có thể bạn đã gõ sai <strong><u>(Ví dụ: Asus3500 = As3500)</u></strong> </p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Dùng từ khóa <strong>ngắn gọn</strong> và <strong>đơn giản</strong> hơn.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p><strong>Vẫn không tìm thấy</strong> sản phẩm bạn muốn. Xin hãy <strong>cung cấp</strong> cho chúng tôi thông tin về sản phẩm.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Chúng tôi sẽ <strong>liên lạc</strong> với bạn và <strong>thông báo</strong> về tình trạng sản phẩm này.</p>
                                        </li>
                                    </ul>
                                    <ul class="list unstyled custom-list-small">
                                        <li><i class="icon-ok"></i>
                                            <p>Click vào <a href="@Url.Action("SearchForProduct", "Product")"><span style="color: blue;"><strong>đây</strong></span></a> để thử lại.</p>
                                        </li>
                                    </ul>
                                    <div class="stylish-button">
                                        <a href="@Url.Action("Recommend", "Product")"><i class="icon-thumbs-up"></i>Gửi Đề xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*Compare cart*@
<p class="list-cart stylish-button" style="border-top-left-radius:5px; border-bottom-left-radius:5px; position:fixed; top:200px; right:0px; color:white; padding:6px 6px 6px 10px; background-color: #FF3333"><i class="icon-shopping-cart"></i></p>
<div id="compare_panel" >
    <h4><strong>Danh sách sản phẩm</strong></h4>
    <ul></ul>
    <label class="compare-button">
        <span>So sánh</span>
    </label>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#compare_panel ul").html() != "") {
            return false;
        } else {
            checkSession();
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#productName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Product/SuggestProductName",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>