@model CPS_Solution.EntityFramework.ProductAlia
@{
    ViewBag.Title = "EditParser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2>Chỉnh sửa parser</h2>
@section headScript
{

    <script type="text/javascript" src="@Url.Content("/Areas/Admin/Scripts/jquery-picklist.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Areas/Admin/Scripts/jquery.ui.widget.js")"></script>
    <link type="text/css" href="@Url.Content("/Areas/Admin/Scripts/jquery.picklist.css")" rel="stylesheet" />
}
@section sidebar
{
    <!-- Main Navigation -->
    <div id="da-main-nav" class="da-button-container">
        <ul>
            <li class="active">
                <a href="dashboard.html">
                    <!-- Icon Container -->
                    <span class="da-nav-icon">
                        <img src="Areas/Admin/Dandelion/images/icons/black/32/home.png" alt="Dashboard" />
                    </span>
                    Dashboard
                </a>
            </li>
        </ul>
    </div>
}
@section mainHeader
{
}
@section footScript
{

}
<div class="grid_4">
    <div class="da-panel collapsible"> 
            	<div class="da-panel-header">
                                	<span class="da-panel-title">
                                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/icons/black/16/list.png")" alt="" />
                                        Danh sách tên của sản phẩm
                                    </span>                              
  
                 </div>
            <div class="da-panel-content">
            @using (Html.BeginForm("EditProductName", "ProductShow", FormMethod.Post, new { @class = "da-form" }))
            {
                @Html.HiddenFor(x => x.ProductID);
                <div class="da-form-inline">
                    <div class="da-form-row">
                        <div>
                            @Html.DropDownList("MainAliasID")
                        </div>
                    </div>
                </div>                                      
                <div class="da-button-row">
                    <input type="reset" value="Reset" class="da-button gray" />
                    <input type="submit" value="Summit" class="da-button green" />
                </div>
                  	
            }
        </div>   
    </div>

</div>
        <script type="text/javascript">
            $("#MainAliasID").pickList(
			{
			    sourceListLabel: "Tên có liên quan",
			    targetListLabel: "Tên hiển thị chính",
			    selectLimit: 1
			});
        </script>