<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/reset.css")" media="screen" />
    <!--  Fluid Grid System -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/fluid.css")" media="screen" />
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.theme.css")" media="screen" />
    <!--  Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/dandelion.css")" media="screen" />
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/demo.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Dandelion/css/core/core.css")" media="screen" />
        <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    @RenderSection("headScript", true)
    <title>@ViewBag.Title | CPS Solution</title>

</head>
<body>

    <!-- Main Wrapper. Set this to 'fixed' for fixed layout and 'fluid' for fluid layout' -->
    <div id="da-wrapper" class="fluid">


        <!-- Header -->
        <div id="da-header">

            <div id="da-header-top">

                <!-- Container -->
                <div class="da-container clearfix">

                    <!-- Logo Container. All images put here will be vertically centere -->
                    <div id="da-logo-wrap">
                        <div id="da-logo">
                            <div id="da-logo-img">
                                <a href="dashboard.html">
                                    <img src="@Url.Content("~/Areas/Admin/Dandelion/images/logo.png")" alt="Dandelion Admin" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <div style="float:left; margin-left:-90px">
                        <img src="@Url.Content("~/Areas/Admin/Dandelion/images/admin-panel.png")" alt="Dandelion Admin" />
                    </div>

                    <!-- Header Toolbar Menu -->
                    <div id="da-header-toolbar" class="clearfix">
                        <div id="da-user-profile">
                            <div id="da-user-avatar">
                                <img src="@Url.Content("~/Areas/Admin/Dandelion/images/pp.jpg")" alt="" />
                            </div>
                            <div id="da-user-info">
                                Welcome, @User.Identity.Name
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                    <span class="da-user-title">Administrator</span>
                                    }
                                    else if (User.IsInRole("Staff"))
                                    {
                                    <span class="da-user-title">Staff</span>
                                    }
                                    else
                                    {
                                    <span class="da-user-title">Member</span>
                                    }
                                }
                            </div>
                            <ul class="da-header-dropdown">
                                <li class="da-dropdown-caret">
                                    <span class="caret-outer"></span>
                                    <span class="caret-inner"></span>
                                </li>
                                <li class="da-dropdown-divider"></li>
                                <li><a href="dashboard.html">Thay đổi mật khẩu</a></li>
                                <li class="da-dropdown-divider"></li>
                                <li><a href="@Url.Action("LogOff", "Authentication")">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <div id="da-header-button-container">
                            <ul>
                                @*    <li class="da-header-button notif">
                                    @{
                                        CPS_Solution.Areas.Admin.Models.ShowInfo show = (CPS_Solution.Areas.Admin.Models.ShowInfo)TempData["ShowInfo"];
                                        if (show != null)
                                        {
                                            if (show.NumberOfStatus > 0)
                                            {
                                        <span class="da-button-count">@show.NumberOfStatus</span>
                                            }
                                        <a href="#">Thông báo</a>
                                        <ul class="da-header-dropdown">
                                            <li class="da-dropdown-caret">
                                                <span class="caret-outer"></span>
                                                <span class="caret-inner"></span>
                                            </li>
                                            <li>
                                                <span class="da-dropdown-sub-title">Thông báo</span>
                                                <ul class="da-dropdown-sub">
                                                    <li class="read">
                                                        <a href="#">
                                                            <span class="message">@show.NumberOfProductNoPoint  linh kiện chưa có trọng số.
                                                            </span>
                                                            <span class="time">@show.LastExecutionDate
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="read">
                                                        <a href="#">
                                                            <span class="message">@show.NumberofRecordUnratedWeight sản phẩm được đề cử.
                                                            </span>
                                                            <span class="time">@show.LastExecutionDate
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <a class="da-dropdown-sub-footer">Xem tất cả thông báo
                                                </a>
                                            </li>
                                        </ul>
                                        }
                                    }

                                </li>*@
                                <li class="da-header-button logout">
                                    <a href="@Url.Action("LogOff", "Authentication")">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div id="da-header-bottom">
                <!-- Container -->
                <div class="da-container clearfix">
                    <div id="da-search">
                        <form>
                            <gcse:searchbox-only></gcse:searchbox-only>
                        </form>
                    </div>
                    <!-- Breadcrumbs -->
                    <div id="da-breadcrumb">
                        @RenderSection("mainHeader", false)
                    </div>

                </div>
            </div>
        </div>

        <script>
            (function () {
                var cx = '008254990418147094948:3tfz3vmcqmi';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript'; gcse.async = true; gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
            })(); </script>


        <!-- Content -->
        <div id="da-content">

            <!-- Container -->
            <div class="da-container clearfix">

                <!-- Sidebar Separator do not remove -->
                <div id="da-sidebar-separator"></div>

                <!-- Sidebar -->
                <div id="da-sidebar">

                    @RenderSection("sidebar", true)
                </div>

                <section id="main" class="clearfix">
                    <!-- Main Content Wrapper -->

                    <div id="da-content-wrap" class="clearfix">

                        <div id="da-content-area">
                            @Html.Action("TakeSummary", "Product")
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
            <!-- Footer -->
            <div id="da-footer">
                <div class="da-container clearfix">
                    <p>
                        Copyright 2014. CPS Solution Admin. All Rights Reserved.
                </div>
            </div>
        </div>
        @RenderSection("footScript", false)
    </div>
    <script>
        setInterval(function () {
            $.ajax({
                url: "/Admin/Product/GetNotifyForAdmin",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ username: "staff" }),
                success: function (data) {
                    var value = $("#newRecommend").text();
                    var value1 = $("#noPointHardwares").text();
                    var value2 = $("#newLaptop").text();
                    var value3 = $("#newHardware").text();

                    if (data != "NoneData") {
                        var target = $("#newRecommend");
                        var target1 = $("#noPointHardwares");
                        var target2 = $("#newLaptop");
                        var target3 = $("#newHardware");
                        target.text(data.NumberOfNewRecommends + ' đề xuất mới chờ duyệt');
                        target1.text(data.NumberOfHardwaresNoPoint + ' linh kiện chưa có điểm');
                        target2.text(data.NumberOfNewLaptops + ' laptop mới chờ duyệt');
                        target3.text(data.NumberOfNewHardwares + ' linh kiện mới chờ duyệt');
                        if (value != target.text()) {
                            target.effect("highlight", 3000);
                        }                     
                        if (value1 != target1.text()) {
                            target1.effect("highlight", 3000);
                        }                      
                        if (value2 != target2.text()) {
                            target2.effect("highlight", 3000);
                        }                   
                        if (value3 != target3.text()) {
                            target3.effect("highlight", 3000);
                        }
                    }

                },
                error: function (data) {

                }
            });
        }, 5000);
    </script>
</body>
</html>
